[MCN ADVOGADOS]/5iemensBdmoWCqAc.json
{
  "createdAt": "2025-02-26T23:55:41.509Z",
  "updatedAt": "2025-03-28T15:31:20.681Z",
  "id": "5iemensBdmoWCqAc",
  "name": "[MCN ADVOGADOS]-[EVOLUTION_DIFY]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variaveis').item.json.celular }}",
        "messageData": "={{ $('Variaveis').item.json.conversation }}",
        "tail": true
      },
      "id": "7078f4df-e307-4ee1-ab3b-bd7aa0f3d8dc",
      "name": "Salva msg",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1300,
        740
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.celular }}",
        "options": {}
      },
      "id": "67152d7f-be51-4868-8b27-1004ad5816d6",
      "name": "Consulta msg",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1080,
        740
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2e0a1c74-f04d-428c-b99f-db3c0ce31afc",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "417fd222-b020-4bf5-8d96-83f3ea00b2e6",
      "name": "Primeira msg",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        740
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "7aafbf9a-9729-43f1-9f77-278b664469ae",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        540
      ],
      "webhookId": "ee9be1af-37cc-40fb-becb-a49edbc1646a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07a30880-ff38-4636-ba58-d176ecf5c2af",
              "leftValue": "={{ $json.key.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "350c5180-0c16-4ec7-979f-2bfb60aac259",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.celular }}",
        "keyType": "list",
        "options": {}
      },
      "id": "a17870e3-949d-45ca-9e4f-d6cd2273f5fc",
      "name": "Consulta msg novamente",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -420,
        540
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.celular }}"
      },
      "id": "f020cc49-7a8d-4295-82ff-34d091405d36",
      "name": "Limpa msgs2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3160,
        780
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "id": "2dc5ca25-cfb9-4011-b5b6-c0236f141f2c",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        -820,
        1000
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audio64",
        "options": {
          "fileName": "transcricao.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "id": "12d9a70f-b44a-4867-a513-976b0f81b757",
      "name": "Converter em Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -980,
        1000
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "audio64",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "5d5c38db-1946-44a1-93db-7b9b6167ad7e",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -1140,
        1000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6cd097d-3a3a-4cdc-a6f1-13c118a4618c",
              "name": "transcricao",
              "value": "={{\n  $node['Webhook'].json.body.data.message.imageMessage?.caption\n    ? (\n        $json.content \n          ? `${$json.content} Legenda: ${$node['Webhook'].json.body.data.message.imageMessage.caption } }` \n          : 'Erro: json.content ausente para imagem com legenda'\n      ) \n    : `${$json.content || ''} ${$json.text ? $json.text : ''}`\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0a756436-fef9-4496-9479-f45d4ad08adb",
      "name": "Transcrição",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -660,
        1000
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "image64",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "1ca65db9-46ae-49b5-a6b1-0284ae219297",
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -1140,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image64",
        "options": {
          "fileName": "imagem.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "132571dd-b1f7-4682-9f84-7e2a7e6cbf61",
      "name": "Converter em Imagem",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -980,
        1260
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "Descreva todo o conteúdo da imagem, sem Acentos e sem hífens",
        "inputType": "base64",
        "options": {}
      },
      "id": "b9f9cce2-c50b-4ed4-9de9-a2d3c5152d44",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -820,
        1260
      ],
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.data.message.mediaUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "0be86546-1aac-4d4c-b7a0-3c3b6413b751",
      "name": "Baixar audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1300,
        1000
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.data.message.mediaUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "6dce831f-ad7d-4c3e-a580-e4ce6fdbb6f5",
      "name": "Baixar imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1300,
        1260
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Variaveis').item.json.id_planilha }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1578736974,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DyE1-YVl5uR2usKdD_QEORPXoVr9ObGFgglIt1BS0qs/edit#gid=1578736974"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "celular",
              "lookupValue": "={{ $('Variaveis').item.json.celular }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9cc07814-f328-4ca7-a86a-4d73f355ffa0",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2680,
        920
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32d59737-a408-4097-ae6a-cbb435afde8b",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b85f70-ec85-40ec-b9d3-e8f4592f8676",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1860,
        900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ec39f15-8a96-4e19-b459-9078035f0d99",
              "name": "celular",
              "value": "={{ (()=>{\n\n  var entrada = $json.body.data.key.remoteJid\n\n    const partes = entrada.split('@');\n    \n    // Pegar a primeira parte\n    let primeiraParte = partes[0];\n    \n    // Verificar se tem 13 caracteres\n    if (primeiraParte.length !== 13) {\n        // Inserir '9' na 5ª posição (índice 4)\n        primeiraParte = primeiraParte.slice(0, 4) + '9' + primeiraParte.slice(4);\n    }\n\nreturn primeiraParte\n\n})()\n}}",
              "type": "string"
            },
            {
              "id": "f853db83-6be1-4ee2-93fd-19c955345814",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "fe55b87a-c26f-412c-bc13-de0663d0aaf0",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "5acbc6a3-2627-40dd-a5b3-0818f6cd10cd",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "ed90fdce-325a-4ec2-8794-5ec8eb347694",
              "name": "api_key",
              "value": "app-qQknWnD21NdHxr9Ofo0qgy8B",
              "type": "string"
            },
            {
              "id": "e1ac8d3c-b336-4cbd-ab7d-0ab23f240dd7",
              "name": "dify_url",
              "value": "https://dify-api.robotriz.com.br/v1/chat-messages",
              "type": "string"
            },
            {
              "id": "ebc64d7b-2a21-4879-b7c4-90b71848f33b",
              "name": "evolution_url",
              "value": "https://evolution.robotriz.com.br/message/sendText/mcn_advogados_venda",
              "type": "string"
            },
            {
              "id": "f5736b37-cbdb-456f-ab20-c0d25d2a97ed",
              "name": "evolution_apikey",
              "value": "5511761CC5EE-445F-B55A-22A8FDDCFEA2",
              "type": "string"
            },
            {
              "id": "bfd513f9-0c8a-45ff-b2a1-2bcfc228e07e",
              "name": "id_planilha",
              "value": "1DyE1-YVl5uR2usKdD_QEORPXoVr9ObGFgglIt1BS0qs",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4271fb95-3e95-4028-a90d-8f39d4e0c8e6",
      "name": "Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3780,
        940
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "772cb82b-59c4-4f89-8b4a-656d3f8c1226",
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "019ed50a-9616-4a4a-af08-e8317e239faa",
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "id": "e2716f91-460e-4706-82c1-71d0b1b55cd6",
      "name": "Tipo de mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1640,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f10a56af-ec7b-48cd-aa36-1a6d14488814",
              "leftValue": "={{ $('Dados Lead').item.json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06323079-9971-4fe0-8b42-27ca982160a7",
      "name": "Não tem conversation_id",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DyE1-YVl5uR2usKdD_QEORPXoVr9ObGFgglIt1BS0qs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1578736974,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DyE1-YVl5uR2usKdD_QEORPXoVr9ObGFgglIt1BS0qs/edit#gid=1578736974"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Dify').item.json.conversation_id }}",
            "celular": "={{ $('Variaveis').item.json.celular }}"
          },
          "matchingColumns": [
            "celular"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "cc9743d6-5090-4357-a453-bafa843446a4",
      "name": "Atualiza conversation_id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "883441bb-4af1-4ada-84fa-ff750dc06d71",
              "name": "=query",
              "value": "={{\n\n(()=>{\n\n  let arrMensagens = $json.propertyName;\n\n  return arrMensagens.join(\" \").replace(/(\\r\\n|\\n|\\r)/gm, ' ');\n})()\n\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7b50d76c-ec97-4fd3-84b0-86b23337111f",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.dify_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ \n(()=>{\n  return $json.transcricao.replace(/[\\n\\r]/g, '').replace('\"','');\n})()\n\n}}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Dados Lead').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "eed08730-2b86-4309-b026-5db25ea99e3b",
      "name": "Dify1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        1000
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f10a56af-ec7b-48cd-aa36-1a6d14488814",
              "leftValue": "={{ $('Dados Lead').item.json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b946ec9e-9ff7-4bc5-ad0a-9b7597062d72",
      "name": "Não tem conversation_id1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19A6CvIuNWGGXAiHCCWLX6PmF6YlmXt-tCGkkyYYDlzA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2138516065,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19A6CvIuNWGGXAiHCCWLX6PmF6YlmXt-tCGkkyYYDlzA/edit#gid=2138516065"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Dify1').item.json.conversation_id }}",
            "celular": "={{ $('Variaveis').item.json.celular }}"
          },
          "matchingColumns": [
            "celular"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "5e495bc9-7174-4792-b33d-63dcf3f62ac1",
      "name": "Atualiza conversation_id1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        40,
        900
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variaveis').item.json.evolution_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Dify1').item.json.answer }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "f3a00d4d-7ea6-4b8e-a1a7-31f8cfa8f219",
      "name": "Envia resposta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "3e715460-92ae-4936-b961-f7cc2cd9daf9",
      "name": "Limpa msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1720,
        -120
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variaveis').item.json.evolution_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Dify').item.json.answer }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "2447f64a-88ae-4138-8425-bd6cfd6084f4",
      "name": "Envia resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        -40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.dify_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": {},\n  \"query\": \"{{ $('Mensagens').item.json.query }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Dados Lead').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "2c97c57e-a001-4581-92f0-0b8f9ef661a8",
      "name": "Dify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        540
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Variaveis').item.json.id_planilha }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1578736974,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DyE1-YVl5uR2usKdD_QEORPXoVr9ObGFgglIt1BS0qs/edit#gid=1578736974"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "celular": "={{ $('Variaveis').item.json.celular }}",
            "data_cadastro": "={{ $now.toString() }}"
          },
          "matchingColumns": [
            "celular"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "a3e4d4f2-0992-415e-96e0-97daef5b1903",
      "name": "Cadastrar Cliente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2160,
        1020
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e30aaf3-3bed-4fd0-95b8-9f25a23f3da3",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0a332599-b5cc-4ad5-aa3b-509ebc843293",
      "name": "Existe cliente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2460,
        920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84d44b09-555c-4489-98d6-45cab442ea99",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5535997638844",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7a696fd8-dd0a-4020-aae8-984c4f70d1b7",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5573998251408",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ed7aafc9-6c4d-48c7-9fe5-316eb643cb37",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5527997748634",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9b4aa756-12d3-43bf-81af-1d9f98a51049",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5527998640510",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "46f318d1-5f3b-41ac-8ea5-1f2902ba01d0",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5527997193833",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2096a8a5-708b-4d2f-bb6f-776c4a4334cf",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5527998211033",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e669b2b7-1bd8-4182-9f4d-6fb209b35269",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5527999761843",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "26b04eda-bdd9-4d92-b246-1087b1d98d4e",
      "name": "Telefones liberados",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3520,
        940
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variaveis').item.json.celular }}",
        "messageData": "=##OK##",
        "tail": true
      },
      "id": "03e93ff5-2608-4e20-a7ca-0636056921d3",
      "name": "Salva msg OK",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2700,
        260
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=inicio_{{ $('Variaveis').item.json.celular }}",
        "messageData": "={{ $now.toString() }}"
      },
      "id": "ce341d3a-9741-42a9-a0df-c5ef17897725",
      "name": "Inicia REDIS",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2620,
        300
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=inicio_{{ $('Variaveis').item.json.celular }}",
        "options": {}
      },
      "id": "b734b067-6322-47f7-ad25-1e1764a66c8b",
      "name": "Consulta Inicio REDIS",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3020,
        320
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb9c0874-d63c-4b63-a11c-a606bab9bfce",
              "leftValue": "={{ $json.propertyName.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "490712eb-6a95-4987-9e76-f8e6730ee887",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2840,
        320
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=inicio_{{ $('Variaveis').item.json.celular }}",
        "options": {}
      },
      "id": "da217234-34a0-4876-aade-a53f04c3d988",
      "name": "Consulta Inicio REDIS1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -600,
        800
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d43c5477-de85-4bba-bfda-95955a58b7ea",
              "leftValue": "={{ $json.propertyName[0].toDateTime() }}",
              "rightValue": "=",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8df8a25f-5443-4e5e-bf0d-9f33b2b7db6e",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        800
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "resposta",
        "options": {}
      },
      "id": "20887bc7-7cef-4ada-a2c6-e89360b34a98",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1020,
        560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "29d391a9-23d1-4384-915e-32d31ee28409",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f869ab-222a-499e-aa33-3d712b1c98bd",
              "name": "resposta",
              "value": "={{ $json.answer.split(/(?<=\\.\\s)|(?<=!\\s)|(?<=\\?\\s)/).map(part => part.trim()).filter(part => part.length > 0) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "bb50aa9b-7f59-40f8-83e0-aec3979bb114",
      "name": "Quebrar mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b070f400-8d75-4e27-b523-17a37aac7e22",
        "options": {}
      },
      "id": "f0d1469c-d832-42af-bde1-02e1d64634f5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4020,
        940
      ],
      "webhookId": "b070f400-8d75-4e27-b523-17a37aac7e22"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variaveis').item.json.evolution_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Loop Over Items').item.json.resposta }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "1868fb68-a5bf-487a-8d8f-eea285ca91ac",
      "name": "Envia resposta2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/chat/sendPresence/mcn_advogados_venda",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variaveis').item.json.evolution_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"delay\": 5000,\n  \"presence\": \"composing\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "12dff024-9d95-41f7-9d8d-8691daea5438",
      "name": "Digitando...",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07a30880-ff38-4636-ba58-d176ecf5c2af",
              "leftValue": "={{ $('Variaveis').item.json.celular }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "95b323ba-028d-4e35-a22f-e87da7fc4a56",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        420
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "3c0ba0e3-9f00-4570-8248-dbd600888278",
      "name": "Limpa msgs1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1760,
        340
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f10a56af-ec7b-48cd-aa36-1a6d14488814",
              "leftValue": "={{ $('Dados Lead').item.json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3cdf0ee5-bb7b-43dd-87c5-afdd3fc75d65",
      "name": "Não tem conversation_id2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        540
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1DyE1-YVl5uR2usKdD_QEORPXoVr9ObGFgglIt1BS0qs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1578736974,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DyE1-YVl5uR2usKdD_QEORPXoVr9ObGFgglIt1BS0qs/edit#gid=1578736974"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Dify').item.json.conversation_id }}",
            "celular": "={{ $('Variaveis').item.json.celular }}"
          },
          "matchingColumns": [
            "celular"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "bf0bbf1c-162c-4a5f-9501-11fbaaef6950",
      "name": "Atualiza conversation_id2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    }
  ],
  "connections": {
    "Salva msg": {
      "main": [
        [
          {
            "node": "Consulta msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msg": {
      "main": [
        [
          {
            "node": "Primeira msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primeira msg": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Consulta msg novamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limpa msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msg novamente": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter em Audio": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Converter em Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrição": {
      "main": [
        [
          {
            "node": "Dify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Converter em Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter em Imagem": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar audio": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar imagem": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Existe cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis": {
      "main": [
        [
          {
            "node": "Telefones liberados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Salva msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não tem conversation_id": {
      "main": [
        [
          {
            "node": "Atualiza conversation_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Dify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza conversation_id": {
      "main": [
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify1": {
      "main": [
        [
          {
            "node": "Não tem conversation_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não tem conversation_id1": {
      "main": [
        [
          {
            "node": "Atualiza conversation_id1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza conversation_id1": {
      "main": [
        [
          {
            "node": "Envia resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia resposta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify": {
      "main": [
        [
          {
            "node": "Não tem conversation_id2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe cliente": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar Cliente": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telefones liberados": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Inicio REDIS": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Inicia REDIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Inicio REDIS1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia resposta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar mensagem": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia resposta2": {
      "main": [
        [
          {
            "node": "Digitando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitando...": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Limpa msgs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não tem conversation_id2": {
      "main": [
        [
          {
            "node": "Atualiza conversation_id2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quebrar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza conversation_id2": {
      "main": [
        [
          {
            "node": "Quebrar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.robotriz.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "2273",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2b1c1a3d6d10",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "mcn_advogados_venda",
            "data": {
              "key": {
                "remoteJid": "553597638844@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0C9EF2EF5D3C6D99C1A"
              },
              "pushName": "Acácio Araujo MG",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Estou em uma união estável há quatro anos, mas nosso relacionamento sempre foi conturbado. Inicialmente, namorávamos à distância — eu morava em São Paulo, e ela, no Espírito Santo — sem qualquer formalização de união. Em 2020, ela engravidou da nossa filha, Alice, e, nesse período, decidimos formalizar uma declaração de união estável apenas para incluí-la no plano de saúde (ou seja, uma declaração falsa).\n\nPara estar mais presente na vida da minha filha, larguei meu emprego em São Paulo e me mudei para Vitória-ES em 2022. Durante esses quatro anos, mantive o relacionamento apenas por nossa filha, mas dormindo em quartos separados. No final de setembro de 2024, ela decidiu sair de casa, mas, mesmo assim, continuamos tendo contato.\n\nEm janeiro de 2025, fiquei desempregado e aceitei uma oportunidade de trabalho em São Paulo. Durante esse período, deixei meu carro com ela para facilitar o transporte da nossa filha até a escola. Nos últimos meses, eu vinha a Vitória a cada 15 dias, e a relação aparentava estar normal. No entanto, no último final de semana, ao viajar para visitar minha filha e buscar o carro de volta, ela desapareceu com o veículo e nossa filha, alegando que precisava conversar com um advogado e que teria direito a 50% de tudo.",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "SXZoH4WuzmBHQQ==",
                    "senderTimestamp": "1742383828",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "uDPLHY+mf6I9Ow==",
                    "recipientTimestamp": "1741892608"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "4sifesu7INE3u3wpRVT4SyXfQzidwOPCSTDXql6LnfY="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1743173004,
              "instanceId": "60c428cb-330f-459f-b9af-d3a527e18c65",
              "source": "web"
            },
            "destination": "https://webhook.robotriz.com.br/webhook/b070f400-8d75-4e27-b523-17a37aac7e22",
            "date_time": "2025-03-28T11:43:24.816Z",
            "sender": "5527996428010@s.whatsapp.net",
            "server_url": "https://evolution.robotriz.com.br",
            "apikey": "5511761CC5EE-445F-B55A-22A8FDDCFEA2"
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook/b070f400-8d75-4e27-b523-17a37aac7e22",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "4fa0ef48-704a-4fbd-be8a-7e017b6e31fb",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-02-26T23:55:34.456Z",
      "updatedAt": "2025-02-26T23:55:34.456Z",
      "id": "wXiOtXoVs8IO8LX6",
      "name": "MCN ADVOGADOS"
    }
  ]
}