[MCN ADVOGADOS]/P2o6e7UZmghgXM3r.json
{
  "createdAt": "2025-04-15T18:26:21.939Z",
  "updatedAt": "2025-04-15T20:20:42.753Z",
  "id": "P2o6e7UZmghgXM3r",
  "name": "[MCN ADVOGADOS]-[DB][CADASTRO E CONSULTA DE LEADS]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=\n{\n  \"nome\": \"{{ $('Consulta Cliente').item.json.nome }}\"\n}",
        "options": {}
      },
      "id": "ddfcb259-f5fd-4d27-bc3b-0a5f12ea20e8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f853db83-6be1-4ee2-93fd-19c955345814",
              "name": "remoteJid",
              "value": "={{ $json.body.remoteJid }}",
              "type": "string"
            },
            {
              "id": "c715f85d-ef4a-4ae6-b3ad-2c29627bc359",
              "name": "id_empresa",
              "value": "={{ $json.body.id_empresa }}",
              "type": "string"
            },
            {
              "id": "672bf534-adc9-4580-a26b-6b6c1eae2a5f",
              "name": "acao",
              "value": "={{ $json.body.acao }}",
              "type": "string"
            },
            {
              "id": "15e0e384-4a32-44b7-9587-2a6e54d0bc4f",
              "name": "nome",
              "value": "={{ $json.body.nome }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "07565930-4e90-4ba5-9fe2-da19100f1903",
      "name": "Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        380
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_whatsapp",
              "keyValue": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "keyName": "id_empresa",
              "keyValue": "={{ $('Variaveis').item.json.id_empresa }}"
            }
          ]
        }
      },
      "id": "e8b55339-b9ed-412a-9d7a-5a9c8e66ef38",
      "name": "Consulta Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -20,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "AUtZf9R6OsGpTLQi",
          "name": "Supabase - Clientes Robotriz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Variaveis').item.json.nome }}"
            }
          ]
        }
      },
      "id": "194db983-f7f0-4b96-b777-9e94f73f0d96",
      "name": "Altera Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "AUtZf9R6OsGpTLQi",
          "name": "Supabase - Clientes Robotriz"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Variaveis').item.json.acao }}",
                    "rightValue": "consulta_cliente",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "consulta_cliente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0e5345d1-9df9-4153-ab8f-afd6d88fdcea",
                    "leftValue": "={{ $('Variaveis').item.json.acao }}",
                    "rightValue": "altera_cliente",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "altera_cliente"
            }
          ]
        },
        "options": {}
      },
      "id": "d897f66b-ab67-4f8e-b479-10e7b80db1b8",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        200,
        380
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a2b6dfe0-f388-4c57-a60a-402be7f6c401",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4927d942-d1af-41c8-b28b-9de56d1c085c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        380
      ],
      "webhookId": "a2b6dfe0-f388-4c57-a60a-402be7f6c401"
    }
  ],
  "connections": {
    "Variaveis": {
      "main": [
        [
          {
            "node": "Consulta Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Cliente": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Altera Cliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Altera Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.robotriz.com.br",
            "user-agent": "python-httpx/0.27.2",
            "content-length": "44",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "content-type": "application/json",
            "x-forwarded-for": "5.161.231.166",
            "x-forwarded-host": "webhook.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9292266f8f54",
            "x-real-ip": "5.161.231.166"
          },
          "params": {},
          "query": {},
          "body": {
            "remoteJid": "553597638844@s.whatsapp.net",
            "id_empresa": "3cfc7516-ab02-4ca0-b44b-ac9edb99fc5e",
            "nome": "Acácio Araujo",
            "acao": "consulta_cliente"
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook/ca81b39c-b6db-4077-b956-7ab96dc26a2e",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "de49f1c0-3c10-4b4f-916c-9fc8456873f8",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-02-26T23:55:34.456Z",
      "updatedAt": "2025-02-26T23:55:34.456Z",
      "id": "wXiOtXoVs8IO8LX6",
      "name": "MCN ADVOGADOS"
    }
  ]
}