[PADRAO]/MWFkv85QwiN5kmf8.json
{
  "createdAt": "2024-07-11T00:24:59.443Z",
  "updatedAt": "2024-07-11T16:24:03.499Z",
  "id": "MWFkv85QwiN5kmf8",
  "name": "[1] Google Agendamento 1/1",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "name": "CalendarAvailability",
        "description": "Busca os horários ocupados na agenda e retorna uma string.",
        "workflowId": "=s4XUgLyHXyIgYsTQ"
      },
      "id": "d3ea5653-f0ca-4329-ba6f-f606d0eb23e8",
      "name": "Workflow Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -300,
        1140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Secretária Agendamento",
        "height": 241.36327107467457,
        "width": 403.4636238200387,
        "color": 7
      },
      "id": "1a3dafe2-39d1-4988-9d9b-a99c62751a7e",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        833.1687242798362
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.message.content.output.consulta.data }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "Inicio consulta",
        "options": {
          "timezone": true
        }
      },
      "id": "73732207-bc9e-44cb-8489-a8c437749474",
      "name": "Início Consulta",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        580,
        900
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json['Inicio consulta'] }}",
        "timeUnit": "hours",
        "duration": 1,
        "outputFieldName": "Final da consulta",
        "options": {
          "includeInputFields": false
        }
      },
      "id": "cbc895c2-7311-4cbe-a31e-e485e820485a",
      "name": "Final da Consulta",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        900
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "contato@robotriz.com.br",
          "mode": "list",
          "cachedResultName": "contato@robotriz.com.br"
        },
        "start": "={{ $('Início Consulta').item.json['Inicio consulta'] }}",
        "end": "={{ $json['Final da consulta'] }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [],
          "color": "5",
          "description": "=Telefone: {{ $('Dados').item.json.sessionId }}",
          "showMeAs": "opaque",
          "summary": "={{ $('Dados').item.json.Nome }} | Consulta"
        }
      },
      "id": "ec44db4a-d847-4ec5-914f-c2ed5922a7e9",
      "name": "Criar Agendamento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        960,
        900
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "27WinJTE9Con8wAf",
          "name": "[ROBOTRIZ] GOOGLE CALENDAR"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7c873c5d-8aee-4b63-bb10-fadf1ba27bb8",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=confirmada com sucesso",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "971cadd6-6c8e-4845-87e1-ff711c0fba49",
              "leftValue": "={{ $json.output }}",
              "rightValue": "confirmado com sucesso",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "d4c952f2-fa1d-42c4-9b0e-de62be68eef7",
      "name": "Agendou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -120,
        920
      ]
    },
    {
      "parameters": {
        "sessionTTL": 900
      },
      "id": "0361dfb6-3c7c-4734-86d6-b46992cd61ef",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.2,
      "position": [
        -440,
        1140
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Dados').item.json['ID Botconversa'] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "={{ $('Dados').item.json[\"Flow\"] }}"
            }
          ]
        }
      },
      "id": "4a5b3cfc-4a4a-4593-aa81-189e5f5c2cc8",
      "name": "Enviar flow",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        1120
      ],
      "typeVersion": 2,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Dados').item.json['ID Botconversa'] }}/custom_fields/{{ $('Dados').item.json['ID Resposta_Agendamento'] }}/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "f991eda6-8035-4a9b-ba66-b727dd01821f",
      "name": "Campo Personalizado - Resposta_Agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        120,
        1120
      ],
      "typeVersion": 2,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fdc7d9f-f0fb-47d0-bda0-3f5535ebf5e6",
              "name": "chatInput",
              "value": "={{ $json.body.Input }}",
              "type": "string"
            },
            {
              "id": "1094ca87-fbc9-4922-80ff-9a5e8fd50fe2",
              "name": "sessionId",
              "value": "={{ $json.body.Telefone }}",
              "type": "string"
            },
            {
              "id": "1d7d3127-b857-4ce1-9f1c-42741def9c3a",
              "name": "ID Botconversa",
              "value": "={{ $json.body.ID }}",
              "type": "string"
            },
            {
              "id": "42d374ac-4421-41d0-a1c3-142b281a2a86",
              "name": "Nome",
              "value": "={{ $json.body.Nome }}",
              "type": "string"
            },
            {
              "id": "f1eaab43-4160-4da6-b6d7-a380033f7d86",
              "name": "Flow",
              "value": "4650250",
              "type": "string"
            },
            {
              "id": "f30d47ee-bc9a-4080-ad53-74690a9fc771",
              "name": "ID Resposta_Agendamento",
              "value": "2618385",
              "type": "string"
            },
            {
              "id": "73a1cf98-ccfb-4e0f-975f-025361aeac45",
              "name": "ID DataConsulta",
              "value": "2621798",
              "type": "string"
            },
            {
              "id": "218e1c62-ce85-44ab-89ee-1308d6685b19",
              "name": "ID Event ID",
              "value": "2621799",
              "type": "string"
            },
            {
              "id": "394242fb-425c-4d9e-b403-d2c3c3c000bc",
              "name": "ID HorarioConsulta",
              "value": "2621800",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8c75efe-9008-49c2-8e4b-2ba838382e81",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -880,
        920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Dados').item.json['ID Botconversa'] }}/custom_fields/{{ $('Dados').item.json['ID Resposta_Agendamento'] }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Início Consulta').item.json['Inicio consulta'].toDateTime().format('dd/MM/yy') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6390df91-15d1-4303-871f-d8c2e32ee243",
      "name": "Campo Personalizado - Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        1100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Dados').item.json['ID Botconversa'] }}/custom_fields/{{ $('Dados').item.json['ID Resposta_Agendamento'] }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Transforma Resposta em Json').item.json.message.content.output.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "id": "44898d49-fa0d-4973-a700-32a3360c1d82",
      "name": "Campo Personalizado - Resposta_Agendamento1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        1300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Dados').item.json['ID Botconversa'] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $('Dados').item.json[\"Flow\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "40acae80-ff8a-443e-8579-05d62f75779e",
      "name": "Enviar flow1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        1300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Dados').item.json['ID Botconversa'] }}/custom_fields/{{ $('Dados').item.json['ID Resposta_Agendamento'] }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Início Consulta').item.json['Inicio consulta'].toDateTime().format('HH:mm') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b70afe1e-ad76-43e5-bef8-d719927b679d",
      "name": "Campo Personalizado - Hora",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-05-13",
        "options": {
          "maxTokens": 1000,
          "temperature": 0.1
        }
      },
      "id": "477fae71-a6fd-4800-a7e4-1371c9177851",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -580,
        1140
      ],
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Status\n\n**Agendado:**\ncolorId: 5 - #fbd75b (Amarelo claro)\n\n**Confirmado:**\ncolorId: 2 - #7ae7bf (Verde claro)\n\n**Compareceu:**\ncolorId: 10 - #51b749 (Verde escuro)\n\n**Faltou:**\ncolorId: 11 - #dc2127 (Vermelho)\n\n\n\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 288.3959141437429,
        "width": 304.79012345678984
      },
      "id": "5b45f2e1-e2e0-49f7-a7e9-3909a056074c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Cores Google Calendar\n\ncolorId: 1 - #a4bdfc (Azul claro)\ncolorId: 2 - #7ae7bf (Verde claro)\ncolorId: 3 - #dbadff (Roxo claro)\ncolorId: 4 - #ff887c (Rosa claro)\ncolorId: 5 - #fbd75b (Amarelo claro)\ncolorId: 6 - #ffb878 (Laranja claro)\ncolorId: 7 - #46d6db (Ciano)\ncolorId: 8 - #e1e1e1 (Cinza)\ncolorId: 9 - #5484ed (Azul escuro)\ncolorId: 10 - #51b749 (Verde escuro)\ncolorId: 11 - #dc2127 (Vermelho)\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 288.2205132933765,
        "width": 309.9588477366254,
        "color": 2
      },
      "id": "6606f71f-d7a1-4f4d-a87e-8c307b116c16",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Alterar\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 233.77646090534978,
        "width": 173.64325116552516,
        "color": 4
      },
      "id": "97545401-6a64-4cb4-bd58-f8f70e3b1a40",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Dados').item.json['ID Botconversa'] }}/custom_fields/{{ $('Dados').item.json['ID Event ID'] }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Criar Agendamento').item.json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9b4ec9dc-0016-4a64-8c02-62810a550513",
      "name": "Campo Personalizado - Event ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        1100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-05-13",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-05-13"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é uma assistente capaz de transformar o texto com informações da consulta de input em um Json formato no seguinte modelo:\n\n{\n  \"output\": {\n    \"consulta\": {\n      \"data\": \"2024-05-27T11:00:00\"\n    },\n    \"mensagem\": \"Sua consulta está confirmada com sucesso para segunda-feira, 27 de maio de 2024, às 11:00.\"\n  }\n}\n\nEm hipótese alguma gere uma output fora desse padrão do json\n",
              "role": "system"
            },
            {
              "content": "=Por favor, transforme o texto em um json válido:\n\n{{ $json.output }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "a5ce48a9-92ad-4201-9ea5-1de5099e3284",
      "name": "Transforma Resposta em Json",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        160,
        900
      ],
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bfa14733-534c-48f1-bd10-8e01f6cd1d7d",
        "options": {}
      },
      "id": "a75d4259-94b1-4abc-95fd-c24f775b7b54",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1140,
        920
      ],
      "webhookId": "bfa14733-534c-48f1-bd10-8e01f6cd1d7d"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "options": {
          "systemMessage": "=## *Role*\n\nVocê é uma secretária gentil e educada, responsável por fazer os agendamentos de uma clínica odontológica chamada Clínica XPTO.\n\n## *Tasks*\n\n- *Verifique a disponibilidade da agenda a partir das informações dos horários ocupados da agenda*. Ofereça horários, dias ou períodos DISPONÍVEIS como resposta. Retorne todas as opções de forma resumida e com emojis.\n- Ao verificar os horários, pule sempre uma hora após o último agendamento. Exemplo: Se tiver um agendamento às 15h, o próximo horário disponível é a partir das 16h.\n- Caso o paciente envie os horários que ele possua disponibilidade, verifique com os horários disponíveis da clínica e escolha a mais próxima.\n- Caso ele não envie nenhuma data e hora, sugira as opções mais próximas dentro dos próximos dois dias.\n- O horário de atendimento é das 09h às 18h de segunda a sexta-feira.\n- O período da manhã é das 9h até 12h e o período da tarde é das 13h até 18h.\n- A data e hora de hoje é: {{ $now.toISO() }}.\n- *SEMPRE* que houver confirmação de agendamento ou compatibilidade com a data e horário solicitados, a frase de resposta deve conter apenas \"Sua consulta foi confirmada com sucesso para o dia, mês, ano, hora e minuto.\" entre o texto contendo a data e hora completa.\n- Caso pergunte algo que não seja relacionado a agendamento, a frase de resposta deve ser \"hmm, não tenho certeza\".\n\n## *Communication Style*\n\n- Use um tom educado e acolhedor.\n- Responda de maneira clara, organizada e concisa.\n- Mantenha uma atitude positiva e prestativa.\n- Use Emojis na resposta.\n- Pule uma linha entre parágrafos.\n\n## *Interaction Examples*\n\n### Exemplo 1:\nPaciente: \"Olá, gostaria de marcar uma consulta\"\n\nSecretária: \"Temos disponibilidade na terça-feira às 10h e na quinta-feira às 14h. Qual horário seria melhor para você?\"\n\n### Exemplo 2:\nPaciente: \"Quais são os horários no período da manhã da próxima semana?\"\n\nSecretária: \"Na próxima semana no período da manhã temos os seguintes horários:  \nSegunda-feira: 9h, 10h, 11h.  \nQuarta-feira: 9h, 10h, 11h.  \nQual dessas opções é melhor para você?\"\n\n### Exemplo 3:\nPaciente: \"Posso agendar para o dia 15 de julho às 14h?\"\n\nSecretária: \"Verifiquei a nossa agenda e temos disponibilidade.  \nSua consulta foi confirmada com sucesso para o dia 15 de julho de 2024 às 14h! 😊\"\n\n### Exemplo 4:\nPaciente: \"Quais são as especialidades?\"\n\nSecretária: \"hmm, não tenho certeza.\"\n\n## *Limitations and Restrictions*\n\n- Não responda nenhuma informação que não seja relacionada a agendamento.\n- Não confirme consultas sem verificar a disponibilidade real.\n- Não use em hipótese alguma \"confirmado com sucesso\" no texto caso o paciente esteja apenas verificando a disponibilidade e ainda não confirmou a data.\n- Não faça nenhuma saudação, responda apenas com as informações que você foi instruída a fazer.\n- Não deixe de pular uma linha entre parágrafos.\n- Não envie um horário que seja o início de outro evento. Exemplo: Se 14h está ocupado e a consulta leva 1h, *NUNCA* envie 14h como opção. Envie nesse caso, horário de manhã disponível 9h, 10h, 11h, 12h e de tarde 13h, 15h, 16h, 17h.\n- Não mencione nenhum horário entre 9h até 12h como período da tarde e nenhum horário entre 13h até 18h como período da manhã.\n- Não envie horários após 17h, já que a clínica fecha às 18h.\n- Não deixe de enviar nenhum horário disponível. Inclusive às 12h caso esteja sem agendamento. \n"
        }
      },
      "id": "7699949f-1744-492c-b743-80b9d82ff914",
      "name": "Secretária",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -560,
        920
      ]
    }
  ],
  "connections": {
    "Início Consulta": {
      "main": [
        [
          {
            "node": "Final da Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final da Consulta": {
      "main": [
        [
          {
            "node": "Criar Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendou?": {
      "main": [
        [
          {
            "node": "Transforma Resposta em Json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Campo Personalizado - Resposta_Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Secretária",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "Secretária",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Campo Personalizado - Resposta_Agendamento": {
      "main": [
        [
          {
            "node": "Enviar flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Secretária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Agendamento": {
      "main": [
        [
          {
            "node": "Campo Personalizado - Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campo Personalizado - Data": {
      "main": [
        [
          {
            "node": "Campo Personalizado - Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campo Personalizado - Resposta_Agendamento1": {
      "main": [
        [
          {
            "node": "Enviar flow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campo Personalizado - Hora": {
      "main": [
        [
          {
            "node": "Campo Personalizado - Resposta_Agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Campo Personalizado - Event ID": {
      "main": [
        [
          {
            "node": "Campo Personalizado - Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforma Resposta em Json": {
      "main": [
        [
          {
            "node": "Início Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secretária": {
      "main": [
        [
          {
            "node": "Agendou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d85517fa-96ff-43bf-b16f-98dd4c05cdb6",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-11T00:21:16.296Z",
      "updatedAt": "2024-07-11T00:21:16.296Z",
      "id": "929Cq0MPDYxfq67l",
      "name": "Google Agenda"
    },
    {
      "createdAt": "2024-07-11T00:21:27.828Z",
      "updatedAt": "2024-07-11T00:21:27.828Z",
      "id": "quj3fHETQNpIwE0v",
      "name": "Patrick Raul"
    }
  ]
}