[PADRAO]/qCHqUamOiu3lKP13.json
{
  "createdAt": "2024-07-11T12:27:58.740Z",
  "updatedAt": "2025-04-08T19:12:50.508Z",
  "id": "qCHqUamOiu3lKP13",
  "name": "Teste Acacio",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Nd3PPMZmNtroU2-I50FZ61IuOXaE09xeYYEbBnIYQoQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "base_clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nd3PPMZmNtroU2-I50FZ61IuOXaE09xeYYEbBnIYQoQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ManychatId"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "5234f929-5b44-4f66-b4d1-075c7de51f91",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1220,
        740
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {},
      "id": "b998dca7-df47-40c4-bbcc-8eb5cb44d42e",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        500
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "=contato",
        "filters": {
          "conditions": [
            {
              "keyName": "=dify_id",
              "keyValue": "553597638844"
            }
          ]
        }
      },
      "id": "03c2b60d-e9e6-4f80-9663-657f92f710fd",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        540
      ],
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "enGtPLZwnuvtqfNc",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profissional_saude",
          "mode": "list",
          "cachedResultName": "profissional_saude"
        },
        "options": {}
      },
      "id": "a00ae028-fea2-44f9-8b01-206fc6e9ae74",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        980,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "Ygk4OurDcLlzNVI3",
          "name": "Postgres - Clinica Robotriz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ee3200c-cc74-40f8-b872-8ac696d5c941",
              "leftValue": "={{ $json.Local }}",
              "rightValue": "Manacás",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "769bf9af-ef8d-44d3-8b6c-d95e47857a75",
              "leftValue": "={{ $json.Local }}",
              "rightValue": "Cancioneiro",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5d25b314-a9e8-47ea-b875-650a7fcceadf",
              "leftValue": "={{ $json.Local }}",
              "rightValue": "Terras da Estancia",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "fead5a31-cdee-450c-97c4-5b8c32c2ff03",
              "leftValue": "={{ $json.Local }}",
              "rightValue": "Villa Lobos",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b303f874-3016-478e-9661-296652a9c2b5",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1440,
        740
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b06d49f3-804a-448a-ae82-5f904dee08e1",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        720,
        720
      ],
      "credentials": {
        "smtp": {
          "id": "n7uoPlnCt45Bzt6f",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "24cf724e-af9b-4074-b80f-696bc5b3a694"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"phone\": \"5511981588224\", \"first_name\": \"Acácio\", \"last_name\": \"Araujo\"}",
        "options": {}
      },
      "id": "5cc7bc56-e611-4a1c-a55d-588e660be11e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        940
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "contato@robotriz.com.br",
          "mode": "list",
          "cachedResultName": "contato@robotriz.com.br"
        },
        "options": {}
      },
      "id": "ccf78898-9b3a-464d-8373-f04ad7612fbf",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        1360,
        940
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3GG2eQ6gqQRM9ikU",
          "name": "Google Calendar account [2]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab5a8e25-ce51-4602-ac8d-1812368f157e",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "Aluguel - Consulta para o imóvel em",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "41991264-58a6-4b0e-843c-224b0b478b97",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -300,
        -180
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "id": "4aaf17b3-b0e1-4bac-964c-22560e605070",
      "name": "Gmail - Ler email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        -180
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "JcjdpdVRGEs0s5H7",
          "name": "Robotriz Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "id": "259bf5af-2fa1-4746-b49c-0b56933bd2fa",
      "name": "Gmail - buscar emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -520,
        -180
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "JcjdpdVRGEs0s5H7",
          "name": "Robotriz Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "35a9ae49-7a08-44b8-b54b-c5a447595655",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.1,
      "position": [
        -780,
        -20
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "JcjdpdVRGEs0s5H7",
          "name": "Robotriz Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variaveis').item.json.evolution_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('OpenAI').item.json.message.content }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "5818d963-afcc-43dd-ae8c-0540386b9b32",
      "name": "Envia resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f853db83-6be1-4ee2-93fd-19c955345814",
              "name": "remoteJid",
              "value": "5535997638844",
              "type": "string"
            },
            {
              "id": "ebc64d7b-2a21-4879-b7c4-90b71848f33b",
              "name": "evolution_url",
              "value": "https://api.evoapicloud.com/message/sendText/9c62fb59-ea6b-4382-b7f8-456135068309",
              "type": "string"
            },
            {
              "id": "f5736b37-cbdb-456f-ab20-c0d25d2a97ed",
              "name": "evolution_apikey",
              "value": "D5484B5A2D9F-42EC-9678-A638108F0625",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "77776cb0-8c2c-4a8e-bf0c-c1d5f2d4077e",
      "name": "Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        -180
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "Você é uma agente especializado em receber os dados de email enviado pela Zap Imóveis, que é um portal de imóveis que reúne ofertas qualificadas, além de fotos, dicas e mapas para quem quer alugar, comprar ou vender.\n\nVocê precisa extrair do corpo do email as seguintes informações do lead: Nome, telefone com DDD e o email que deve ser em texto simples, sem formatação ou \"mailto:\".\n\nExtraia também os seguintes dados do imóvel: o código, o local e o valor.\n\nO texto gerado precisa ser formatado em um padrão que será enviado via chamada de API para um numero de whatsapp.\n\nRetornar apenas os dados do lead e do imóvel, sempre saudando o \"Casyo\", que é a pessoa responsável pelo recebimento das informações, nada mais nada menos.\n\nO corpo do email se encontra no <body> no Assistant.",
              "role": "system"
            },
            {
              "content": "=<body>\n{{ $json.text }}\n</body>",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "eca69af6-edec-4458-9592-903fa35d3206",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        140,
        -180
      ],
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "filters": {}
      },
      "id": "185da78c-5ad8-421b-ab60-e2fc4e36f2c6",
      "name": "Retorna calendário Leonardo",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -60,
        340
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lYa6AQ8mJOydecG7",
          "name": "MCN Advogados"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "operation": "create",
        "name": "Teste Robotriz",
        "additionalFields": {}
      },
      "id": "241b18cb-40b2-498f-b1d8-aaf497dc3df0",
      "name": "Criar calendário Leonardo",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        320,
        180
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lYa6AQ8mJOydecG7",
          "name": "MCN Advogados"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "AAMkAGQ3ODFlODdhLWFlMWYtNDM4Mi05YmNmLTgxNDNjMGY5ZTg1NQBGAAAAAAA027rLNeOLQ5MQFaV06yPyBwD62yPncSo9T7K039KZrGRcAAAAAAEGAAD62yPncSo9T7K039KZrGRcAAALyF9YAAA=",
          "mode": "list",
          "cachedResultName": "Teste Robotriz"
        },
        "subject": "Reunião com Acácio Araujo - Direito de Família",
        "startDateTime": "2025-04-04T10:00:00",
        "endDateTime": "2025-04-04T11:00:00",
        "additionalFields": {
          "body": "Teste de duplicidade de reunião",
          "hideAttendees": false,
          "isOnlineMeeting": true
        }
      },
      "id": "9cbc75eb-8d79-4724-b339-7276146f25fd",
      "name": "Criar agenda Leonardo",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -300,
        660
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lYa6AQ8mJOydecG7",
          "name": "MCN Advogados"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "fromAllCalendars": false,
        "calendarId": {
          "__rl": true,
          "value": "AAMkAGQ3ODFlODdhLWFlMWYtNDM4Mi05YmNmLTgxNDNjMGY5ZTg1NQBGAAAAAAA027rLNeOLQ5MQFaV06yPyBwD62yPncSo9T7K039KZrGRcAAAAAAEGAAD62yPncSo9T7K039KZrGRcAAALyF9YAAA=",
          "mode": "list",
          "cachedResultName": "Teste Robotriz"
        },
        "filters": {
          "custom": "start/dateTime gt '2025-03-20T00:00:00'"
        }
      },
      "id": "c3e9f071-7a3c-491c-a2a6-a6173df293f5",
      "name": "Consultar agenda Leonardo",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -440,
        300
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lYa6AQ8mJOydecG7",
          "name": "MCN Advogados"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "acacio.araujo@robotriz.com.br",
        "subject": "Acacio - TESTE ANEXO - Mitigar Risco | Ampliar Produtividade Operação",
        "bodyContent": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Email Agradecimento</title>\n  </head>\n  <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <p>Olá Acácio,</p>\n\n    <p>\n      Sou Afonso Moreira, CEO da AHM Solution. Agradeço sinceramente o seu contato e interação com a Clara, nossa Assistente Virtual. Nossa missão é tornar as empresas mais competitivas no seu setor de atuação.\n    </p>\n\n    <p>\n      Você sabia que um único acidente com empilhadeiras pode gerar custos superiores a R$ 100 mil? Investir em segurança industrial é uma decisão estratégica que protege vidas, reduz custos e aumenta a produtividade.\n    </p>\n\n    <ul>\n      <li><strong>Reduzir a alíquota do RAT:</strong> de 3% para até 1%, economizando na folha salarial</li>\n      <li><strong>Prevenir acidentes:</strong> Evitando paradas imprevistas</li>\n      <li><strong>Aumentar eficiência:</strong> Gerando operações mais produtivas</li>\n    </ul>\n\n    <p>Nossas soluções oferecem um retorno sobre investimento claro e mensurável:</p>\n\n    <ul>\n      <li>Economia significativa em custos diretos e indiretos</li>\n      <li>Aumento da produtividade operacional</li>\n      <li>Melhoria na reputação e conformidade regulatória</li>\n    </ul>\n\n    <p>\n      Preparamos um material com insights valiosos sobre aplicabilidades para que você entenda como nossos sistemas podem transformar a sua operação. Não deixe para agir depois de um problema. Antecipe-se e invista hoje em mitigar o risco de acidentes.\n    </p>\n\n    <p>\n      Queremos ir além, oferecendo uma reunião estratégica para analisar profundamente a sua operação e identificar oportunidades reais de proteção.\n    </p>\n\n    <p>\n      <a href=\"https://outlook.office365.com/owa/calendar/FalecomumEspecilistaAHMSolutiondoBrasil@ahmsolution.com/bookings/\" style=\"background-color: #0078d4; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;\">Fale com um Especialista Agora</a>\n    </p>\n\n    <p>\n      Conte comigo para explorarmos juntos como podemos atender às necessidades da sua empresa.\n    </p>\n\n    <p>Um abraço,<br />Afonso Moreira<br />CEO, AHM Solution do Brasil</p>\n  </body>\n</html>\n",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          },
          "bodyContentType": "html"
        }
      },
      "id": "ab806715-3a98-4797-b14d-7c27b9303762",
      "name": "AHM - Envio de email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -700,
        640
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "fjDrljh6VQu9Rc2U",
          "name": "Microsoft Outlook - AHM"
        }
      }
    },
    {
      "parameters": {
        "url": "https://miniofront.robotriz.com.br/api/v1/download-shared-object/aHR0cHM6Ly9taW5pb2JhY2sucm9ib3RyaXouY29tLmJyL3JvYm90cml6L0FjZXNzb3Jpb3MlMjBwYXJhJTIwZW1waWxoYWRlaXJhcy0lMjBSZWxhdCVDMyVCM3JpbyUyMENvbXBsZW1lbnRhciUyMC0lMjBUWVBFQk9ULnBkZj9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPTM3UkpDSlg0STlIMjVMSTlaUlpNJTJGMjAyNTA0MDglMkZwdC1iciUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNTA0MDhUMTkxMjAyWiZYLUFtei1FeHBpcmVzPTQzMTk4JlgtQW16LVNlY3VyaXR5LVRva2VuPWV5SmhiR2NpT2lKSVV6VXhNaUlzSW5SNWNDSTZJa3BYVkNKOS5leUpoWTJObGMzTkxaWGtpT2lJek4xSktRMHBZTkVrNVNESTFURWs1V2xKYVRTSXNJbVY0Y0NJNk1UYzBOREU0TVRZM09Td2ljR0Z5Wlc1MElqb2lZV1J0YVc0aWZRLm9qa2hQMWVJVkZybmlMOGlwVXRQaWV0MS1fM2JlbEZQclhqWmFtWE1QemVLdUNoUVFSX2JXSXREelM4VHBCR1VlVEZBRE0tZEVZYU9NVk4xVDBVYUdBJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZ2ZXJzaW9uSWQ9bnVsbCZYLUFtei1TaWduYXR1cmU9ZjhjZjM0OWFjYmI3OGQyMzY4NjE5NjM1MTVmOWZmZDc0YjU5ODViMzNkYmQwMTEzMjhlOGQ0MmNlZTE0MjVmOQ",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b9fc5e89-c981-4445-abe2-7e03bfa162bb",
      "name": "Baixar imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -940,
        600
      ]
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Gmail - Ler email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - buscar emails": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Baixar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Ler email": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis": {
      "main": [
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar imagem": {
      "main": [
        [
          {
            "node": "AHM - Envio de email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2f7c9ac8-1745-45cf-b92c-4961c8651d52",
  "triggerCount": 1,
  "tags": []
}