[6][NicoChat] Fluxo de NPS/xLQ5bk1OIozurCAx.json
{
  "createdAt": "2024-07-17T19:54:16.443Z",
  "updatedAt": "2024-07-17T19:54:16.443Z",
  "id": "xLQ5bk1OIozurCAx",
  "name": "[6][NicoChat] Fluxo de NPS - Clínicas",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 18,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "id": "a122bc12-6562-4ccf-9334-062173f5cdcf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1260,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "confirmed"
            },
            {
              "value1": "={{ $json.start.dateTime }}",
              "operation": "notEqual",
              "value2": "={{ undefined }}"
            },
            {
              "value1": "={{ $json.colorId }}",
              "value2": "10"
            }
          ]
        }
      },
      "id": "bd78cf38-47ec-41cf-9006-3fd07508a392",
      "name": "Filtrar confirmados e horário definidos",
      "type": "n8n-nodes-base.filter",
      "position": [
        1700,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "start"
            }
          ]
        },
        "options": {}
      },
      "id": "59922dd6-a963-429a-8b38-b98c6e35e3ee",
      "name": "Reordenar Ascendente",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2160,
        700
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b4f03415-81e6-418a-ab6f-04bb2b033007",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        2380,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Desenvolvido por Kaique Grigoletto (@k.grigoletto)\n// Verifica se o valor é uma string antes de usar o método replace\nvar WhatsApp = String(items[0].json.WhatsApp).replace(/[^0-9]+/g, '');\nvar ddd, ddi, ddx, length;\n\nif (WhatsApp.length >= 12) {\n  if (WhatsApp.charAt(0) === '+') {\n    ddi = WhatsApp.slice(0, 3);\n    WhatsApp = parseInt(WhatsApp.slice(3)).toString();\n  } else {\n    if (WhatsApp.slice(0, 2) === '55') {\n      WhatsApp = parseInt(WhatsApp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      WhatsApp = parseInt(WhatsApp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  WhatsApp = parseInt(WhatsApp).toString();\n  ddi = 'não informado';\n}\n\nddd = WhatsApp.slice(0, 2);\nWhatsApp = WhatsApp.slice(2);\n\n// Adiciona o nono dígito apenas se o DDD for menor ou igual ao 28\nif (parseInt(ddd) < 28) {\n  WhatsApp = '9' + WhatsApp.slice(-8);\n} else {\n  WhatsApp = WhatsApp.slice(-8);\n}\n\nvar whatsapp_formatado = '+55' + ddd + WhatsApp;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      WhatsApp,\n      whatsapp_formatado,\n    },\n  },\n];"
      },
      "id": "921302cd-0964-4bb4-bd0b-41faaf61ee6e",
      "name": "Validar Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        680
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Desenvolvido por Kaique Grigoletto (@k.grigoletto)\nfor (const item of $input.all()) {\n  // Extrair o número de telefone usando uma expressão regular com variações\n  const descricaoEvento = item.json.description || ''; // Utiliza a variável description como entrada\n  \n  console.log('Descrição do evento:', descricaoEvento); // Adiciona log para verificar a descrição\n  \n  // Regex para capturar telefone nos formatos variados\n  const regexTelefone = /(?:tel(?:e|efone)?[:=\\-\\s]*)?(\\+?\\d{1,3}[-\\s.]?\\(?\\d{1,3}\\)?[-\\s.]?\\d{4,5}[-\\s.]?\\d{4})/i;\n  const matchTelefone = descricaoEvento.match(regexTelefone);\n  \n  console.log('Resultado da regex:', matchTelefone); // Adiciona log para verificar o resultado da regex\n\n  // Se encontrar um número de telefone, adiciona ao JSON com a chave 'WhatsApp'\n  if (matchTelefone && matchTelefone[1]) {\n    const numeroTelefone = matchTelefone[1].replace(/[()\\s\\-.]/g, ''); // Remove caracteres não numéricos\n    console.log('Número de telefone encontrado:', numeroTelefone); // Adiciona log para verificar o número encontrado\n    item.json.WhatsApp = numeroTelefone;\n  } else {\n    console.log('Número de telefone não encontrado'); // Adiciona log quando o número não é encontrado\n    item.json.WhatsApp = 'Número de telefone não encontrado na descrição do evento';\n  }\n}\n\nreturn $input.all();\n"
      },
      "id": "18ddbc36-0b99-4623-8839-95396f7b64b7",
      "name": "Extrair Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        680
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.whatsapp_formatado }}"
            },
            {
              "name": "first_name",
              "value": "={{ $('Dados').item.json.Nome.split(\" \")[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $('Dados').item.json.Nome.split(\" \")[1] }}"
            }
          ]
        }
      },
      "id": "84654dc9-b610-42fa-a21d-eceaafedfc75",
      "name": "Cadastrar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3020,
        680
      ],
      "typeVersion": 2,
      "retryOnFail": false,
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "function numeroRandomicoIntervalo(min, max) { // minimo e maximo incluso \n  return Math.floor(Math.random() * (max - min + 1) + min)\n}\n\nfor (item of items) {\n  item.json.numeroRandomico = numeroRandomicoIntervalo(5, 15); // altere os dois números para definir um range entre minimo e maximo\n}\n\nreturn items;"
      },
      "name": "Número randômico com intervalo",
      "type": "n8n-nodes-base.function",
      "position": [
        3020,
        900
      ],
      "typeVersion": 1,
      "id": "78bbe23c-3ddc-4c62-8e85-bd6372eef29d",
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": "={{$json[\"numeroRandomico\"]}}",
        "unit": "seconds",
        "path": "81a2e704-042e-4c52-a2f3-0dc31fd32b9a"
      },
      "name": "Delay de acordo com número gerado",
      "type": "n8n-nodes-base.wait",
      "position": [
        3220,
        900
      ],
      "webhookId": "81a2e704-042e-4c52-a2f3-0dc31fd32b9a",
      "typeVersion": 1,
      "id": "96177502-6e17-4de8-810c-8c7e48a02d93",
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrar na audiência\"].json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $('Dados').item.json.Flow }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e8e5b141-462f-4d3c-96d1-acc85627536a",
      "name": "Enviar flow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        900
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "contato@robotriz.com.br",
          "mode": "list",
          "cachedResultName": "contato@robotriz.com.br"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.format('yyyy-MM-dd') }}",
          "timeMax": "={{ $now.plus(1, 'day').format('yyyy-MM-dd') }}"
        }
      },
      "id": "b225ab22-1391-49db-8730-9a28f496f973",
      "name": "Busca Eventos Hoje",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1480,
        700
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "27WinJTE9Con8wAf",
          "name": "[ROBOTRIZ] GOOGLE CALENDAR"
        }
      }
    },
    {
      "parameters": {
        "content": "## Alterar\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 233.77646090534978,
        "width": 166.22353909465028,
        "color": 4
      },
      "id": "ab0325f2-0d44-4ce5-8b01-ecc498002398",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1900,
        620
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\nFiltra todos confirmados, exclui eventos de dia inteiro e apenas eventos com a cor VERDE ESCURO.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 316.3601646090539,
        "color": 7
      },
      "id": "80fa3ef0-2dcd-40f5-a8f9-5d55be81a813",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1620,
        537.4386831275717
      ]
    },
    {
      "parameters": {
        "content": "## Cores Google Calendar\n\ncolorId: 1 - #a4bdfc (Azul claro)\ncolorId: 2 - #7ae7bf (Verde claro)\ncolorId: 3 - #dbadff (Roxo claro)\ncolorId: 4 - #ff887c (Rosa claro)\ncolorId: 5 - #fbd75b (Amarelo claro)\ncolorId: 6 - #ffb878 (Laranja claro)\ncolorId: 7 - #46d6db (Ciano)\ncolorId: 8 - #e1e1e1 (Cinza)\ncolorId: 9 - #5484ed (Azul escuro)\ncolorId: 10 - #51b749 (Verde escuro)\ncolorId: 11 - #dc2127 (Vermelho)\n\n\n\n\n\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 308.14814814814827,
        "width": 309.9588477366254,
        "color": 2
      },
      "id": "b1c459df-686e-466f-8098-49a2fc277f33",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Status\n\n**Agendado:**\ncolorId: 5 - #fbd75b (Amarelo claro)\n\n**Confirmado:**\ncolorId: 2 - #7ae7bf (Verde claro)\n\n**Compareceu:**\ncolorId: 10 - #51b749 (Verde escuro)\n\n**Faltou:**\ncolorId: 11 - #dc2127 (Vermelho)\n\n\n\n\n\n\n\n\n\n\n\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 306.42567901234605,
        "width": 304.79012345678984
      },
      "id": "c0b44052-fb7f-4c03-82d6-2fdd00440a42",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrar na audiência').item.json.id }}/custom_fields/{{ $('Dados').item.json['ID Event ID'] }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['Event ID'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a5f41102-809f-43cc-80c3-1a2500128791",
      "name": "Campo Personalizado - Event ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        900
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "start",
              "value": "={{ $json.start.dateTime }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "Nome",
              "value": "={{ $json.summary }}"
            },
            {
              "name": "Event ID",
              "value": "={{ $json.id }}"
            },
            {
              "name": "Flow",
              "value": "4662370"
            },
            {
              "name": "ID DataConsulta",
              "value": "2621798"
            },
            {
              "name": "ID HorarioConsulta",
              "value": "2621800"
            },
            {
              "name": "ID Event ID",
              "value": "2621799"
            }
          ]
        },
        "options": {}
      },
      "id": "1a0a5d94-7a4e-4e23-877f-36bf43f50a3c",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "position": [
        1940,
        700
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca Eventos Hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar confirmados e horário definidos": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reordenar Ascendente": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Extrair Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Telefone": {
      "main": [
        [
          {
            "node": "Validar Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone": {
      "main": [
        [
          {
            "node": "Cadastrar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Número randômico com intervalo": {
      "main": [
        [
          {
            "node": "Delay de acordo com número gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar na audiência": {
      "main": [
        [
          {
            "node": "Campo Personalizado - Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay de acordo com número gerado": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar flow": {
      "main": [
        [
          {
            "node": "Número randômico com intervalo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Eventos Hoje": {
      "main": [
        [
          {
            "node": "Filtrar confirmados e horário definidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Reordenar Ascendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campo Personalizado - Event ID": {
      "main": [
        [
          {
            "node": "Enviar flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f4ecfec7-e839-42ed-a1fd-1691c09ea838",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-07-11T00:21:16.296Z",
      "updatedAt": "2024-07-11T00:21:16.296Z",
      "id": "929Cq0MPDYxfq67l",
      "name": "Google Agenda"
    },
    {
      "createdAt": "2024-07-11T00:21:27.828Z",
      "updatedAt": "2024-07-11T00:21:27.828Z",
      "id": "quj3fHETQNpIwE0v",
      "name": "Patrick Raul"
    }
  ]
}