[AHM]/OeSC2MOTLfCsr22t.json
{
  "createdAt": "2024-10-09T19:43:48.146Z",
  "updatedAt": "2024-10-12T02:14:15.759Z",
  "id": "OeSC2MOTLfCsr22t",
  "name": "[AHM] - [BD][GRAVACAO DADOS]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 851274605,
          "mode": "list",
          "cachedResultName": "formulario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44/edit#gid=851274605"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_formulario",
              "lookupValue": "={{ $json.body.id_formulario }}"
            }
          ]
        },
        "options": {}
      },
      "id": "61754a55-5d3f-4aae-8ece-4180997ec23a",
      "name": "Consultar id_formulario",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -400,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab923f89-6307-49b1-877e-f19680d68057",
              "leftValue": "={{ $('Consultar id_formulario').item.json.row_number }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73b09ba6-54c4-42ec-87c7-6ed23d69bedb",
      "name": "Existe id_formulario",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 851274605,
          "mode": "list",
          "cachedResultName": "formulario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44/edit#gid=851274605"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_formulario": "={{ $('Webhook').item.json.body.id_formulario }}",
            "id_lead": "={{ $('Webhook').item.json.body.id_lead }}",
            "solucao": "={{ $('Webhook').item.json.body.solucao }}",
            "data_cadastro": "={{ $('Webhook').item.json.body.data_cadastro }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_formulario",
              "displayName": "id_formulario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "solucao",
              "displayName": "solucao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "finalizado",
              "displayName": "finalizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "integracao_z_api",
              "displayName": "integracao_z_api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "integracao_rdstation",
              "displayName": "integracao_rdstation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "integracao_pipedrive",
              "displayName": "integracao_pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "e661cf41-c4d3-4c29-99ac-32e4a1bd1720",
      "name": "Cadastrar novo id_formulario",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -20,
        420
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 522310173,
          "mode": "list",
          "cachedResultName": "perguntas_respostas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44/edit#gid=522310173"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_formulario": "={{ $('Campos').item.json.body.id_formulario }}",
            "id_lead": "={{ $('Campos').item.json.body.id_lead }}",
            "solucao": "={{ $('Campos').item.json.body.solucao }}",
            "data_cadastro": "={{ $('Campos').item.json.body.data_cadastro }}",
            "pergunta": "={{ $('Campos').item.json.body.pergunta }}",
            "resposta": "={{ $('Campos').item.json.body.resposta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_formulario",
              "displayName": "id_formulario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "solucao",
              "displayName": "solucao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pergunta",
              "displayName": "pergunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta",
              "displayName": "resposta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "7e8022be-256c-4417-a5d5-2a525bff078f",
      "name": "Cadastrar pergunta/resposta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        140,
        280
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59dd6ee7-6f8c-4c01-b0bc-f416e0352ad2",
              "name": "body.id_formulario",
              "value": "={{ $json.body.id_formulario }}",
              "type": "string"
            },
            {
              "id": "1676bd23-24f5-46c4-a130-b354b1064451",
              "name": "body.id_lead",
              "value": "={{ $json.body.id_lead }}",
              "type": "string"
            },
            {
              "id": "cc90c7aa-148e-4423-ad6d-27b721d8dc7e",
              "name": "body.solucao",
              "value": "={{ $json.body.solucao }}",
              "type": "string"
            },
            {
              "id": "fdf13e7d-efde-4fb8-ad81-8175e7699acf",
              "name": "body.data_cadastro",
              "value": "={{ $json.body.data_cadastro }}",
              "type": "string"
            },
            {
              "id": "2e1fabc1-484c-4c78-8b0b-168246778e2c",
              "name": "body.pergunta",
              "value": "={{ $json.body.pergunta }}",
              "type": "string"
            },
            {
              "id": "fdbab6ad-b436-4296-ba4b-e134d3159c4e",
              "name": "body.resposta",
              "value": "={{ $json.body.resposta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8e9becd0-c7ff-4a8c-829b-e0d09b02d04c",
      "name": "Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8bc25bd0-2a7e-440b-8d88-943f9e75e382",
        "options": {}
      },
      "id": "00dd7c94-2e5f-4029-accc-b39c0a0304f0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        300
      ],
      "webhookId": "8bc25bd0-2a7e-440b-8d88-943f9e75e382"
    }
  ],
  "connections": {
    "Consultar id_formulario": {
      "main": [
        [
          {
            "node": "Existe id_formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe id_formulario": {
      "main": [
        [
          {
            "node": "Cadastrar pergunta/resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar novo id_formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar novo id_formulario": {
      "main": [
        [
          {
            "node": "Cadastrar pergunta/resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos": {
      "main": [
        [
          {
            "node": "Consultar id_formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e8c07407-6e13-464c-9e4e-4336a0d37bdc",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-10-04T21:45:49.751Z",
      "updatedAt": "2024-10-04T21:45:49.751Z",
      "id": "keSXrdIlim8rvA8S",
      "name": "AHM Solution"
    }
  ]
}