[AHM]/STPGHXHkvDZxHBvf.json
{
  "createdAt": "2024-10-04T23:32:56.997Z",
  "updatedAt": "2024-10-05T18:50:49.321Z",
  "id": "STPGHXHkvDZxHBvf",
  "name": "[AHM] - [GRAVACAO DADOS]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "200fb615-fb9d-44b1-95ea-957ce8624634",
              "name": "id_planilha",
              "value": "={{ $json.body.id_planilha }}",
              "type": "string"
            },
            {
              "id": "1dc69f41-5502-4821-864a-86d54cc0d7e5",
              "name": "pagina",
              "value": "={{ $json.body.pagina }}",
              "type": "string"
            },
            {
              "id": "0cf25f2a-16f8-4568-b74e-92b0072dfdc7",
              "name": "acao",
              "value": "={{ $json.body.acao }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c064f8a2-b01f-440c-834e-d22f3d37397f",
      "name": "dados_planilha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "293eba4a-785d-41ce-aca1-b5f7b4d6b1c5",
              "leftValue": "={{ $('dados_planilha').item.json.acao }}",
              "rightValue": "=criar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1c52a8c-c5e3-4dc2-95ac-0dd0455b57c1",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        160
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('dados_planilha').item.json.id_planilha }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('dados_planilha').item.json.pagina }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id_pedido"
          ],
          "schema": [
            {
              "id": "id_pedido",
              "displayName": "id_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "escolha_contato",
              "displayName": "escolha_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "acessorio_empilhadeira",
              "displayName": "acessorio_empilhadeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prazo_implementacao",
              "displayName": "prazo_implementacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipos_embalagem",
              "displayName": "tipos_embalagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "faixa_peso",
              "displayName": "faixa_peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dimensoes",
              "displayName": "dimensoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_estabilizacao",
              "displayName": "tipo_estabilizacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pesquisa_satisfacao",
              "displayName": "pesquisa_satisfacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "050d548b-b360-4898-b72b-e268af736711",
      "name": "Novo registro",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        940,
        60
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('dados_planilha').item.json.id_planilha }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('dados_planilha').item.json.pagina }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id_pedido"
          ],
          "schema": [
            {
              "id": "id_pedido",
              "displayName": "id_pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "escolha_contato",
              "displayName": "escolha_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "acessorio_empilhadeira",
              "displayName": "acessorio_empilhadeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prazo_implementacao",
              "displayName": "prazo_implementacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipos_embalagem",
              "displayName": "tipos_embalagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "faixa_peso",
              "displayName": "faixa_peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dimensoes",
              "displayName": "dimensoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_estabilizacao",
              "displayName": "tipo_estabilizacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pesquisa_satisfacao",
              "displayName": "pesquisa_satisfacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "undefined",
              "displayName": "undefined",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "d8fefb7a-e94f-423e-a4f5-f5531cc40c40",
      "name": "Novo registro1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        940,
        260
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"id_pedido\":\"{{ $('Webhook').item.json.body.id_pedido }}\",\n  \"id_lead\":\"{{ $('Webhook').item.json.body.id_lead }}\",\n  \"data_cadastro\":\"{{ $('Webhook').item.json.body.data_cadastro }}\",\n  \"nome_completo\":\"{{ $('Webhook').item.json.body.nome_completo }}\",\n  \"escolha_contato\":\"\",\n  \"email\":\"{{ $('Webhook').item.json.body.email }}\",\n  \"celular\":\"{{ $('Webhook').item.json.body.celular }}\",\n  \"{{ $('Webhook').item.json.body.campo }}\":\"{{ $('Webhook').item.json.body.valor }}\" \n}",
        "options": {}
      },
      "id": "70b35b6c-1c43-487d-a943-4f4fee7963c5",
      "name": "dados_atualizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f526cff0-eaee-429a-8382-ba40979dc3d6",
        "options": {}
      },
      "id": "07969d68-abdc-4137-977c-acb12c3b19aa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        160
      ],
      "webhookId": "f526cff0-eaee-429a-8382-ba40979dc3d6"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Novo registro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Novo registro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_atualizacao": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_planilha": {
      "main": [
        [
          {
            "node": "dados_atualizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "dados_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "64a9191d-f01c-4256-9617-b828cd42e552",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-10-04T21:45:49.751Z",
      "updatedAt": "2024-10-04T21:45:49.751Z",
      "id": "keSXrdIlim8rvA8S",
      "name": "AHM Solution"
    }
  ]
}