[ROBOTRIZ ADVOGADOS]/lZhFItBOnItdFPfq.json
{
  "createdAt": "2025-03-27T19:26:44.410Z",
  "updatedAt": "2025-04-02T20:39:39.341Z",
  "id": "lZhFItBOnItdFPfq",
  "name": "[ROBOTRIZ ADVOGADOS]-[EVOLUTION_DIFY]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "id": "8afab5c0-b2c7-474b-b3e7-f8de743dfa90",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        -4620,
        600
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audio64",
        "options": {
          "fileName": "transcricao.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "id": "f238aea3-421d-4f88-a9c0-b79f7e26c98e",
      "name": "Converter em Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -4780,
        600
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "audio64",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "68bbccb1-a83d-43b8-832d-ec64b16be394",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -4940,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6cd097d-3a3a-4cdc-a6f1-13c118a4618c",
              "name": "mensagem",
              "value": "={{\n  $node['Webhook'].json.body.data.message.imageMessage?.caption\n    ? (\n        $json.content \n          ? `${$json.content} Legenda: ${$node['Webhook'].json.body.data.message.imageMessage.caption } }` \n          : 'Erro: json.content ausente para imagem com legenda'\n      ) \n    : `${$json.content || ''} ${$json.text ? $json.text : ''}`\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cc009462-831a-4cab-8f61-3752b83cc290",
      "name": "Transcrição",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -4320,
        700
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "image64",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "5b266a55-486d-4039-bc7e-7b80203600e6",
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -4940,
        820
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image64",
        "options": {
          "fileName": "imagem.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "efbd26f6-2f1f-45dc-8200-0a5e1bd13298",
      "name": "Converter em Imagem",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -4780,
        820
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "Descreva todo o conteúdo da imagem, sem Acentos e sem hífens",
        "inputType": "base64",
        "options": {}
      },
      "id": "cfd85a87-8204-44f1-b7dd-6bc9f8577bdc",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -4620,
        820
      ],
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.data.message.mediaUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "040c7b01-cc76-4e47-b013-4a1a90b15d0b",
      "name": "Baixar audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5100,
        600
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.data.message.mediaUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "2605e886-11a9-4244-a297-f52610964def",
      "name": "Baixar imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5100,
        820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ec39f15-8a96-4e19-b459-9078035f0d99",
              "name": "celular",
              "value": "={{ (()=>{\n\n  var entrada = $('Webhook').item.json.body.data.key.remoteJid\n\n    const partes = entrada.split('@');\n    \n    // Pegar a primeira parte\n    let primeiraParte = partes[0];\n    \n    // Verificar se tem 13 caracteres\n    if (primeiraParte.length !== 13) {\n        // Inserir '9' na 5ª posição (índice 4)\n        primeiraParte = primeiraParte.slice(0, 4) + '9' + primeiraParte.slice(4);\n    }\n\nreturn primeiraParte\n\n})()\n}}",
              "type": "string"
            },
            {
              "id": "f853db83-6be1-4ee2-93fd-19c955345814",
              "name": "remoteJid",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "fe55b87a-c26f-412c-bc13-de0663d0aaf0",
              "name": "conversation",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "5acbc6a3-2627-40dd-a5b3-0818f6cd10cd",
              "name": "messageType",
              "value": "={{ $('Webhook').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "ed90fdce-325a-4ec2-8794-5ec8eb347694",
              "name": "api_key",
              "value": "app-fzICLid8URmyRipdKQswi972",
              "type": "string"
            },
            {
              "id": "e1ac8d3c-b336-4cbd-ab7d-0ab23f240dd7",
              "name": "dify_url",
              "value": "https://dify-api.robotriz.com.br/v1/chat-messages",
              "type": "string"
            },
            {
              "id": "ebc64d7b-2a21-4879-b7c4-90b71848f33b",
              "name": "evolution_url",
              "value": "https://evolution.robotriz.com.br/message/sendText/clinica_robotriz",
              "type": "string"
            },
            {
              "id": "f5736b37-cbdb-456f-ab20-c0d25d2a97ed",
              "name": "evolution_apikey",
              "value": "22804C08C5D7-47D6-9AA1-5AB6EF98DA25",
              "type": "string"
            },
            {
              "id": "bfd513f9-0c8a-45ff-b2a1-2bcfc228e07e",
              "name": "id_planilha",
              "value": "1DyE1-YVl5uR2usKdD_QEORPXoVr9ObGFgglIt1BS0qs",
              "type": "string"
            },
            {
              "id": "c715f85d-ef4a-4ae6-b3ad-2c29627bc359",
              "name": "numero_empresa",
              "value": "={{ $('Webhook').item.json.body.sender }}",
              "type": "string"
            },
            {
              "id": "ac91b9f1-61c1-4a80-9275-5b3f2e681d96",
              "name": "id_empresa",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "69c4eff5-f8e0-4bd8-840e-1e3169da97a5",
              "name": "nome_whatsapp",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "1cc4c456-f306-4863-bb0c-f7e771bc025a",
              "name": "instance_id",
              "value": "={{ $('Webhook').item.json.body.data.instanceId }}",
              "type": "string"
            },
            {
              "id": "46547ec9-1a9f-48d9-8eff-2bcf9ebb0dc7",
              "name": "id_mensagem",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "e085e096-b6da-45ba-bd65-ebac33c46b12",
              "name": "id_cliente_empresa",
              "value": "={{ $('Webhook').item.json.body.data.instanceId }}|{{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "25312adf-ae25-48a5-8a6e-7a6f1a2c03c3",
      "name": "Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7000,
        640
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "772cb82b-59c4-4f89-8b4a-656d3f8c1226",
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "019ed50a-9616-4a4a-af08-e8317e239faa",
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "id": "bf768074-9b84-483e-b37d-57272bdc9eea",
      "name": "Tipo de mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5420,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84d44b09-555c-4489-98d6-45cab442ea99",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5535997638844",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7a696fd8-dd0a-4020-aae8-984c4f70d1b7",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5573998251408",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ed7aafc9-6c4d-48c7-9fe5-316eb643cb37",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5527997748634",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9b4aa756-12d3-43bf-81af-1d9f98a51049",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5527998640510",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "46f318d1-5f3b-41ac-8ea5-1f2902ba01d0",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5527997193833",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2096a8a5-708b-4d2f-bb6f-776c4a4334cf",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5527998211033",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e669b2b7-1bd8-4182-9f4d-6fb209b35269",
              "leftValue": "={{ $json.celular }}",
              "rightValue": "5527999761843",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "0a8fe4fa-06eb-4c0b-a529-5c13da1380c3",
      "name": "Telefones liberados",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7340,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "812a353b-8a6a-4e4c-86fb-4ff77471f313",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "b0e0edac-2de4-4f9b-94d6-1f3f436a9e67",
      "name": "empresa assumiu atendimento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5920,
        640
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cliente",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "keyName": "id_empresa",
              "condition": "eq",
              "keyValue": "={{ $('Variaveis').item.json.id_empresa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bot_ativo",
              "fieldValue": "false"
            }
          ]
        }
      },
      "id": "2269152b-a79c-4a24-9ecb-bb30756a6a36",
      "name": "desativa bot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5660,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "AUtZf9R6OsGpTLQi",
          "name": "Supabase - Clientes Robotriz"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "empresa",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_whatsapp",
              "keyValue": "={{ $json.body.sender }}"
            }
          ]
        }
      },
      "id": "65867491-89f4-4ec2-8f1c-eef2994d5afe",
      "name": "Consulta Empresa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -7220,
        640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "AUtZf9R6OsGpTLQi",
          "name": "Supabase - Clientes Robotriz"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_whatsapp",
              "keyValue": "={{ $json.remoteJid }}"
            },
            {
              "keyName": "id_empresa",
              "keyValue": "={{ $json.id_empresa }}"
            }
          ]
        }
      },
      "id": "fdd7ac93-152d-437b-a455-2a1a69db7b2d",
      "name": "Consulta Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6800,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "AUtZf9R6OsGpTLQi",
          "name": "Supabase - Clientes Robotriz"
        }
      }
    },
    {
      "parameters": {
        "tableId": "cliente",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_empresa",
              "fieldValue": "={{ $('Variaveis').item.json.id_empresa }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Variaveis').item.json.nome_whatsapp }}"
            },
            {
              "fieldId": "telefone_whatsapp",
              "fieldValue": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "fieldId": "bot_ativo",
              "fieldValue": "true"
            },
            {
              "fieldId": "status",
              "fieldValue": "ativo"
            }
          ]
        }
      },
      "id": "62c09d5a-7b9b-40a9-82c0-741a153ff27f",
      "name": "Cria Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6360,
        780
      ],
      "credentials": {
        "supabaseApi": {
          "id": "AUtZf9R6OsGpTLQi",
          "name": "Supabase - Clientes Robotriz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "466b9d2a-e9d3-400b-8404-bdc382220093",
              "leftValue": "={{ $json.telefone_whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8a0e2228-1a18-4ba7-bd4c-ee4585936280",
      "name": "Existe Cliente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6580,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e92ca3e0-9b52-4d14-a64c-482e4a96228e",
              "leftValue": "={{ $('Dados Cliente').item.json.bot_ativo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "f34e6e12-a2f2-4336-8918-9fd95527851f",
      "name": "Bot ativo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5680,
        780
      ]
    },
    {
      "parameters": {},
      "id": "9e6eb33c-dc90-4fd3-a5d4-9effb57b368c",
      "name": "Bot inativado",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -5380,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.id_cliente_empresa }}"
      },
      "id": "8bc6a077-3d9a-40e7-aeed-3e5dddb29fbc",
      "name": "Limpa lista",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4200,
        480
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "afbf9486-1811-4540-9871-002a28a31229",
      "name": "espera de msgs",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4860,
        360
      ],
      "webhookId": "b0bed880-d05a-4d1d-aaf4-f085d34f1793"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f10a56af-ec7b-48cd-aa36-1a6d14488814",
              "leftValue": "={{ $('Dados Cliente').item.json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "95d00179-ce4e-4ce3-83db-192d2e81bf8c",
      "name": "nova conversa",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3280,
        680
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cliente",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Dados Cliente').item.json.id }}"
            },
            {
              "keyName": "id_empresa",
              "condition": "eq",
              "keyValue": "={{ $('Variaveis').item.json.id_empresa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $('Dify').item.json.conversation_id }}"
            },
            {
              "fieldId": "alterado_em",
              "fieldValue": "={{ $now.toString() }}"
            }
          ]
        }
      },
      "id": "e0e30ac8-a619-42c1-a8f5-aee0d55f4adc",
      "name": "Atualiza conversation_id",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2560,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "AUtZf9R6OsGpTLQi",
          "name": "Supabase - Clientes Robotriz"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.dify_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": {},\n  \"query\": \"{{ $json.mensagem.replace(/[\\n\\r]/g, '').replace('\"','') }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Dados Cliente').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "c5f200a4-a158-4c27-a739-e463c13711d8",
      "name": "Dify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3500,
        680
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7877cada-f0ae-46e2-a298-6bb0bbc48d93",
              "name": "mensagem",
              "value": "={{ $json[\"propertyName\"].join(\", \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9e61df0e-94a1-43f1-b2a6-ea585dc0d6f9",
      "name": "Monta msg",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3980,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbd254ae-9542-4633-b037-e837a867ae37",
              "leftValue": "={{ $json.propertyName.last() }}",
              "rightValue": "={{ $('Variaveis').item.json.conversation }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "340c0a91-c017-4c1f-8a27-f7f662e2f005",
      "name": "verifica ultima msg da lista com msg enviada",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4440,
        360
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.id_cliente_empresa }}",
        "options": {}
      },
      "id": "104fafb7-d8cf-49d3-b4d5-163d705f6772",
      "name": "Consulta lista de msg",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4660,
        360
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variaveis').item.json.id_cliente_empresa }}",
        "messageData": "={{ $('Variaveis').item.json.conversation }}",
        "tail": true
      },
      "id": "d0721fff-3b13-4296-bf7c-9d9c4f5bd8bf",
      "name": "Inclui msg na lista",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5080,
        360
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "resposta",
        "options": {}
      },
      "id": "98cb9970-403c-4379-a690-1b022b821571",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2080,
        700
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d3043fdc-dbfd-4643-9103-c4e75cffdb65",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1820,
        700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f869ab-222a-499e-aa33-3d712b1c98bd",
              "name": "resposta",
              "value": "={{ $('Dify').item.json.answer.split(/(?<=\\.\\s)|(?<=!\\s)|(?<=\\?\\s)/).map(part => part.trim()).filter(part => part.length > 0) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "23dfa555-c960-41be-87a0-162f1aeda070",
      "name": "Quebrar mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/chat/sendPresence/clinica_robotriz",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variaveis').item.json.evolution_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"delay\": 5000,\n  \"presence\": \"composing\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "7adc864a-5cc3-49a0-a1ca-ba24c74e8a39",
      "name": "Digitando...",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variaveis').item.json.evolution_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Loop Over Items').item.json.resposta }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "083b64b0-76e3-4e2d-a43e-c2dc41ef7f4e",
      "name": "Envia resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1380,
        720
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_whatsapp",
              "keyValue": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "keyName": "id_empresa",
              "keyValue": "={{ $('Variaveis').item.json.id_empresa }}"
            }
          ]
        }
      },
      "id": "4c8d9457-da76-457f-951c-3c97ecc28262",
      "name": "Consulta conversation_id",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3060,
        420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "AUtZf9R6OsGpTLQi",
          "name": "Supabase - Clientes Robotriz"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c852c175-45be-45e6-b572-78b8fd4d0e56",
              "leftValue": "={{ $json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a41686dc-e20e-4a44-81e0-11a971864535",
      "name": "Não existe conversation_id",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2840,
        420
      ]
    },
    {
      "parameters": {},
      "id": "69b256c9-29d6-42b8-8cff-a1f5406682e2",
      "name": "Dados Cliente",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -6120,
        640
      ]
    },
    {
      "parameters": {},
      "id": "9abea9d5-c6fa-4f9c-a295-b8974f8d1044",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -3740,
        680
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b035afb1-843a-4e4f-9ff8-423f6fb65a75",
        "options": {}
      },
      "id": "3b94d50f-2d12-4ce5-b24d-b5257cef1347",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -7460,
        640
      ],
      "webhookId": "b035afb1-843a-4e4f-9ff8-423f6fb65a75"
    }
  ],
  "connections": {
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter em Audio": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Converter em Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrição": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Converter em Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter em Imagem": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar audio": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar imagem": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Inclui msg na lista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empresa assumiu atendimento": {
      "main": [
        [
          {
            "node": "desativa bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot ativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Empresa": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis": {
      "main": [
        [
          {
            "node": "Consulta Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Cliente": {
      "main": [
        [
          {
            "node": "Existe Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe Cliente": {
      "main": [
        [
          {
            "node": "Dados Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Cliente": {
      "main": [
        [
          {
            "node": "Dados Cliente",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Bot ativo": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot inativado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera de msgs": {
      "main": [
        [
          {
            "node": "Consulta lista de msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa lista": {
      "main": [
        [
          {
            "node": "Monta msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nova conversa": {
      "main": [
        [
          {
            "node": "Consulta conversation_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quebrar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza conversation_id": {
      "main": [
        [
          {
            "node": "Quebrar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify": {
      "main": [
        [
          {
            "node": "nova conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta msg": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica ultima msg da lista com msg enviada": {
      "main": [
        [],
        [
          {
            "node": "Limpa lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta lista de msg": {
      "main": [
        [
          {
            "node": "verifica ultima msg da lista com msg enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inclui msg na lista": {
      "main": [
        [
          {
            "node": "espera de msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Digitando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar mensagem": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitando...": {
      "main": [
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia resposta": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta conversation_id": {
      "main": [
        [
          {
            "node": "Não existe conversation_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Cliente": {
      "main": [
        [
          {
            "node": "empresa assumiu atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Dify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não existe conversation_id": {
      "main": [
        [
          {
            "node": "Atualiza conversation_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quebrar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Consulta Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.robotriz.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "1024",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2b1c1a3d6d10",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "clinica_robotriz",
            "data": {
              "key": {
                "remoteJid": "5535997638844@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB07745559CCDB4B893CE"
              },
              "pushName": "Patrick Silva",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Bom dia.",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "DIpKb50Q3Cg4Pg==",
                    "senderTimestamp": "1742185690",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "BL5+rbMuS/4xhg==",
                    "recipientTimestamp": "1742268006"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "A68q8FkCHT3DcxLvip/rVeX+1jvEN+cVWMGnUiRcX/w="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1743419925,
              "instanceId": "113f7888-dd12-45c1-95b7-0742126a078b",
              "source": "web"
            },
            "destination": "https://webhook.robotriz.com.br/webhook/b035afb1-843a-4e4f-9ff8-423f6fb65a75",
            "date_time": "2025-03-31T08:18:45.366Z",
            "sender": "5527996041600@s.whatsapp.net",
            "server_url": "https://evolution.robotriz.com.br",
            "apikey": "22804C08C5D7-47D6-9AA1-5AB6EF98DA25"
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook/b035afb1-843a-4e4f-9ff8-423f6fb65a75",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "c10ccc1d-aece-43c5-945d-3d0ed4beaab1",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-09-05T22:11:49.763Z",
      "updatedAt": "2024-09-05T22:11:49.763Z",
      "id": "eQXaHo0SFzE9DQYb",
      "name": "Robotriz"
    }
  ]
}