[POUSADA SERRA QUE CHORA]/Hmdbwj3QEStkNtVD.json
{
  "createdAt": "2024-12-03T22:23:35.961Z",
  "updatedAt": "2024-12-13T22:35:51.327Z",
  "id": "Hmdbwj3QEStkNtVD",
  "name": "[POUSADA SERRA QUE CHORA]-[ORCAMENTO]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const dados = $input.all();\nconst dias = parseInt(dados[0].json.dias);\nconst numAdultos = parseInt(dados[0].json.num_adultos);\nconst tipoRegime = dados[0].json.tipo_regime;\nconst altaTemporada = parseInt(dados[0].json.alta_temporada);\nconst criancas0a5 = parseInt(dados[0].json.criancas0a5); \nconst criancas6a11 = parseInt(dados[0].json.criancas6a11);\nconst criancas12a13 = parseInt(dados[0].json.criancas12a13);\nconst aplicarDesconto = parseInt(dados[0].json.alta_temporada);\nconst precos = JSON.parse(dados[0].json.precos).precos;\nconst precosAlta = JSON.parse(dados[0].json.precos).precosAlta;\nconst precosCriancas = JSON.parse(dados[0].json.precosCriancas);\n\n// Calcula o valor base considerando alta temporada ou não\nlet valorBase = precos[tipoRegime][numAdultos];\nif(altaTemporada == 1)\n  valorBase = precosAlta[numAdultos];\n\n// Calcula o valor adicional das crianças\nlet valorCriancas = 0;\n\nif (criancas0a5 > 0) {\n    valorCriancas += precosCriancas[\"0_5\"][criancas0a5] * dias;\n}\n\nif (criancas6a11 > 0) {\n    valorCriancas += precosCriancas[\"6_11\"][criancas6a11] * dias;\n}\n\nif (criancas12a13 > 0) {\n    valorCriancas += precosCriancas[\"12_13\"][criancas12a13] * dias;\n}\n\n// Calcula o valor total\nlet valorTotal = (valorBase * dias) + valorCriancas;\n\n// Aplica desconto se necessário\nif (dias > 3) {\n    valorTotal *= 0.876;  // aplica desconto de 12.4%\n}\n\nreturn {valorTotal};\n"
      },
      "id": "bb8f789b-b649-4be5-bb2e-2e0597471775",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b23090d-4791-4393-8505-39bda2323127",
              "name": "dias",
              "value": "={{ $('Webhook').item.json.body.dias }}",
              "type": "string"
            },
            {
              "id": "9cce9042-307d-4450-adde-ccb149ecf212",
              "name": "num_adultos",
              "value": "={{ $('Webhook').item.json.body.num_adultos }}",
              "type": "string"
            },
            {
              "id": "c6111f89-88ab-49e3-85d1-bb054c2f86b1",
              "name": "tipo_regime",
              "value": "={{ $('Webhook').item.json.body.tipo_regime }}",
              "type": "string"
            },
            {
              "id": "a41149cb-068f-4e3d-a5fd-6057b9cb1394",
              "name": "precos",
              "value": "={{ (()=>{\n\n  const data = $('Agregar Valores de Pensão').item.json.data\n  const precos = {};\n  const precosAlta = {};\n\n  data.forEach(item => {\n      const { adultos, pensao, preco, alta_temporada } = item;\n\n      if (alta_temporada === 0) {\n          if (!precos[pensao]) {\n              precos[pensao] = {};\n          }\n          precos[pensao][adultos] = preco;\n      } else if (alta_temporada === 1) {\n          precosAlta[adultos] = preco;\n      }\n  });\n\nreturn { precos, precosAlta };\n\n})()\n}}",
              "type": "string"
            },
            {
              "id": "3309acd9-c6f6-4b80-87d2-8cb0ea686347",
              "name": "precosCriancas",
              "value": "={{ (()=>{\n\n  const data = $json.data;\n  let diariasPorIdade = {};\n\n  data.forEach(item => {\n      const { criança, idade, valor: diaria } = {\n          criança: item['criança'],\n          idade: item['idade'],\n          valor: item['valor diaria']\n      };\n\n      if (!diariasPorIdade[idade]) diariasPorIdade[idade] = {};\n      diariasPorIdade[idade][criança] = parseFloat(diaria.toFixed(2));\n  });\n\n  return diariasPorIdade;\n\n})()\n}}",
              "type": "string"
            },
            {
              "id": "89761272-10f5-4063-b258-c02e280d86bb",
              "name": "criancas0a5",
              "value": "={{ $('Webhook').item.json.body.criancas0a5 }}",
              "type": "string"
            },
            {
              "id": "7f909edc-6ee3-42cf-a1e9-5e4020c8e85f",
              "name": "criancas6a11",
              "value": "={{ $('Webhook').item.json.body.criancas6a11 }}",
              "type": "string"
            },
            {
              "id": "68bcea10-00f0-4489-9abe-72b3748c0957",
              "name": "criancas12a13",
              "value": "={{ $('Webhook').item.json.body.criancas12a13 }}",
              "type": "string"
            },
            {
              "id": "17d4ae67-3d4b-4602-b6ba-7e93acbb6b39",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "64ec734d-5082-442a-a4e1-bc0bf6804cad",
              "name": "alta_temporada",
              "value": "={{ $('Webhook').item.json.body.alta_temporada }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "33c7b399-834c-4883-b51c-2768b4952fb4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        340
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VSpFcr3v5J-aEnfiDAIEaadGHw1emCwSiHJu2D1bb9A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 568397308,
          "mode": "list",
          "cachedResultName": "valores pensao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VSpFcr3v5J-aEnfiDAIEaadGHw1emCwSiHJu2D1bb9A/edit#gid=568397308"
        },
        "options": {}
      },
      "id": "d28c323e-4e7f-4589-ba15-e8a25169411f",
      "name": "Valores de Pensão",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        320,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "row_number",
        "options": {}
      },
      "id": "dde5303a-faf4-4818-9789-53d19dfce8eb",
      "name": "Agregar Valores de Pensão",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        500,
        340
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VSpFcr3v5J-aEnfiDAIEaadGHw1emCwSiHJu2D1bb9A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1313332465,
          "mode": "list",
          "cachedResultName": "crianças",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VSpFcr3v5J-aEnfiDAIEaadGHw1emCwSiHJu2D1bb9A/edit#gid=1313332465"
        },
        "options": {}
      },
      "id": "579a7d33-bb51-477e-acc1-a3e9a9caf091",
      "name": "Valores Crianças",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        680,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "row_number",
        "options": {}
      },
      "id": "c1b8c47e-741a-42e2-9b19-31c5fa5aa92a",
      "name": "Agregar Valores Crianças",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        860,
        340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "33e4ecfa-9e1a-4800-afb8-41415ecafc0e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1740,
        340
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VSpFcr3v5J-aEnfiDAIEaadGHw1emCwSiHJu2D1bb9A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1313332465,
          "mode": "list",
          "cachedResultName": "crianças",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VSpFcr3v5J-aEnfiDAIEaadGHw1emCwSiHJu2D1bb9A/edit#gid=1313332465"
        },
        "options": {}
      },
      "id": "43bf9e2d-3892-4920-8b7b-1db1e8c7380e",
      "name": "Valores de desconto",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1020,
        580
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "row_number",
        "options": {}
      },
      "id": "d07fc13f-e602-418f-8b2d-10dee65a7a4f",
      "name": "Agregar Valores de desconto",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1200,
        580
      ]
    },
    {
      "parameters": {
        "path": "2723a05f-454c-45ea-84dc-e094d6737e91",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cbb0b0e0-6472-451c-ad5a-4012950c1aaf",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        340
      ],
      "webhookId": "2723a05f-454c-45ea-84dc-e094d6737e91"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores de Pensão": {
      "main": [
        [
          {
            "node": "Agregar Valores de Pensão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Valores de Pensão": {
      "main": [
        [
          {
            "node": "Valores Crianças",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores Crianças": {
      "main": [
        [
          {
            "node": "Agregar Valores Crianças",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Valores Crianças": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores de desconto": {
      "main": [
        [
          {
            "node": "Agregar Valores de desconto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Valores de Pensão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.robotriz.com.br",
            "user-agent": "PostmanRuntime/7.43.0",
            "content-length": "169",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "postman-token": "f78938fe-8bf6-432a-9acd-93638e863a25",
            "x-forwarded-for": "186.233.178.130",
            "x-forwarded-host": "n8n.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "718376f0c031",
            "x-real-ip": "186.233.178.130"
          },
          "params": {},
          "query": {},
          "body": {
            "dias": "3",
            "num_adultos": "2",
            "criancas0a5": "0",
            "criancas6a11": "0",
            "criancas12a13": "1",
            "tipo_regime": "so_cafe",
            "alta_temporada": "0"
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook-test/2723a05f-454c-45ea-84dc-e094d6737e91",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "74332628-5b05-4950-8995-df84dd8ab460",
  "triggerCount": 1,
  "tags": []
}