[POUSADA SERRA QUE CHORA]/Hmdbwj3QEStkNtVD.json
{
  "createdAt": "2024-12-03T22:23:35.961Z",
  "updatedAt": "2024-12-13T14:09:34.442Z",
  "id": "Hmdbwj3QEStkNtVD",
  "name": "[POUSADA SERRA QUE CHORA]-[ORCAMENTO]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VSpFcr3v5J-aEnfiDAIEaadGHw1emCwSiHJu2D1bb9A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 568397308,
          "mode": "list",
          "cachedResultName": "valores pensao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VSpFcr3v5J-aEnfiDAIEaadGHw1emCwSiHJu2D1bb9A/edit#gid=568397308"
        },
        "options": {}
      },
      "id": "d28c323e-4e7f-4589-ba15-e8a25169411f",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        320,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all();\nconst dias = dados[0].json.dias;\nconst numAdultos = dados[0].json.num_adultos;\nconst tipoRegime = dados[0].json.tipo_regime;\nconst precosData = dados[0].json.dados;\nconst altaTemporada = 1;\nconst criancas0a5 = 0; \nconst criancas6a11 = 0;\nconst criancas12a13 = 0;\nconst aplicarDesconto = 0;\n\nconst precos = precosData.precos;\nconst precosAlta = precosData.precosAlta;\n//let orcamento = dados[0].json.dias * dados[0].json.preco;\n\nreturn {precosData};\n"
      },
      "id": "bb8f789b-b649-4be5-bb2e-2e0597471775",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b23090d-4791-4393-8505-39bda2323127",
              "name": "dias",
              "value": "={{ $('Webhook').item.json.body.dias }}",
              "type": "string"
            },
            {
              "id": "9cce9042-307d-4450-adde-ccb149ecf212",
              "name": "num_adultos",
              "value": "={{ $('Webhook').item.json.body.num_adultos }}",
              "type": "string"
            },
            {
              "id": "c6111f89-88ab-49e3-85d1-bb054c2f86b1",
              "name": "tipo_regime",
              "value": "={{ $('Webhook').item.json.body.tipo_regime }}",
              "type": "string"
            },
            {
              "id": "a17836a2-b80d-482c-8bdc-2ac297ddf555",
              "name": "preco",
              "value": "={{ $json.preco }}",
              "type": "number"
            },
            {
              "id": "a41149cb-068f-4e3d-a5fd-6057b9cb1394",
              "name": "precos",
              "value": "={{ (()=>{\n\n  const data = $json.data\n  const precos = {};\n  const precosAlta = {};\n\n  data.forEach(item => {\n      const { adultos, pensao, preco, alta_temporada } = item;\n\n      if (alta_temporada === 0) {\n          if (!precos[pensao]) {\n              precos[pensao] = {};\n          }\n          precos[pensao][adultos] = preco;\n      } else if (alta_temporada === 1) {\n          precosAlta[adultos] = preco;\n      }\n  });\n\n  return precos;\n\n})()\n}}",
              "type": "string"
            },
            {
              "id": "3309acd9-c6f6-4b80-87d2-8cb0ea686347",
              "name": "precosAlta",
              "value": "={{ (()=>{\n\n  const data = $json.data\n  const precos = {};\n  const precosAlta = {};\n\n  data.forEach(item => {\n      const { adultos, pensao, preco, alta_temporada } = item;\n\n      if (alta_temporada === 0) {\n          if (!precos[pensao]) {\n              precos[pensao] = {};\n          }\n          precos[pensao][adultos] = preco;\n      } else if (alta_temporada === 1) {\n          precosAlta[adultos] = preco;\n      }\n  });\n\n  return precosAlta;\n\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "33c7b399-834c-4883-b51c-2768b4952fb4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        340
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VSpFcr3v5J-aEnfiDAIEaadGHw1emCwSiHJu2D1bb9A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 568397308,
          "mode": "list",
          "cachedResultName": "valores pensao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VSpFcr3v5J-aEnfiDAIEaadGHw1emCwSiHJu2D1bb9A/edit#gid=568397308"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "adultos",
              "lookupValue": "={{ $json.body.num_adultos }}"
            },
            {
              "lookupColumn": "alta_temporada",
              "lookupValue": "={{ $json.body.alta_temporada }}"
            },
            {
              "lookupColumn": "pensao",
              "lookupValue": "={{ $json.body.tipo_regime }}"
            }
          ]
        },
        "options": {}
      },
      "id": "81db5924-e154-4269-af61-a961618430bc",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        340,
        600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "row_number",
        "options": {}
      },
      "id": "dde5303a-faf4-4818-9789-53d19dfce8eb",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        500,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d318a03-6800-40fe-8c64-42c90ae5fa9e",
              "name": "dados",
              "value": "={{ (()=>{\n\n  const data = $json.data\n  const precos = {};\n  const precosAlta = {};\n\n  data.forEach(item => {\n      const { adultos, pensao, preco, alta_temporada } = item;\n\n      if (alta_temporada === 0) {\n          if (!precos[pensao]) {\n              precos[pensao] = {};\n          }\n          precos[pensao][adultos] = preco;\n      } else if (alta_temporada === 1) {\n          precosAlta[adultos] = preco;\n      }\n  });\n\n  return { precos, precosAlta };\n\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0c038582-0b97-4419-ab3c-879e9d99d1f4",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        120
      ]
    },
    {
      "parameters": {
        "path": "2723a05f-454c-45ea-84dc-e094d6737e91",
        "options": {}
      },
      "id": "cbb0b0e0-6472-451c-ad5a-4012950c1aaf",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        340
      ],
      "webhookId": "2723a05f-454c-45ea-84dc-e094d6737e91"
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.robotriz.com.br",
            "user-agent": "PostmanRuntime/7.43.0",
            "content-length": "169",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "postman-token": "f78938fe-8bf6-432a-9acd-93638e863a25",
            "x-forwarded-for": "186.233.178.130",
            "x-forwarded-host": "n8n.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "718376f0c031",
            "x-real-ip": "186.233.178.130"
          },
          "params": {},
          "query": {},
          "body": {
            "dias": "3",
            "num_adultos": "2",
            "criancas0a5": "0",
            "criancas6a11": "0",
            "criancas12a13": "1",
            "tipo_regime": "so_cafe",
            "alta_temporada": "0"
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook-test/2723a05f-454c-45ea-84dc-e094d6737e91",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "c6b1f8a5-0ca5-41f6-b7df-caed934bf6da",
  "triggerCount": 0,
  "tags": []
}