[POUSADA SERRA QUE CHORA]/jbrvGhYnCRMH9uvw.json
{
  "createdAt": "2024-12-22T23:23:32.173Z",
  "updatedAt": "2024-12-22T23:52:25.529Z",
  "id": "jbrvGhYnCRMH9uvw",
  "name": "[POUSADA SERRA QUE CHORA]-[TRATAMENTO DE ERRO]",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "245b4e70-eef2-42d5-a87e-9ab084d58d83",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        360
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telefone",
              "lookupValue": "={{ $('Variaveis').item.json.celular }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "042b25ab-4f22-496b-86da-caa0a9707e4a",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        540,
        360
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32d59737-a408-4097-ae6a-cbb435afde8b",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5622521d-2664-4339-bfa1-ee4678ff27f9",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07a30880-ff38-4636-ba58-d176ecf5c2af",
              "leftValue": "={{ $json.key.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d46ce531-1af9-4e0a-ae8f-1b9e549739e0",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2100,
        380
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "9d41047a-6f28-4289-8871-dea945b81091",
      "name": "Limpa msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2340,
        300
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/suporte_admiraves",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=2670092489D3-45C2-A404-0E1A22B89C31"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Dify').item.json.answer }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "d203bfe3-c784-4d3a-ac3a-7c454192ddbf",
      "name": "Envia resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        700
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Variaveis').item.json.celular }}",
            "conversation_id": "={{ $('Dify').item.json.conversation_id }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_inscricao",
              "displayName": "data_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_inscricao",
              "displayName": "horario_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pagina",
              "displayName": "pagina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "5c7ae536-5467-4e3d-8558-406a7e9bb433",
      "name": "Atualiza conversation_id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1620,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f10a56af-ec7b-48cd-aa36-1a6d14488814",
              "leftValue": "={{ $('Dados Lead').item.json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "29b10977-47ce-4d69-ac6f-09e0ae1ce38d",
      "name": "Não tem conversation_id",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1380,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dify-serra-que-chora.robotriz.com.br/v1/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ $('Variaveis').item.json.query }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "abffa1b3-9dd0-4234-961c-4b9d5c7310da",
      "name": "Dify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        360
      ],
      "retryOnFail": false,
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "883441bb-4af1-4ada-84fa-ff750dc06d71",
              "name": "=query",
              "value": "={{\n\n(()=>{\n\n  let arrMensagens = $json.propertyName;\n\n  return arrMensagens.join(\" \").replace(/(\\r\\n|\\n|\\r)/gm, ' ');\n})()\n\n}}",
              "type": "string"
            },
            {
              "id": "0467b215-5b0c-4fab-a962-5a3f203a3332",
              "name": "conversation_id",
              "value": "={{ $('Google Sheets').item.json.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f69317c5-973c-4705-96e1-849ee024791f",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-serra-que-chora.robotriz.com.br/message/sendText/saira",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "3B74C9B3DC4E-4957-B413-D4136B81EC11"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5511981588224"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem_erro }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ccf2822e-4204-4cab-9980-a067e8490ccf",
      "name": "Envia alerta de erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        360
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.celular }}",
        "keyType": "list",
        "options": {}
      },
      "id": "089a30a5-d032-46e3-9985-ddd34ddc0704",
      "name": "Consulta msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        700,
        560
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fe625a-e4e5-4cda-aef3-aaa6627f2317",
              "name": "mensagem_erro",
              "value": "=Olá Acacio, segue o erro encontrado:\n\nID Workflow: {{ $json.workflow.id }}\nNome do Workflow: {{ $json.workflow.name }}\nMensagem: {{ $json.execution.error.message }}\nUltimo nó executado: {{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "cdfc0ca1-b7f8-47b5-9708-c14c7e2a2f42",
              "name": "celular",
              "value": "={{ (()=>{\n\n  var entrada = $json.execution.error.context.request.body.user\n\n    const partes = entrada.split('@');\n    \n    // Pegar a primeira parte\n    let primeiraParte = partes[0];\n    \n    // Verificar se tem 13 caracteres\n    if (primeiraParte.length !== 13) {\n        // Inserir '9' na 5ª posição (índice 4)\n        primeiraParte = primeiraParte.slice(0, 4) + '9' + primeiraParte.slice(4);\n    }\n\nreturn primeiraParte\n\n})()\n}}",
              "type": "string"
            },
            {
              "id": "0e23ca2a-8f0a-4762-901c-5343275f2bd8",
              "name": "remoteJid",
              "value": "={{ $json.execution.error.context.request.body.user }}",
              "type": "string"
            },
            {
              "id": "6b02bcd2-c1f7-4135-9138-5676e5b2ec49",
              "name": "query",
              "value": "={{ $json.execution.error.context.request.body.query }}",
              "type": "string"
            },
            {
              "id": "7b651b87-16ae-4cf9-9690-4155c0a5a25d",
              "name": "api_key",
              "value": "app-jmL60wgQEGVdXuupQBTFkrVE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c5ad739d-87c6-4ffc-8921-c1c42d92f852",
      "name": "Variaveis 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fe625a-e4e5-4cda-aef3-aaa6627f2317",
              "name": "mensagem_erro",
              "value": "=Olá Acacio, segue o erro encontrado:\n\nID Workflow: {{ $json.workflow.id }}\nNome do Workflow: {{ $json.workflow.name }}\nMensagem: {{ $json.execution.error.message }}\nUltimo nó executado: {{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "cdfc0ca1-b7f8-47b5-9708-c14c7e2a2f42",
              "name": "celular",
              "value": "={{ (()=>{\n\n  var entrada = $json.execution.error.context.request.body.user\n\n    const partes = entrada.split('@');\n    \n    // Pegar a primeira parte\n    let primeiraParte = partes[0];\n    \n    // Verificar se tem 13 caracteres\n    if (primeiraParte.length !== 13) {\n        // Inserir '9' na 5ª posição (índice 4)\n        primeiraParte = primeiraParte.slice(0, 4) + '9' + primeiraParte.slice(4);\n    }\n\nreturn primeiraParte\n\n})()\n}}",
              "type": "string"
            },
            {
              "id": "0e23ca2a-8f0a-4762-901c-5343275f2bd8",
              "name": "remoteJid",
              "value": "={{ $json.execution.error.context.request.body.user }}",
              "type": "string"
            },
            {
              "id": "6b02bcd2-c1f7-4135-9138-5676e5b2ec49",
              "name": "query",
              "value": "={{ $json.execution.error.context.request.body.query }}",
              "type": "string"
            },
            {
              "id": "7b651b87-16ae-4cf9-9690-4155c0a5a25d",
              "name": "api_key",
              "value": "app-vmB7uHP1CoT7uFmFOHDictEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ec856610-d148-4d03-adae-209e3b31e745",
      "name": "Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-serra-que-chora.robotriz.com.br/message/sendText/saira",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=3B74C9B3DC4E-4957-B413-D4136B81EC11"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Dify').item.json.answer }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "122b3ce4-a3f1-4b90-be83-1798bf6f7b0c",
      "name": "Envia resposta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dify-serra-que-chora.robotriz.com.br/v1/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": {},\n  \"query\": \"{{ $('Mensagens').item.json.query }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Dados Lead').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "99e1455f-c343-4600-b3a0-d66a05c46eba",
      "name": "Dify1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        80
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-serra-que-chora.robotriz.com.br/message/sendText/saira",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=3B74C9B3DC4E-4957-B413-D4136B81EC11"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Dify').item.json.answer }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "a21de42d-1e09-4a6c-b4c2-1e56ae5d0087",
      "name": "Envia resposta2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        380
      ]
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limpa msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia resposta": {
      "main": [
        []
      ]
    },
    "Atualiza conversation_id": {
      "main": [
        [
          {
            "node": "Envia resposta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não tem conversation_id": {
      "main": [
        [
          {
            "node": "Atualiza conversation_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia resposta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify": {
      "main": [
        [
          {
            "node": "Não tem conversation_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia alerta de erro": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msgs": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis": {
      "main": [
        [
          {
            "node": "Envia alerta de erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        [
          {
            "node": "Dify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify1": {
      "main": [
        []
      ]
    },
    "Envia resposta2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "19778",
            "url": "https://webhook.robotriz.com.br/workflow/Zf7EFCrOiB82eMqj/executions/19778",
            "error": {
              "level": "warning",
              "tags": {},
              "context": {
                "itemIndex": 0,
                "request": {
                  "body": {
                    "inputs": {},
                    "query": "Sim",
                    "response_mode": "blocking",
                    "conversation_id": "b0f9d02d-58d3-4831-a205-fb04f59224cb",
                    "user": "553597638844@s.whatsapp.net",
                    "files": [
                      {
                        "type": "image",
                        "transfer_method": "remote_url",
                        "url": "https://cloud.dify.ai/logo/logo-site.png"
                      }
                    ]
                  },
                  "headers": {
                    "authorization": "**hidden**",
                    "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"
                  },
                  "method": "POST",
                  "uri": "https://dify-serra-que-chora.robotriz.com.br/v1/chat-messages",
                  "gzip": true,
                  "rejectUnauthorized": false,
                  "followRedirect": true,
                  "resolveWithFullResponse": true,
                  "followAllRedirects": true,
                  "timeout": 300000,
                  "encoding": null,
                  "json": false,
                  "useStream": true
                }
              },
              "functionality": "regular",
              "name": "NodeApiError",
              "timestamp": 1734911096813,
              "node": {
                "parameters": {
                  "curlImport": "",
                  "method": "POST",
                  "url": "https://dify-serra-que-chora.robotriz.com.br/v1/chat-messages",
                  "authentication": "none",
                  "provideSslCertificates": false,
                  "sendQuery": false,
                  "sendHeaders": true,
                  "specifyHeaders": "keypair",
                  "headerParameters": {
                    "parameters": [
                      {
                        "name": "Authorization",
                        "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
                      }
                    ]
                  },
                  "sendBody": true,
                  "contentType": "json",
                  "specifyBody": "json",
                  "jsonBody": "={\n\"inputs\": {},\n  \"query\": \"{{ $('Mensagens').item.json.query }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Dados Lead').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
                  "options": {
                    "allowUnauthorizedCerts": true
                  },
                  "infoMessage": ""
                },
                "id": "16ea6ea8-883c-47ac-b447-7cdd2f2fedc4",
                "name": "Dify",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                  2140,
                  140
                ],
                "retryOnFail": true,
                "alwaysOutputData": true,
                "notesInFlow": false
              },
              "messages": [
                "400 - \"{\\\"code\\\": \\\"invalid_param\\\", \\\"message\\\": \\\"Run failed: Expecting property name enclosed in double quotes: line 2 column 1 (char 2)\\\", \\\"status\\\": 400}\\n\""
              ],
              "httpCode": "400",
              "description": "Run failed: Expecting property name enclosed in double quotes: line 2 column 1 (char 2)",
              "message": "Bad request - please check your parameters",
              "stack": "NodeApiError: Bad request - please check your parameters\n    at Object.execute (/usr/local/lib/node_modules/n8n/node_modules/n8n-nodes-base/dist/nodes/HttpRequest/V3/HttpRequestV3.node.js:502:33)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)\n    at Workflow.runNode (/usr/local/lib/node_modules/n8n/node_modules/n8n-workflow/dist/Workflow.js:722:19)\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/WorkflowExecute.js:707:51\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/WorkflowExecute.js:1137:20"
            },
            "lastNodeExecuted": "Dify",
            "mode": "webhook"
          },
          "workflow": {
            "id": "Zf7EFCrOiB82eMqj",
            "name": "[POUSADA SERRA QUE CHORA]-[EVOLUTION_DIFY]"
          }
        }
      }
    ]
  },
  "versionId": "af92eda1-fad4-4b7b-82f6-ec49bc404b7d",
  "triggerCount": 0,
  "tags": []
}