[POUSADA SERRA QUE CHORA]/OdVCgCjpotZ0wHYG.json
{
  "createdAt": "2024-10-20T13:01:17.423Z",
  "updatedAt": "2024-11-09T16:29:19.676Z",
  "id": "OdVCgCjpotZ0wHYG",
  "name": "[POUSADA SERRA QUE CHORA]-[EVOLUTION_DIFY]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.celular }}",
        "messageData": "={{ $json.conversation }}",
        "tail": true
      },
      "id": "2f92ede2-a5a8-4eb5-8bfc-354e9e654e5f",
      "name": "Salva msg",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1180,
        180
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.celular }}",
        "options": {}
      },
      "id": "91c51ee9-cd5d-4172-8a95-669cde00f960",
      "name": "Consulta msg",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1380,
        180
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2e0a1c74-f04d-428c-b99f-db3c0ce31afc",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "342aaf3d-da6a-4523-98a2-7d9a53b08bf7",
      "name": "Primeira msg",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        180
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "abff484e-1fde-453f-9b4d-a5b890a5172a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1820,
        120
      ],
      "webhookId": "2e128750-9452-4799-8fa8-c31b8801043c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/Pousadas%20Robotriz",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "6612A58785A6-4F45-9527-B3BA28DF0952"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "5535997638844"
            },
            {
              "name": "text",
              "value": "={{\n\n(()=>{\n\n  let arrMensagens = $json.propertyName;\n\n  return arrMensagens.join(\", \");\n})()\n\n}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {}
          }
        }
      },
      "id": "1cfc07ed-082c-41c6-bff0-1abdeadb8f2d",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        1020
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3d0d8df-bb6e-415d-a075-87214afeb35b",
              "leftValue": "={{ $json.key.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5f3b2344-0cc9-49df-9352-44af0e54b2ad",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07a30880-ff38-4636-ba58-d176ecf5c2af",
              "leftValue": "={{ $json.key.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2d31e58-a193-47d7-9eec-09463d8b3e2d",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        120
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "7af4d9cd-1f2f-4ba7-897a-8240504b5016",
      "name": "Limpa msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2640,
        40
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "37a3cfd0-f02f-4036-90b5-e6b30c443a5d",
      "name": "Limpa msgs1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        760,
        1020
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.celular }}",
        "keyType": "list",
        "options": {}
      },
      "id": "c4cfbf01-8274-4d9b-89f1-c268d71e6ae1",
      "name": "Consulta msg novamente1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        120,
        1020
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.celular }}",
        "keyType": "list",
        "options": {}
      },
      "id": "0e6694a9-36aa-4842-95e1-734c7486223d",
      "name": "Consulta msg novamente",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2000,
        120
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "d5f79932-5051-4f86-81a1-2d6c0c58887a",
      "name": "Limpa msgs2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        460,
        540
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/Pousadas%20Robotriz",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "6612A58785A6-4F45-9527-B3BA28DF0952"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.celular }}"
            },
            {
              "name": "text",
              "value": "={{\n\n(()=>{\n\n  let arrMensagens = $json.propertyName;\n\n  return arrMensagens.join(\" \");\n})()\n\n}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "907b64c6-7b7a-42af-b57b-d0f700163347",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        120
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "id": "41ba96d6-fbb2-496a-a9d8-197482cc05b0",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1700,
        480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audio64",
        "options": {
          "fileName": "transcricao.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "id": "0a2234c2-1871-4b67-9e2d-1ece1cef5da4",
      "name": "Converter em Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1540,
        480
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "audio64",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "bff6ab31-c7e7-44c7-b6d5-6491c8ab7c07",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1380,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4db082c-7b6d-4c1b-9232-9fc11bb87d0b",
              "name": "celular",
              "value": "={{ \n\n(()=>{\n\n  let remoteJid = $json.body.data.key.remoteJid\n  let partes = remoteJid.split(\"@\");\n\n  return partes[0];\n})()\n\n}}",
              "type": "string"
            },
            {
              "id": "f65e5c07-5ab4-4c07-8e1c-c111679c1ea6",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "c7992d57-110f-437b-bee1-4989fc61970f",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "fec08f2b-1704-40a3-9d28-b7ad31cf4de9",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "d5a9e1b0-c328-4adc-9036-2289eded7c36",
              "name": "api_key",
              "value": "app-ExGx5U9U8twB4HEkCeCv0TEi",
              "type": "string"
            },
            {
              "id": "19be9c52-b2c1-4f53-b05c-5d79db7b8a26",
              "name": "query",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "0dceeda4-dbc7-4ffd-9bb0-a83fdbe98192",
              "name": "conversation_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6c2117f5-8b65-43f4-8b02-c0a5a4cebce4",
      "name": "Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6cd097d-3a3a-4cdc-a6f1-13c118a4618c",
              "name": "transcricao",
              "value": "={{\n  $node['Webhook'].json.body.data.message.imageMessage?.caption\n    ? (\n        $json.content \n          ? `${$json.content} Legenda: ${$node['Webhook'].json.body.data.message.imageMessage.caption } }` \n          : 'Erro: json.content ausente para imagem com legenda'\n      ) \n    : `${$json.content || ''} ${$json.text ? $json.text : ''}`\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "73717b95-7743-4162-b4c5-abcc23e8206a",
      "name": "Transcrição",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1860,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/Pousadas%20Robotriz",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "6612A58785A6-4F45-9527-B3BA28DF0952"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.celular }}"
            },
            {
              "name": "text",
              "value": "={{ $json.transcricao }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {}
          }
        }
      },
      "id": "03b2da60-1e0f-42c4-9ac6-71434c652fc6",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        480
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "image64",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "0c4918d4-a664-41af-a288-4298f241a053",
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1380,
        740
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image64",
        "options": {
          "fileName": "imagem.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "81b03947-73b6-41bf-b3fc-48402befb599",
      "name": "Converter em Imagem",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1540,
        740
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "Descreva todo o conteúdo da imagem, sem Acentos e sem hífens",
        "inputType": "base64",
        "options": {}
      },
      "id": "ac747ebc-c02d-477a-ae57-552a343d86c7",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1700,
        740
      ],
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.data.message.mediaUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "94f7d30f-68d5-479a-ac67-d5fe71ebc038",
      "name": "Baixar audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        480
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.data.message.mediaUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a3f3b99b-080d-49d4-bda4-e190ee41063b",
      "name": "Baixar imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        740
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "772cb82b-59c4-4f89-8b4a-656d3f8c1226",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "019ed50a-9616-4a4a-af08-e8317e239faa",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "id": "2875cbac-3d1f-4232-8929-134ab6500094",
      "name": "Tipo de mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        540,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dify-api.robotriz.com.br/v1/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ $json.query }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $json.conversation_id }}\",\n  \"user\": \"{{ $json.celular }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "fa087dd5-4df5-4379-bf30-711e00545452",
      "name": "Dify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        180
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "991970e8-1eec-497c-8776-bc7344b96e33",
        "options": {}
      },
      "id": "ebf1698a-a36f-4ea3-b9e1-c0e19f4f06b6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        360
      ],
      "webhookId": "991970e8-1eec-497c-8776-bc7344b96e33"
    }
  ],
  "connections": {
    "Salva msg": {
      "main": [
        [
          {
            "node": "Consulta msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msg": {
      "main": [
        [
          {
            "node": "Primeira msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primeira msg": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Consulta msg novamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limpa msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msg novamente1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msg novamente": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter em Audio": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Converter em Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrição": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Converter em Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter em Imagem": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar audio": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar imagem": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Dify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.robotriz.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "983",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9292266f8f54",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Pousadas Robotriz",
            "data": {
              "key": {
                "remoteJid": "553597638844@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB08EF07A5DE9DBA33E68"
              },
              "pushName": "Acácio Araujo MG",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "boa noite",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "X/lGvRQo33s7pg==",
                    "senderTimestamp": "1730470693",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "HE8UCoytRf4t2A==",
                    "recipientTimestamp": "1729377585"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "PLefTvFHL3OTt2bUAeLcuBtr2ie7We5SOFC1E2QgiIY="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1730862829,
              "instanceId": "37c69b57-d8c3-422f-9cfa-b438c22a0227",
              "source": "web"
            },
            "destination": "https://n8n.robotriz.com.br/webhook-test/991970e8-1eec-497c-8776-bc7344b96e33",
            "date_time": "2024-11-06T00:13:49.718Z",
            "sender": "553199648308@s.whatsapp.net",
            "server_url": "https://evolution.robotriz.com.br",
            "apikey": "6612A58785A6-4F45-9527-B3BA28DF0952"
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook-test/991970e8-1eec-497c-8776-bc7344b96e33",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "f00a9464-3053-4fa8-9caa-3ee7cc1cdbcb",
  "triggerCount": 1,
  "tags": []
}