[POUSADA SERRA QUE CHORA]/rXjfM0FuhTofzriM.json
{
  "createdAt": "2024-11-19T00:53:25.227Z",
  "updatedAt": "2024-11-19T13:21:46.923Z",
  "id": "rXjfM0FuhTofzriM",
  "name": "[POUSADA SERRA QUE CHORA]-[CALCULO DE HOSPEDAGEM]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49807d27-7108-498b-9497-7502f227d730",
              "name": "valor",
              "value": "={{ (()=>{\n\n\n  const numAdultos = $json.body.numAdultos;\n  const tipoRegime = $json.body.tipo_regime;\n  const dias = $json.body.dias;\n  const altaTemporada = $json.body.altaTemporada;\n  const criancas0a6 = $json.body.criancas0a6;\n  const criancas6a11 = $json.body.criancas6a12;\n  const criancas12a13 = $json.body.criancas12a13;\n  const aplicarDesconto = $json.body.aplicarDesconto;\n\n//const numAdultos = 3;\n//const tipoRegime = \"pensao_completa\";\n//const dias = 1;\n//const altaTemporada = 0;\n//const criancas0a6 = 0;\n//const criancas6a11 = 0;\n//const criancas12a13 = 1;\n//const aplicarDesconto = 0;\n\n\n  let precos = {\n          'so_cafe': {1: 365.00, 2: 440.00, 3: 510.00, 4: 585.00, 5: 670.00},\n          'cafe_almoco': {1: 400.00, 2: 530.00, 3: 650.00, 4: 765.00, 5: 890.00},\n          'cafe_jantar': {1: 400.00, 2: 530.00, 3: 650.00, 4: 765.00, 5: 890.00},\n          'pensao_completa': {1: 420.00, 2: 630.00, 3: 790.00, 4: 955.00, 5: 1120.00}\n      };\n      \n  let precosAlta = {\n      1: 503.00, \n      2: 849.00, \n      3: 1071.00, \n      4: 1293.00, \n      5: 1522.00\n  };\n  \n  let valorBase = altaTemporada ? precosAlta[numAdultos] : precos[tipoRegime][numAdultos];\n  let valorCriancas = 0;\n  \n  if (criancas0a6 === 2) {\n      valorCriancas += 550.00;\n  }\n  \n  valorCriancas += criancas6a11 * 60.00;\n  valorCriancas += criancas12a13 * 80.00;\n  \n  let valorTotal = (valorBase * dias) + valorCriancas;\n  \n  if (aplicarDesconto) {\n      valorTotal *= 0.876;  // aplica desconto de 12.4%\n  }\n  return valorTotal;\n})()\n}}\n",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "2896dce4-e56e-4f55-8637-321f78429e66",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"valor\": \"{{ $json.valor }}\"\n}",
        "options": {}
      },
      "id": "0223a956-c9ff-4ef0-bb4d-3aaf5931154b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        360
      ]
    },
    {
      "parameters": {
        "path": "c4a3accd-e568-47eb-9d7d-39204e820769",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "131abaac-7be6-49fd-b7f5-fb565f444bb7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        360
      ],
      "webhookId": "c4a3accd-e568-47eb-9d7d-39204e820769"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.robotriz.com.br",
            "user-agent": "PostmanRuntime/7.42.0",
            "content-length": "188",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "postman-token": "645e05d1-9408-4c47-b114-c188832fa9c9",
            "x-forwarded-for": "186.233.178.125",
            "x-forwarded-host": "n8n.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9292266f8f54",
            "x-real-ip": "186.233.178.125"
          },
          "params": {},
          "query": {},
          "body": {
            "numAdultos": 4,
            "dias": 4,
            "tipo_regime": "pensao_completa",
            "altaTemporada": 0,
            "criancas0a6": 0,
            "criancas6a12": 0,
            "criancas12a13": 1,
            "aplicarDesconto": 1
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook-test/c4a3accd-e568-47eb-9d7d-39204e820769",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "cc3eb166-7ced-4ab0-9d6c-bc0ce910f689",
  "triggerCount": 1,
  "tags": []
}