[CONDE TRADER]/w6Yuc1OzmBIMz9OP.json
{
  "createdAt": "2024-09-02T23:19:29.112Z",
  "updatedAt": "2024-09-02T23:31:31.636Z",
  "id": "w6Yuc1OzmBIMz9OP",
  "name": "[CONDE TRADER] - [WEBHOOK][VALIDACAO DE ACESSO]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuxuslxmlmipcezvvyjs.supabase.co/rest/v1/rpc/gerenciar_acesso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1eHVzbHhtbG1pcGNlenZ2eWpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjQzNTk3NDQsImV4cCI6MjAzOTkzNTc0NH0.asxtzY3BeCzETG5-xiB_iTuoUBISvCA60KupVvr1IfA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1eHVzbHhtbG1pcGNlenZ2eWpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjQzNTk3NDQsImV4cCI6MjAzOTkzNTc0NH0.asxtzY3BeCzETG5-xiB_iTuoUBISvCA60KupVvr1IfA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "ad02dc55-9fc0-4652-9fe1-01ae5f4d17b5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"vr_id_meta_trade\": \"{{ $json.vr_id_meta_trade }}\",\n  \"vr_data_validade\": \"{{ $json.vr_data_validade}}\",\n  \"vr_acesso_liberado\": {{ $json.vr_acesso_liberado }},\n  \"vr_observacao\": \"{{ $json.vr_observacao }}\"\n} ",
        "options": {}
      },
      "id": "d8880ddf-7749-4793-96e5-97b9f8a66346",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        360
      ]
    },
    {
      "parameters": {
        "path": "5fffc5ac-81ad-4322-8f94-19d108694cfa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d668db01-ca23-480d-9971-3fe128e10302",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        820,
        360
      ],
      "webhookId": "5fffc5ac-81ad-4322-8f94-19d108694cfa"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "36b5cfea-8b11-4391-85f8-5a9e81a21e86",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-08-29T12:46:14.140Z",
      "updatedAt": "2024-08-29T12:46:14.140Z",
      "id": "eocVvbKElZAXBdU4",
      "name": "CONDE TRADER"
    }
  ]
}