[IMOBILIARIA ROBOTRIZ]/ZV75ih8MrdP2E65o.json
{
  "createdAt": "2025-02-11T13:51:34.995Z",
  "updatedAt": "2025-02-24T19:08:55.371Z",
  "id": "ZV75ih8MrdP2E65o",
  "name": "[IMOBILIARIA ROBOTRIZ]-[EVOLUTION_DIFY]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variaveis').item.json.celular }}",
        "messageData": "={{ $('Variaveis').item.json.conversation }}",
        "tail": true
      },
      "id": "0d548b42-c7d3-44d3-b5b9-bf0101ed72fe",
      "name": "Salva msg",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1300,
        740
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.celular }}",
        "options": {}
      },
      "id": "03e211a8-9b2e-42ac-b683-f77fb90d66bb",
      "name": "Consulta msg",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1080,
        740
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2e0a1c74-f04d-428c-b99f-db3c0ce31afc",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87cfbf2d-8519-455c-a8c6-3caa0458d05f",
      "name": "Primeira msg",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        740
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "3f67e9b2-7199-4db2-834d-93b0d6041dd5",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -660,
        680
      ],
      "webhookId": "3ddc4a92-b7ed-4cd6-8d94-a9a3bf72df8d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07a30880-ff38-4636-ba58-d176ecf5c2af",
              "leftValue": "={{ $json.key.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "70d54222-d19d-42f4-a3ee-c3f5cf31a62d",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        580
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.celular }}",
        "keyType": "list",
        "options": {}
      },
      "id": "fa8f14bf-10d2-4507-879f-59a3e5cda7b1",
      "name": "Consulta msg novamente",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -480,
        680
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.celular }}"
      },
      "id": "49ed3f5e-8a2d-4016-b3a3-940679163102",
      "name": "Limpa msgs2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2740,
        700
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "id": "bd280e84-ac07-4143-be65-3ee44b832c2a",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        -820,
        1000
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audio64",
        "options": {
          "fileName": "transcricao.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "id": "a561cabc-0b41-4a8f-9366-b54209a5d67c",
      "name": "Converter em Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -980,
        1000
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "audio64",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "51e53fcc-5f25-422b-955e-05d19f001857",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -1140,
        1000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6cd097d-3a3a-4cdc-a6f1-13c118a4618c",
              "name": "transcricao",
              "value": "={{\n  $node['Webhook'].json.body.data.message.imageMessage?.caption\n    ? (\n        $json.content \n          ? `${$json.content} Legenda: ${$node['Webhook'].json.body.data.message.imageMessage.caption } }` \n          : 'Erro: json.content ausente para imagem com legenda'\n      ) \n    : `${$json.content || ''} ${$json.text ? $json.text : ''}`\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d3b5afaf-bf48-4376-9e83-35cc9b713a36",
      "name": "Transcrição",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -660,
        1000
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "image64",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "d48459f7-2602-4f78-b690-15a319c31db4",
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -1140,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image64",
        "options": {
          "fileName": "imagem.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "7e92a4b5-0d6b-434c-a4f4-64a960135072",
      "name": "Converter em Imagem",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -980,
        1260
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "Descreva todo o conteúdo da imagem, sem Acentos e sem hífens",
        "inputType": "base64",
        "options": {}
      },
      "id": "7c499187-2959-414a-82ca-1e5684a0a11a",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -820,
        1260
      ],
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.data.message.mediaUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b51c1d27-1f66-4ebb-896e-458e5f565ea4",
      "name": "Baixar audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1300,
        1000
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.data.message.mediaUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "50e7211a-41a1-4009-805b-19928bd3d58f",
      "name": "Baixar imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1300,
        1260
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19A6CvIuNWGGXAiHCCWLX6PmF6YlmXt-tCGkkyYYDlzA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2138516065,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19A6CvIuNWGGXAiHCCWLX6PmF6YlmXt-tCGkkyYYDlzA/edit#gid=2138516065"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "celular",
              "lookupValue": "={{ $json.celular }}"
            }
          ]
        },
        "options": {}
      },
      "id": "507484c8-2776-465c-9428-07bbab6f5829",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2680,
        920
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32d59737-a408-4097-ae6a-cbb435afde8b",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6f2c0c05-cffa-4364-baed-5889b9182c0d",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1860,
        900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ec39f15-8a96-4e19-b459-9078035f0d99",
              "name": "celular",
              "value": "={{ (()=>{\n\n  var entrada = $json.body.data.key.remoteJid\n\n    const partes = entrada.split('@');\n    \n    // Pegar a primeira parte\n    let primeiraParte = partes[0];\n    \n    // Verificar se tem 13 caracteres\n    if (primeiraParte.length !== 13) {\n        // Inserir '9' na 5ª posição (índice 4)\n        primeiraParte = primeiraParte.slice(0, 4) + '9' + primeiraParte.slice(4);\n    }\n\nreturn primeiraParte\n\n})()\n}}",
              "type": "string"
            },
            {
              "id": "f853db83-6be1-4ee2-93fd-19c955345814",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "fe55b87a-c26f-412c-bc13-de0663d0aaf0",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "5acbc6a3-2627-40dd-a5b3-0818f6cd10cd",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "ed90fdce-325a-4ec2-8794-5ec8eb347694",
              "name": "api_key",
              "value": "app-BrAqlaOL08Ygo8Ro8mrsCoXo",
              "type": "string"
            },
            {
              "id": "e1ac8d3c-b336-4cbd-ab7d-0ab23f240dd7",
              "name": "dify_url",
              "value": "https://dify-api.robotriz.com.br/v1/chat-messages",
              "type": "string"
            },
            {
              "id": "ebc64d7b-2a21-4879-b7c4-90b71848f33b",
              "name": "evolution_url",
              "value": "https://evolution.robotriz.com.br/message/sendText/Imobiliaria%20Robotriz",
              "type": "string"
            },
            {
              "id": "f5736b37-cbdb-456f-ab20-c0d25d2a97ed",
              "name": "evolution_apikey",
              "value": "1D0689F15C1B-47B8-81ED-BC6D2D4B0424",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "885b2fcd-e8c0-4ed3-b788-be41535f3b14",
      "name": "Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2940,
        920
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "772cb82b-59c4-4f89-8b4a-656d3f8c1226",
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "019ed50a-9616-4a4a-af08-e8317e239faa",
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "id": "e6b95165-af52-401d-845d-39eadd81ec9a",
      "name": "Tipo de mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1640,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f10a56af-ec7b-48cd-aa36-1a6d14488814",
              "leftValue": "={{ $('Dados Lead').item.json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e59ff8ad-40f6-4868-8e0f-eb477069db47",
      "name": "Não tem conversation_id",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19A6CvIuNWGGXAiHCCWLX6PmF6YlmXt-tCGkkyYYDlzA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2138516065,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19A6CvIuNWGGXAiHCCWLX6PmF6YlmXt-tCGkkyYYDlzA/edit#gid=2138516065"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "celular": "={{ $('Variaveis').item.json.celular }}",
            "data_cadastro": "={{ $now.toString() }}",
            "conversation_id": "={{ $('Dify').item.json.conversation_id }}"
          },
          "matchingColumns": [
            "celular"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "e672eaf7-faf7-4574-82e5-e6eb2c2e3333",
      "name": "Atualiza conversation_id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "883441bb-4af1-4ada-84fa-ff750dc06d71",
              "name": "=query",
              "value": "={{\n\n(()=>{\n\n  let arrMensagens = $json.propertyName;\n\n  return arrMensagens.join(\" \").replace(/(\\r\\n|\\n|\\r)/gm, ' ');\n})()\n\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c39ad87b-c2cf-4623-8861-c8db769a96d2",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.dify_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ \n(()=>{\n  return $json.transcricao.replace(/[\\n\\r]/g, '').replace('\"','');\n})()\n\n}}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Dados Lead').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "8ce93867-ec85-4ac5-803c-2bb3333ebad5",
      "name": "Dify1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        1000
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f10a56af-ec7b-48cd-aa36-1a6d14488814",
              "leftValue": "={{ $('Dados Lead').item.json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "624a0423-9488-4cbb-afaf-5fa09a36f767",
      "name": "Não tem conversation_id1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19A6CvIuNWGGXAiHCCWLX6PmF6YlmXt-tCGkkyYYDlzA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2138516065,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19A6CvIuNWGGXAiHCCWLX6PmF6YlmXt-tCGkkyYYDlzA/edit#gid=2138516065"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Dify1').item.json.conversation_id }}",
            "celular": "={{ $('Variaveis').item.json.celular }}"
          },
          "matchingColumns": [
            "celular"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "2fbc18ce-d8f6-4923-a00a-f90569e1c9f2",
      "name": "Atualiza conversation_id1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        40,
        900
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variaveis').item.json.evolution_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Dify1').item.json.answer }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "9be32211-2312-474a-b45e-2f2d806350d5",
      "name": "Envia resposta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "a823beca-a399-4ba6-b639-d2597b78b49f",
      "name": "Limpa msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1180,
        500
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.evolution_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variaveis').item.json.evolution_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Dify').item.json.answer }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "38ebc326-7a58-43e1-a32d-3b30a2723dcd",
      "name": "Envia resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json.dify_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": {},\n  \"query\": \"{{ $('Mensagens').item.json.query }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Dados Lead').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "a70a5f3f-d580-499f-b4c5-041c9b272d42",
      "name": "Dify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        680
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19A6CvIuNWGGXAiHCCWLX6PmF6YlmXt-tCGkkyYYDlzA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2138516065,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19A6CvIuNWGGXAiHCCWLX6PmF6YlmXt-tCGkkyYYDlzA/edit#gid=2138516065"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "celular": "={{ $('Variaveis').item.json.celular }}",
            "data_cadastro": "={{ $now.toString() }}"
          },
          "matchingColumns": [
            "celular"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "120b4e5c-e390-464f-9a38-0a387aaa3b6f",
      "name": "Cadastrar Cliente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2160,
        1020
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e30aaf3-3bed-4fd0-95b8-9f25a23f3da3",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f6e0e9e-b571-4724-ba69-6b17fd723e82",
      "name": "Existe cliente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2460,
        920
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b67f3c92-0075-4e16-91cc-00469f36992d",
        "options": {}
      },
      "id": "d2b31b59-0914-4f7e-8d70-b2d615db61fa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3180,
        920
      ],
      "webhookId": "b67f3c92-0075-4e16-91cc-00469f36992d"
    }
  ],
  "connections": {
    "Salva msg": {
      "main": [
        [
          {
            "node": "Consulta msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msg": {
      "main": [
        [
          {
            "node": "Primeira msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primeira msg": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Consulta msg novamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limpa msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msg novamente": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter em Audio": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Converter em Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrição": {
      "main": [
        [
          {
            "node": "Dify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Converter em Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter em Imagem": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar audio": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar imagem": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Existe cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Salva msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não tem conversation_id": {
      "main": [
        [
          {
            "node": "Atualiza conversation_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Dify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza conversation_id": {
      "main": [
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify1": {
      "main": [
        [
          {
            "node": "Não tem conversation_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não tem conversation_id1": {
      "main": [
        [
          {
            "node": "Atualiza conversation_id1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza conversation_id1": {
      "main": [
        [
          {
            "node": "Envia resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia resposta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify": {
      "main": [
        [
          {
            "node": "Não tem conversation_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe cliente": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar Cliente": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.robotriz.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "979",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "759fa69d6a32",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Imobiliaria Robotriz",
            "data": {
              "key": {
                "remoteJid": "553597638844@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB052BFFF8EE7F2F7ADD4"
              },
              "pushName": "Acácio Araujo MG",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "oi",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "YFjG4EFikv8RUQ==",
                    "senderTimestamp": "1738666129",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "GW+h1UOEgDP3IA==",
                    "recipientTimestamp": "1739278452"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "XTdN1kjEMud72TCw12JMDxPlGXCSXZiYDrUfRmcpoXI="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1739474255,
              "instanceId": "b3e72ae3-4797-4c89-8f2b-2f6aa805f896",
              "source": "web"
            },
            "destination": "https://webhook.robotriz.com.br/webhook/b67f3c92-0075-4e16-91cc-00469f36992d",
            "date_time": "2025-02-13T16:17:35.433Z",
            "sender": "5511971430120@s.whatsapp.net",
            "server_url": "https://evolution.robotriz.com.br",
            "apikey": "1D0689F15C1B-47B8-81ED-BC6D2D4B0424"
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook/b67f3c92-0075-4e16-91cc-00469f36992d",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "a6ff5d5e-8723-41fa-a8a8-72e3b126bdda",
  "triggerCount": 1,
  "tags": []
}