[4] Lembrete de Consulta/hyLzU84eqI3f4t5s.json
{
  "createdAt": "2024-07-11T21:48:57.949Z",
  "updatedAt": "2024-07-11T22:06:36.510Z",
  "id": "hyLzU84eqI3f4t5s",
  "name": "[4] Lembrete de Consulta - Google Agenda",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "56c414c8-5229-41a1-a987-52c78bd29b5a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1280,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "confirmed"
            },
            {
              "value1": "={{ $json.start.dateTime }}",
              "operation": "notEqual",
              "value2": "={{ undefined }}"
            }
          ]
        }
      },
      "id": "1d45c21e-8778-4de2-bc8e-1bde46d4ae16",
      "name": "Filtrar confirmados e horário definidos",
      "type": "n8n-nodes-base.filter",
      "position": [
        1720,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "start"
            }
          ]
        },
        "options": {}
      },
      "id": "e2dd7300-95df-4af4-bbb3-7a3f8833a09c",
      "name": "Reordenar Ascendente",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2180,
        680
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "5b6a4e4c-1dc2-42db-aefe-cd40f428dbd7",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        2400,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "// Desenvolvido por Kaique Grigoletto (@k.grigoletto)\n// Verifica se o valor é uma string antes de usar o método replace\nvar WhatsApp = String(items[0].json.WhatsApp).replace(/[^0-9]+/g, '');\nvar ddd, ddi, ddx, length;\n\nif (WhatsApp.length >= 12) {\n  if (WhatsApp.charAt(0) === '+') {\n    ddi = WhatsApp.slice(0, 3);\n    WhatsApp = parseInt(WhatsApp.slice(3)).toString();\n  } else {\n    if (WhatsApp.slice(0, 2) === '55') {\n      WhatsApp = parseInt(WhatsApp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      WhatsApp = parseInt(WhatsApp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  WhatsApp = parseInt(WhatsApp).toString();\n  ddi = 'não informado';\n}\n\nddd = WhatsApp.slice(0, 2);\nWhatsApp = WhatsApp.slice(2);\n\n// Adiciona o nono dígito apenas se o DDD for menor ou igual ao 28\nif (parseInt(ddd) < 28) {\n  WhatsApp = '9' + WhatsApp.slice(-8);\n} else {\n  WhatsApp = WhatsApp.slice(-8);\n}\n\nvar whatsapp_formatado = '+55' + ddd + WhatsApp;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      WhatsApp,\n      whatsapp_formatado,\n    },\n  },\n];"
      },
      "id": "697a8db0-a66d-4a89-9f77-a30ab15d96fc",
      "name": "Validar Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        660
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Desenvolvido por Kaique Grigoletto (@k.grigoletto)\nfor (const item of $input.all()) {\n  // Extrair o número de telefone usando uma expressão regular com variações\n  const descricaoEvento = item.json.description || ''; // Utiliza a variável description como entrada\n  \n  console.log('Descrição do evento:', descricaoEvento); // Adiciona log para verificar a descrição\n  \n  // Regex para capturar telefone nos formatos variados\n  const regexTelefone = /(?:tel(?:e|efone)?[:=\\-\\s]*)?(\\+?\\d{1,3}[-\\s.]?\\(?\\d{1,3}\\)?[-\\s.]?\\d{4,5}[-\\s.]?\\d{4})/i;\n  const matchTelefone = descricaoEvento.match(regexTelefone);\n  \n  console.log('Resultado da regex:', matchTelefone); // Adiciona log para verificar o resultado da regex\n\n  // Se encontrar um número de telefone, adiciona ao JSON com a chave 'WhatsApp'\n  if (matchTelefone && matchTelefone[1]) {\n    const numeroTelefone = matchTelefone[1].replace(/[()\\s\\-.]/g, ''); // Remove caracteres não numéricos\n    console.log('Número de telefone encontrado:', numeroTelefone); // Adiciona log para verificar o número encontrado\n    item.json.WhatsApp = numeroTelefone;\n  } else {\n    console.log('Número de telefone não encontrado'); // Adiciona log quando o número não é encontrado\n    item.json.WhatsApp = 'Número de telefone não encontrado na descrição do evento';\n  }\n}\n\nreturn $input.all();\n"
      },
      "id": "5fb9c110-936e-4958-9041-fb53a60705a8",
      "name": "Extrair Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        660
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.whatsapp_formatado }}"
            },
            {
              "name": "first_name",
              "value": "={{ $('Dados').item.json.Nome.split(\" \")[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $('Dados').item.json.Nome.split(\" \")[1] }}"
            }
          ]
        }
      },
      "id": "5d6c29c7-5f30-4eb9-ac84-641a57f94797",
      "name": "Cadastrar na audiência",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3040,
        660
      ],
      "typeVersion": 2,
      "retryOnFail": false,
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "function numeroRandomicoIntervalo(min, max) { // minimo e maximo incluso \n  return Math.floor(Math.random() * (max - min + 1) + min)\n}\n\nfor (item of items) {\n  item.json.numeroRandomico = numeroRandomicoIntervalo(5, 15); // altere os dois números para definir um range entre minimo e maximo\n}\n\nreturn items;"
      },
      "name": "Número randômico com intervalo",
      "type": "n8n-nodes-base.function",
      "position": [
        2840,
        1060
      ],
      "typeVersion": 1,
      "id": "86323ad8-8635-4d72-be80-4b832583e7ae",
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": "={{$json[\"numeroRandomico\"]}}",
        "unit": "seconds"
      },
      "name": "Delay de acordo com número gerado",
      "type": "n8n-nodes-base.wait",
      "position": [
        3040,
        1060
      ],
      "webhookId": "b7d661e2-aadb-49e2-b377-9fc63fe6e840",
      "typeVersion": 1,
      "id": "9712b157-3c7a-49d6-bfcc-9082192ec63a",
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrar na audiência').item.json.id }}/custom_fields/{{ $('Dados').item.json['ID DataConsulta'] }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Dados').item.json.start.toDateTime().format('dd/MM/yy') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac251a1f-86b3-4dd4-86ed-c43ed5b112fc",
      "name": "Campo Personalizado - Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        860
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrar na audiência').item.json.id }}/custom_fields/{{ $('Dados').item.json['ID HorarioConsulta'] }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Dados').item.json.start.toDateTime().format('HH:mm') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4897b509-d4d9-4b38-bf8e-a1d0c5207c5d",
      "name": "Campo Personalizado - Hora",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        860
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"Cadastrar na audiência\"].json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $('Dados').item.json.Flow }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4cb1f521-e1fe-4418-8c61-5917af576bfe",
      "name": "Enviar flow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        1060
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "contato@robotriz.com.br",
          "mode": "list",
          "cachedResultName": "contato@robotriz.com.br"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.format('yyyy-MM-dd') }}",
          "timeMax": "={{ $now.plus(1, 'day').format('yyyy-MM-dd') }}"
        }
      },
      "id": "1fc92a78-de96-4bf5-87a4-72f51b222229",
      "name": "Busca Eventos Hoje",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1500,
        680
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "27WinJTE9Con8wAf",
          "name": "[ROBOTRIZ] GOOGLE CALENDAR"
        }
      }
    },
    {
      "parameters": {
        "content": "## Alterar\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 233.77646090534978,
        "width": 166.22353909465028,
        "color": 4
      },
      "id": "9199aa74-8471-4971-b941-35a6452ab813",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        600
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\nFiltra todos confirmados, exclui eventos de dia inteiro.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 280.0776954732512,
        "color": 7
      },
      "id": "1323b36e-84a8-4250-a8a4-9f839846e4b6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1640,
        553.7211522633745
      ]
    },
    {
      "parameters": {
        "content": "## Cores Google Calendar\n\ncolorId: 1 - #a4bdfc (Azul claro)\ncolorId: 2 - #7ae7bf (Verde claro)\ncolorId: 3 - #dbadff (Roxo claro)\ncolorId: 4 - #ff887c (Rosa claro)\ncolorId: 5 - #fbd75b (Amarelo claro)\ncolorId: 6 - #ffb878 (Laranja claro)\ncolorId: 7 - #46d6db (Ciano)\ncolorId: 8 - #e1e1e1 (Cinza)\ncolorId: 9 - #5484ed (Azul escuro)\ncolorId: 10 - #51b749 (Verde escuro)\ncolorId: 11 - #dc2127 (Vermelho)\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 308.14814814814827,
        "width": 309.9588477366254,
        "color": 2
      },
      "id": "60ebe88b-34fc-46d7-845f-4ba5e6051c9d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1240,
        140
      ]
    },
    {
      "parameters": {
        "content": "## Status\n\n**Agendado:**\ncolorId: 5 - #fbd75b (Amarelo claro)\n\n**Confirmado:**\ncolorId: 2 - #7ae7bf (Verde claro)\n\n**Compareceu:**\ncolorId: 10 - #51b749 (Verde escuro)\n\n**Faltou:**\ncolorId: 11 - #dc2127 (Vermelho)\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nDesenvolvido por Kaique Grigoletto (@k.grigoletto)",
        "height": 306.42567901234605,
        "width": 304.79012345678984
      },
      "id": "ac841392-e016-4ba5-a672-95055a30a330",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1580,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrar na audiência').item.json.id }}/custom_fields/{{ $('Dados').item.json['ID Event ID'] }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['Event ID'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "299df61b-63b4-4bcb-960e-a57b457fe522",
      "name": "Campo Personalizado - Event ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        860
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XQVhWneh6SN0tBEr",
          "name": "[ID-BC: 87973] LABORATORIO"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "start",
              "value": "={{ $json.start.dateTime }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "Nome",
              "value": "={{ $json.summary }}"
            },
            {
              "name": "Event ID",
              "value": "={{ $json.id }}"
            },
            {
              "name": "Flow",
              "value": "4662329"
            },
            {
              "name": "ID DataConsulta",
              "value": "2621798"
            },
            {
              "name": "ID HorarioConsulta",
              "value": "2621800"
            },
            {
              "name": "ID Event ID",
              "value": "2621799"
            }
          ]
        },
        "options": {}
      },
      "id": "d1b3c009-fe32-4127-8539-f1c4670c276e",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "position": [
        1960,
        680
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca Eventos Hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar confirmados e horário definidos": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reordenar Ascendente": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Extrair Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Telefone": {
      "main": [
        [
          {
            "node": "Validar Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone": {
      "main": [
        [
          {
            "node": "Cadastrar na audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Número randômico com intervalo": {
      "main": [
        [
          {
            "node": "Delay de acordo com número gerado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar na audiência": {
      "main": [
        [
          {
            "node": "Campo Personalizado - Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campo Personalizado - Data": {
      "main": [
        [
          {
            "node": "Campo Personalizado - Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campo Personalizado - Hora": {
      "main": [
        [
          {
            "node": "Campo Personalizado - Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay de acordo com número gerado": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar flow": {
      "main": [
        [
          {
            "node": "Número randômico com intervalo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Eventos Hoje": {
      "main": [
        [
          {
            "node": "Filtrar confirmados e horário definidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campo Personalizado - Event ID": {
      "main": [
        [
          {
            "node": "Enviar flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Reordenar Ascendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "aa41f560-a816-4f2f-82fa-dafd98ffafcc",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-07-11T00:21:16.296Z",
      "updatedAt": "2024-07-11T00:21:16.296Z",
      "id": "929Cq0MPDYxfq67l",
      "name": "Google Agenda"
    },
    {
      "createdAt": "2024-07-11T00:21:27.828Z",
      "updatedAt": "2024-07-11T00:21:27.828Z",
      "id": "quj3fHETQNpIwE0v",
      "name": "Patrick Raul"
    }
  ]
}