[ADMIRAVES]/2ki7ciMDUfnhRMtj.json
{
  "createdAt": "2024-11-15T22:27:28.584Z",
  "updatedAt": "2024-11-16T13:12:14.917Z",
  "id": "2ki7ciMDUfnhRMtj",
  "name": "[ADMIRAVES]-[TRATAMENTO DE ERRO]",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "5be7f55e-6943-4536-b015-cf00a5a3a87c",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        360
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telefone",
              "lookupValue": "={{ $('Variaveis').item.json.celular }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "6d2706ba-d4a9-4687-aad4-e6712d318986",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        360
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32d59737-a408-4097-ae6a-cbb435afde8b",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "962b421c-b4ca-4a99-9652-7fe6711c2660",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07a30880-ff38-4636-ba58-d176ecf5c2af",
              "leftValue": "={{ $json.key.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5678aa1-24a3-4c9c-b4f2-13c0bc5bb3f5",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2100,
        380
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "60378656-aa93-4489-92d2-2321bf608dae",
      "name": "Limpa msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2340,
        300
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/suporte_admiraves",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=2670092489D3-45C2-A404-0E1A22B89C31"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Dify').item.json.answer }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "50604099-7dff-4150-83d7-6f94ef57cd7d",
      "name": "Envia resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Variaveis').item.json.celular }}",
            "conversation_id": "={{ $('Dify').item.json.conversation_id }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_inscricao",
              "displayName": "data_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_inscricao",
              "displayName": "horario_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pagina",
              "displayName": "pagina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "a174f6fa-4b09-4bbe-aa13-7051dcb6a5ef",
      "name": "Atualiza conversation_id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1620,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f10a56af-ec7b-48cd-aa36-1a6d14488814",
              "leftValue": "={{ $('Dados Lead').item.json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ebcf484b-0e95-4171-9993-e3ab675e580d",
      "name": "Não tem conversation_id",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1380,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dify-api.robotriz.com.br/v1/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ $('Mensagens').item.json.query }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Mensagens').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "e56ee55e-ee05-4fab-9344-b7ed528d7ba4",
      "name": "Dify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        360
      ],
      "retryOnFail": false,
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "883441bb-4af1-4ada-84fa-ff750dc06d71",
              "name": "=query",
              "value": "={{\n\n(()=>{\n\n  let arrMensagens = $json.propertyName;\n\n  return arrMensagens.join(\" \").replace(/(\\r\\n|\\n|\\r)/gm, ' ');\n})()\n\n}}",
              "type": "string"
            },
            {
              "id": "0467b215-5b0c-4fab-a962-5a3f203a3332",
              "name": "conversation_id",
              "value": "={{ $('Google Sheets').item.json.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4a202b07-7a42-4d76-950b-0f3215524fc5",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/suporte_admiraves",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "2670092489D3-45C2-A404-0E1A22B89C31"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5511981588224"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem_erro }}"
            }
          ]
        },
        "options": {}
      },
      "id": "25eec234-c2c9-4cf3-886d-eb8808ec76b9",
      "name": "Envia alerta de erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        360
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.celular }}",
        "keyType": "list",
        "options": {}
      },
      "id": "dc2b11f2-6864-4613-bf40-b15d80761f3c",
      "name": "Consulta msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        660,
        360
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fe625a-e4e5-4cda-aef3-aaa6627f2317",
              "name": "mensagem_erro",
              "value": "=Olá Acacio, segue o erro encontrado:\n\nID Workflow: {{ $json.workflow.id }}\nNome do Workflow: {{ $json.workflow.name }}\nMensagem: {{ $json.execution.error.message }}\nUltimo nó executado: {{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "cdfc0ca1-b7f8-47b5-9708-c14c7e2a2f42",
              "name": "celular",
              "value": "={{ (()=>{\n\n  var entrada = $json.execution.error.context.request.body.user\n\n    const partes = entrada.split('@');\n    \n    // Pegar a primeira parte\n    let primeiraParte = partes[0];\n    \n    // Verificar se tem 13 caracteres\n    if (primeiraParte.length !== 13) {\n        // Inserir '9' na 5ª posição (índice 4)\n        primeiraParte = primeiraParte.slice(0, 4) + '9' + primeiraParte.slice(4);\n    }\n\nreturn primeiraParte\n\n})()\n}}",
              "type": "string"
            },
            {
              "id": "0e23ca2a-8f0a-4762-901c-5343275f2bd8",
              "name": "remoteJid",
              "value": "={{ $json.execution.error.context.request.body.user }}",
              "type": "string"
            },
            {
              "id": "6b02bcd2-c1f7-4135-9138-5676e5b2ec49",
              "name": "query",
              "value": "={{ $json.execution.error.context.request.body.query }}",
              "type": "string"
            },
            {
              "id": "7b651b87-16ae-4cf9-9690-4155c0a5a25d",
              "name": "api_key",
              "value": "app-jmL60wgQEGVdXuupQBTFkrVE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1fc3078e-435f-4140-af6c-27e88038f074",
      "name": "Variaveis 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fe625a-e4e5-4cda-aef3-aaa6627f2317",
              "name": "mensagem_erro",
              "value": "=Olá Acacio, segue o erro encontrado:\n\nID Workflow: {{ $json.workflow.id }}\nNome do Workflow: {{ $json.workflow.name }}\nMensagem: {{ $json.execution.error.message }}\nUltimo nó executado: {{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "cdfc0ca1-b7f8-47b5-9708-c14c7e2a2f42",
              "name": "celular",
              "value": "=5535997638844",
              "type": "string"
            },
            {
              "id": "0e23ca2a-8f0a-4762-901c-5343275f2bd8",
              "name": "remoteJid",
              "value": "=553597638844@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "6b02bcd2-c1f7-4135-9138-5676e5b2ec49",
              "name": "query",
              "value": "Meu número mudou, perdi as lives, teria como assistir gravadas? 11 995701968",
              "type": "string"
            },
            {
              "id": "7b651b87-16ae-4cf9-9690-4155c0a5a25d",
              "name": "api_key",
              "value": "app-jmL60wgQEGVdXuupQBTFkrVE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6f4d0a54-e978-4121-9f6b-b3ab275368a6",
      "name": "Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        360
      ]
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Consulta msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limpa msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia resposta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza conversation_id": {
      "main": [
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não tem conversation_id": {
      "main": [
        [
          {
            "node": "Atualiza conversation_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify": {
      "main": [
        [
          {
            "node": "Não tem conversation_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        []
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Dify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia alerta de erro": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msgs": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis": {
      "main": [
        [
          {
            "node": "Envia alerta de erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "15581",
            "url": "https://webhook.robotriz.com.br/workflow/UDAyEzXoUBXhZThh/executions/15581",
            "error": {
              "level": "warning",
              "tags": {},
              "context": {
                "itemIndex": 0,
                "request": {
                  "body": {
                    "inputs": {},
                    "query": "Vou ver as aulas anteriores e se eu tiver perguntas farei?",
                    "response_mode": "blocking",
                    "conversation_id": "63e0c6da-49a7-429c-8571-566a9dd8758f",
                    "user": "5521992494487@s.whatsapp.net",
                    "files": [
                      {
                        "type": "image",
                        "transfer_method": "remote_url",
                        "url": "https://cloud.dify.ai/logo/logo-site.png"
                      }
                    ]
                  },
                  "headers": {
                    "authorization": "**hidden**",
                    "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"
                  },
                  "method": "POST",
                  "uri": "https://dify-api.robotriz.com.br/v1/chat-messages",
                  "gzip": true,
                  "rejectUnauthorized": true,
                  "followRedirect": true,
                  "resolveWithFullResponse": true,
                  "followAllRedirects": true,
                  "timeout": 300000,
                  "encoding": null,
                  "json": false,
                  "useStream": true
                }
              },
              "functionality": "regular",
              "name": "NodeApiError",
              "timestamp": 1731724331261,
              "node": {
                "parameters": {
                  "curlImport": "",
                  "method": "POST",
                  "url": "https://dify-api.robotriz.com.br/v1/chat-messages",
                  "authentication": "none",
                  "provideSslCertificates": false,
                  "sendQuery": false,
                  "sendHeaders": true,
                  "specifyHeaders": "keypair",
                  "headerParameters": {
                    "parameters": [
                      {
                        "name": "Authorization",
                        "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
                      }
                    ]
                  },
                  "sendBody": true,
                  "contentType": "json",
                  "specifyBody": "json",
                  "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ $('Mensagens').item.json.query.replace(/(\\r\\n|\\n|\\r)/gm, ' ') }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Dados Lead').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
                  "options": {},
                  "infoMessage": ""
                },
                "id": "ea6a66cb-a4b8-45f5-8928-8c2260f1e6dd",
                "name": "Dify",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                  2140,
                  140
                ],
                "retryOnFail": false,
                "alwaysOutputData": true,
                "notesInFlow": false
              },
              "messages": [
                "400 - \"{\\\"code\\\": \\\"invalid_param\\\", \\\"message\\\": \\\"Run failed: undefined:1\\\\n```json\\\\n^\\\\n\\\\nSyntaxError: Unexpected token '`', \\\\\\\"```json\\\\n{\\\\n\\\\\\\"... is not valid JSON\\\\n    at JSON.parse (<anonymous>)\\\\n    at main (/tmp/sandbox-9ddf0d5d-5264-4887-8231-d08e5e02b6b5/var/sandbox/sandbox-nodejs/nodejs-project/node_temp/node_temp/test.js:18:47)\\\\n    at Object.<anonymous> (/tmp/sandbox-9ddf0d5d-5264-4887-8231-d08e5e02b6b5/var/sandbox/sandbox-nodejs/nodejs-project/node_temp/node_temp/test.js:33:18)\\\\n    at Module._compile (node:internal/modules/cjs/loader:1376:14)\\\\n    at Module._extensions..js (node:internal/modules/cjs/loader:1435:10)\\\\n    at Module.load (node:internal/modules/cjs/loader:1207:32)\\\\n    at Module._load (node:internal/modules/cjs/loader:1023:12)\\\\n    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:135:12)\\\\n    at node:internal/main/run_main_module:28:49\\\\n\\\\nNode.js v20.11.1\\\\nerror: exit status 1\\\\n\\\", \\\"status\\\": 400}\\n\""
              ],
              "httpCode": "400",
              "description": "Run failed: undefined:1\n```json\n^\n\nSyntaxError: Unexpected token '`', \"```json\n{\n\"... is not valid JSON\n    at JSON.parse (<anonymous>)\n    at main (/tmp/sandbox-9ddf0d5d-5264-4887-8231-d08e5e02b6b5/var/sandbox/sandbox-nodejs/nodejs-project/node_temp/node_temp/test.js:18:47)\n    at Object.<anonymous> (/tmp/sandbox-9ddf0d5d-5264-4887-8231-d08e5e02b6b5/var/sandbox/sandbox-nodejs/nodejs-project/node_temp/node_temp/test.js:33:18)\n    at Module._compile (node:internal/modules/cjs/loader:1376:14)\n    at Module._extensions..js (node:internal/modules/cjs/loader:1435:10)\n    at Module.load (node:internal/modules/cjs/loader:1207:32)\n    at Module._load (node:internal/modules/cjs/loader:1023:12)\n    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:135:12)\n    at node:internal/main/run_main_module:28:49\n\nNode.js v20.11.1\nerror: exit status 1\n",
              "message": "Bad request - please check your parameters",
              "stack": "NodeApiError: Bad request - please check your parameters\n    at Object.execute (/usr/local/lib/node_modules/n8n/node_modules/n8n-nodes-base/dist/nodes/HttpRequest/V3/HttpRequestV3.node.js:502:33)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)\n    at Workflow.runNode (/usr/local/lib/node_modules/n8n/node_modules/n8n-workflow/dist/Workflow.js:722:19)\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/WorkflowExecute.js:707:51\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/WorkflowExecute.js:1137:20"
            },
            "lastNodeExecuted": "Dify",
            "mode": "webhook"
          },
          "workflow": {
            "id": "UDAyEzXoUBXhZThh",
            "name": "[ADMIRAVES]-[EVOLUTION_DIFY]"
          }
        }
      }
    ]
  },
  "versionId": "52e98f91-2fcc-49e4-b142-2571f4cfb74a",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-07-16T19:34:32.785Z",
      "updatedAt": "2024-07-16T19:34:32.785Z",
      "id": "OYw06Py1CLDhVhe0",
      "name": "Admiraves"
    }
  ]
}