[ADMIRAVES]/aFRBwVvAFMVhUFtc.json
{
  "createdAt": "2024-11-07T18:56:46.601Z",
  "updatedAt": "2024-11-07T19:51:29.877Z",
  "id": "aFRBwVvAFMVhUFtc",
  "name": "[ADMIRAVES]-[DADOS CONTATO]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telefone",
              "lookupValue": "={{ $json.celular }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "63fd3202-2e66-48ca-ab6f-476d45200cc9",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ec39f15-8a96-4e19-b459-9078035f0d99",
              "name": "celular",
              "value": "={{ (()=>{\n\n  var entrada = $json.body.user_id\n\n    const partes = entrada.split('@');\n    \n    // Pegar a primeira parte\n    let primeiraParte = partes[0];\n    \n    // Verificar se tem 13 caracteres\n    if (primeiraParte.length !== 13) {\n        // Inserir '9' na 5ª posição (índice 4)\n        primeiraParte = primeiraParte.slice(0, 4) + '9' + primeiraParte.slice(4);\n    }\n\nreturn primeiraParte\n\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8654e211-a654-4c8c-b86a-d196ac1bd23f",
      "name": "Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "fe06f2f0-511c-48f2-b750-a0e2e36a8f90",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        360
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "05915832-6111-432d-a048-10beb3116ba6",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3171e7ce-dd84-479a-a3b0-fe4afd8056a1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        600,
        360
      ],
      "webhookId": "05915832-6111-432d-a048-10beb3116ba6"
    }
  ],
  "connections": {
    "Campos": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "17b076ef-eaae-4ea0-a82a-de4bca55fadf",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-16T19:34:32.785Z",
      "updatedAt": "2024-07-16T19:34:32.785Z",
      "id": "OYw06Py1CLDhVhe0",
      "name": "Admiraves"
    }
  ]
}