[ADMIRAVES]/HdYkrgS1UMSqOQIu.json
{
  "createdAt": "2024-11-11T13:29:06.755Z",
  "updatedAt": "2024-11-11T20:26:29.126Z",
  "id": "HdYkrgS1UMSqOQIu",
  "name": "[ADMIRAVES]-[LC#8][FORMULARIOS]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 851274605,
          "mode": "list",
          "cachedResultName": "formulario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44/edit#gid=851274605"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_formulario",
              "lookupValue": "={{ $json.body.id_formulario }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac7e154b-b62a-4a99-93fd-fd511f0db79b",
      "name": "Consultar id_formulario",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        20,
        280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab923f89-6307-49b1-877e-f19680d68057",
              "leftValue": "={{ $('Consultar id_formulario').item.json.row_number }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f93cbdf2-9389-48d4-bb9e-cd24ef3270bc",
      "name": "Existe id_formulario",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 851274605,
          "mode": "list",
          "cachedResultName": "formulario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44/edit#gid=851274605"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_formulario": "={{ $('Webhook').item.json.body.id_formulario }}",
            "id_lead": "={{ $('Webhook').item.json.body.id_lead }}",
            "solucao": "={{ $('Webhook').item.json.body.solucao }}",
            "data_cadastro": "={{ $('Webhook').item.json.body.data_cadastro }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_formulario",
              "displayName": "id_formulario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "solucao",
              "displayName": "solucao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "finalizado",
              "displayName": "finalizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "integracao_z_api",
              "displayName": "integracao_z_api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "integracao_rdstation",
              "displayName": "integracao_rdstation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "integracao_pipedrive",
              "displayName": "integracao_pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "22e02d45-1050-4778-b050-e225f5083697",
      "name": "Cadastrar novo id_formulario",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        400,
        400
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 522310173,
          "mode": "list",
          "cachedResultName": "perguntas_respostas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44/edit#gid=522310173"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_formulario": "={{ $('Campos').item.json.body.id_formulario }}",
            "id_lead": "={{ $('Campos').item.json.body.id_lead }}",
            "solucao": "={{ $('Campos').item.json.body.solucao }}",
            "data_cadastro": "={{ $('Campos').item.json.body.data_cadastro }}",
            "pergunta": "={{ $('Campos').item.json.body.pergunta }}",
            "resposta": "={{ $('Campos').item.json.body.resposta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_formulario",
              "displayName": "id_formulario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "solucao",
              "displayName": "solucao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pergunta",
              "displayName": "pergunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta",
              "displayName": "resposta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "cfb97111-47e3-484e-9d39-f5d24861f762",
      "name": "Cadastrar pergunta/resposta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        560,
        260
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46b0c941-d8a1-4aa7-9533-2d1ebe025b49",
              "name": "nome",
              "value": "={{ $json.body.nome }}",
              "type": "string"
            },
            {
              "id": "42966190-5d14-42ea-8f36-4601776e73ec",
              "name": "telefone",
              "value": "={{ $json.body.telefone }}",
              "type": "string"
            },
            {
              "id": "d091a091-23ef-4029-9856-48cd21bd4be4",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "fe9363ad-3253-4db0-b967-8a8bca48a9c5",
              "name": "instagram",
              "value": "={{ $json.body.instagram }}",
              "type": "string"
            },
            {
              "id": "5411684b-a583-4d5f-8501-1868e2c877af",
              "name": "questionario",
              "value": "={{ $json.body.questionario }}",
              "type": "string"
            },
            {
              "id": "bbcde0ef-7dd6-4b24-baf6-ed6b9f82ce93",
              "name": "pergunta",
              "value": "={{ $json.body.pergunta }}",
              "type": "string"
            },
            {
              "id": "072fa981-20a2-4519-9fbb-5242dd797470",
              "name": "resposta",
              "value": "={{ $json.body.resposta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "124b1302-c7f4-4c46-849a-efd63ebf8aeb",
      "name": "Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        280
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1907572796,
          "mode": "list",
          "cachedResultName": "questionario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=1907572796"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $json.nome }}",
            "telefone": "={{ $json.telefone }}",
            "email": "={{ $json.email }}",
            "instagram": "={{ $json.instagram }}",
            "questionario": "={{ $json.questionario }}",
            "pergunta": "={{ $json.pergunta }}",
            "resposta": "={{ $json.resposta }}",
            "data": "={{ $now.toString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "questionario",
              "displayName": "questionario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pergunta",
              "displayName": "pergunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resposta",
              "displayName": "resposta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "b93cbe22-502c-4dc8-b077-f41c1fd35f3a",
      "name": "Cadastrar pergunta/resposta1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -580,
        280
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b1e7c0c7-78a1-49c6-99be-ec090f7fd6bb",
        "options": {}
      },
      "id": "c18e247b-0321-428e-8d6b-99e31776398d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -940,
        280
      ],
      "webhookId": "b1e7c0c7-78a1-49c6-99be-ec090f7fd6bb"
    }
  ],
  "connections": {
    "Consultar id_formulario": {
      "main": [
        [
          {
            "node": "Existe id_formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe id_formulario": {
      "main": [
        [
          {
            "node": "Cadastrar pergunta/resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar novo id_formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar novo id_formulario": {
      "main": [
        [
          {
            "node": "Cadastrar pergunta/resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos": {
      "main": [
        [
          {
            "node": "Cadastrar pergunta/resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.robotriz.com.br",
            "user-agent": "PostmanRuntime/7.42.0",
            "content-length": "245",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "postman-token": "663ac80b-8821-43f4-bb6b-aa52b7a49811",
            "x-forwarded-for": "186.233.178.125",
            "x-forwarded-host": "n8n.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9292266f8f54",
            "x-real-ip": "186.233.178.125"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Acacio Araujo",
            "telefone": "5535997638844",
            "email": "acacio@gmail.com",
            "instagram": "acacio_f_araujo",
            "questionario": "Aula01",
            "pergunta": "De 0 a 10, que nota você daria para a primeira aula?",
            "resposta": "10"
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook-test/b1e7c0c7-78a1-49c6-99be-ec090f7fd6bb",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "b6dceb91-83cd-4cc7-9ba0-e04b00e1166b",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-16T19:34:32.785Z",
      "updatedAt": "2024-07-16T19:34:32.785Z",
      "id": "OYw06Py1CLDhVhe0",
      "name": "Admiraves"
    }
  ]
}