[ADMIRAVES]/UDAyEzXoUBXhZThh.json
{
  "createdAt": "2024-11-07T20:25:28.880Z",
  "updatedAt": "2024-11-18T20:16:18.168Z",
  "id": "UDAyEzXoUBXhZThh",
  "name": "[ADMIRAVES]-[EVOLUTION_DIFY]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variaveis').item.json.celular }}",
        "messageData": "={{ $('Variaveis').item.json.conversation }}",
        "tail": true
      },
      "id": "9731f800-8043-4864-b9fc-45392928e1a8",
      "name": "Salva msg",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        880,
        200
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.celular }}",
        "options": {}
      },
      "id": "60e4d393-eb0c-4dba-901d-107ab90f7594",
      "name": "Consulta msg",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2e0a1c74-f04d-428c-b99f-db3c0ce31afc",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1fc76a3-224b-499b-bd40-d133d6506af5",
      "name": "Primeira msg",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "b165d259-2ae6-4ccc-947a-8f9ecf864b63",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        140
      ],
      "webhookId": "895db160-92e3-44f4-a6a3-7df2c0ddec94"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/Pousadas%20Robotriz",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "6612A58785A6-4F45-9527-B3BA28DF0952"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "5535997638844"
            },
            {
              "name": "text",
              "value": "={{\n\n(()=>{\n\n  let arrMensagens = $json.propertyName;\n\n  return arrMensagens.join(\", \");\n})()\n\n}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {}
          }
        }
      },
      "id": "09932912-36ad-482b-85e2-a745f8842227",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        1020
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07a30880-ff38-4636-ba58-d176ecf5c2af",
              "leftValue": "={{ $json.key.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc6c5222-738a-4de4-964b-984192002374",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3120,
        40
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Dados Lead').item.json.celular }}",
        "keyType": "list",
        "options": {}
      },
      "id": "b7d733de-830c-447d-b258-38f22dc43e35",
      "name": "Consulta msg novamente1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        120,
        1020
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Variaveis').item.json.celular }}",
        "keyType": "list",
        "options": {}
      },
      "id": "9fdf018d-1bf1-41d2-9daf-a634678fc42f",
      "name": "Consulta msg novamente",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1700,
        140
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "4c47ad0a-c2bf-4c1e-9e38-4be6bf5a441c",
      "name": "Limpa msgs2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        760,
        40
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "id": "851c76d8-5bad-4394-9e9d-20cdc5321f8e",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1360,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audio64",
        "options": {
          "fileName": "transcricao.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "id": "df80cff1-2312-48fd-bc46-ce139de0a047",
      "name": "Converter em Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1200,
        460
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "audio64",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "cf45cbab-7186-4f60-8c75-e9d0c7294b86",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1040,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6cd097d-3a3a-4cdc-a6f1-13c118a4618c",
              "name": "transcricao",
              "value": "={{\n  $node['Webhook'].json.body.data.message.imageMessage?.caption\n    ? (\n        $json.content \n          ? `${$json.content} Legenda: ${$node['Webhook'].json.body.data.message.imageMessage.caption } }` \n          : 'Erro: json.content ausente para imagem com legenda'\n      ) \n    : `${$json.content || ''} ${$json.text ? $json.text : ''}`\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2f57a715-af22-4ad1-95ff-ef21c6492fe7",
      "name": "Transcrição",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1520,
        460
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "image64",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "3554d6ab-3d9f-4201-a5e5-6492c41451f6",
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1040,
        720
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image64",
        "options": {
          "fileName": "imagem.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "70d7cb86-3775-4d7f-a126-0b552f46109a",
      "name": "Converter em Imagem",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1200,
        720
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "Descreva todo o conteúdo da imagem, sem Acentos e sem hífens",
        "inputType": "base64",
        "options": {}
      },
      "id": "d98679b1-4111-4d7c-8cdb-018a8df196cc",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1360,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "qTcKDeG1l7aS58Jy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.data.message.mediaUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "806381db-8812-4b7f-97f7-f33ed191cead",
      "name": "Baixar audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        460
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.data.message.mediaUrl }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "0d2de9c1-2d8f-4df0-b043-a34f195d5e6d",
      "name": "Baixar imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        720
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telefone",
              "lookupValue": "={{ $json.celular }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "c39f9717-354d-42db-a6d6-b5bd242dbb42",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -120,
        380
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32d59737-a408-4097-ae6a-cbb435afde8b",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "441b6826-cbce-45f8-9bf8-b954c5eba3c5",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ec39f15-8a96-4e19-b459-9078035f0d99",
              "name": "celular",
              "value": "={{ (()=>{\n\n  var entrada = $json.body.data.key.remoteJid\n\n    const partes = entrada.split('@');\n    \n    // Pegar a primeira parte\n    let primeiraParte = partes[0];\n    \n    // Verificar se tem 13 caracteres\n    if (primeiraParte.length !== 13) {\n        // Inserir '9' na 5ª posição (índice 4)\n        primeiraParte = primeiraParte.slice(0, 4) + '9' + primeiraParte.slice(4);\n    }\n\nreturn primeiraParte\n\n})()\n}}",
              "type": "string"
            },
            {
              "id": "f853db83-6be1-4ee2-93fd-19c955345814",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "fe55b87a-c26f-412c-bc13-de0663d0aaf0",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "5acbc6a3-2627-40dd-a5b3-0818f6cd10cd",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "ed90fdce-325a-4ec2-8794-5ec8eb347694",
              "name": "api_key",
              "value": "app-jmL60wgQEGVdXuupQBTFkrVE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f1818665-5167-4652-b66f-d7acaea08eae",
      "name": "Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "772cb82b-59c4-4f89-8b4a-656d3f8c1226",
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "019ed50a-9616-4a4a-af08-e8317e239faa",
                    "leftValue": "={{ $('Variaveis').item.json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "id": "77d6e550-a194-48ea-a55e-cbfbe350f632",
      "name": "Tipo de mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        540,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f10a56af-ec7b-48cd-aa36-1a6d14488814",
              "leftValue": "={{ $('Dados Lead').item.json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "75085a4d-5b28-4b92-acd5-dd95eb9f0071",
      "name": "Não tem conversation_id",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        20
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Variaveis').item.json.celular }}",
            "conversation_id": "={{ $('Dify').item.json.conversation_id }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_inscricao",
              "displayName": "data_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_inscricao",
              "displayName": "horario_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pagina",
              "displayName": "pagina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "d717ea75-6f95-4cdb-951f-62b5643e6c49",
      "name": "Atualiza conversation_id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2640,
        -80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "883441bb-4af1-4ada-84fa-ff750dc06d71",
              "name": "=query",
              "value": "={{\n\n(()=>{\n\n  let arrMensagens = $json.propertyName;\n\n  return arrMensagens.join(\" \").replace(/(\\r\\n|\\n|\\r)/gm, ' ');\n})()\n\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "92d614e8-78b5-46d4-82c4-1941cfbc1621",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dify-api.robotriz.com.br/v1/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ \n(()=>{\n  return $json.transcricao.replace(/[\\n\\r]/g, '').replace('\"','');\n})()\n\n}}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Dados Lead').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "f0e34c81-6d7a-40ad-be50-85923adf9536",
      "name": "Dify1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        460
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f10a56af-ec7b-48cd-aa36-1a6d14488814",
              "leftValue": "={{ $('Dados Lead').item.json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "addf4c21-77c1-47c0-aa4c-f13b3ca4baf1",
      "name": "Não tem conversation_id1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1940,
        460
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Variaveis').item.json.celular }}",
            "conversation_id": "={{ $('Dify1').item.json.conversation_id }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_inscricao",
              "displayName": "data_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_inscricao",
              "displayName": "horario_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pagina",
              "displayName": "pagina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "03060811-0d61-4e11-b07c-539cba9f30d2",
      "name": "Atualiza conversation_id1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2180,
        360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/suporte_admiraves",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=2670092489D3-45C2-A404-0E1A22B89C31"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Dify1').item.json.answer }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "3872cd36-692c-412f-a04b-39a50c04ab81",
      "name": "Envia resposta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fb78c40-3eaf-4362-a5e4-8cba44d2b88a",
              "leftValue": "={{ $('Google Sheets').item.json.agente_ia.toString() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "99c5e7c1-9834-456a-9e8f-39b12991f4e8",
      "name": "liberado para testes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28d74be8-a368-43ab-a714-e11665566ad5",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23906731-29a2-42cf-9c21-9dff7627d83d",
      "name": "Sender não é Melissa",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -540,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3d0d8df-bb6e-415d-a075-87214afeb35b",
              "leftValue": "={{ $json.key.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "991751e8-320b-4b73-b746-ca9acb3ce53e",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        1020
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "85a77fa9-e3c2-4185-af32-22632864dfd4",
        "options": {}
      },
      "id": "8687804a-27ea-43d2-984e-30a5640fdb8c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        400
      ],
      "webhookId": "85a77fa9-e3c2-4185-af32-22632864dfd4"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "31c27262-157b-4390-8f5f-41ebaebf8692",
      "name": "Limpa msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3360,
        -40
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e009450-9843-4e88-844c-febc93e4d579",
              "name": "celulae",
              "value": "={{ $('Variaveis').item.json.celular }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "38adab9a-b976-4dcd-9b04-bdb59d121974",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2380,
        220
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variaveis').item.json.celular }}"
      },
      "id": "2b713c55-6c94-4648-8795-2dfdff04ccf5",
      "name": "Limpa msgs1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2640,
        240
      ],
      "credentials": {
        "redis": {
          "id": "eqvHIOsQVjeLxmqP",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/suporte_admiraves",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=2670092489D3-45C2-A404-0E1A22B89C31"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variaveis').item.json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Dify').item.json.answer }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "a30e6a23-41c5-4a7e-9e67-821b518bd89f",
      "name": "Envia resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dify-api.robotriz.com.br/v1/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Variaveis').item.json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {},\n  \"query\": \"{{ $('Mensagens').item.json.query }}\",\n  \"response_mode\": \"blocking\",\n  \"conversation_id\": \"{{ $('Dados Lead').item.json.conversation_id }}\",\n  \"user\": \"{{ $('Variaveis').item.json.remoteJid }}\",\n  \"files\": [\n    {\n      \"type\": \"image\",\n      \"transfer_method\": \"remote_url\",\n      \"url\": \"https://cloud.dify.ai/logo/logo-site.png\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ea6a66cb-a4b8-45f5-8928-8c2260f1e6dd",
      "name": "Dify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        140
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "notesInFlow": false
    }
  ],
  "connections": {
    "Salva msg": {
      "main": [
        [
          {
            "node": "Consulta msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msg": {
      "main": [
        [
          {
            "node": "Primeira msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primeira msg": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Consulta msg novamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limpa msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msg novamente1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta msg novamente": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter em Audio": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Converter em Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrição": {
      "main": [
        [
          {
            "node": "Dify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Converter em Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter em Imagem": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar audio": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar imagem": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Salva msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não tem conversation_id": {
      "main": [
        [
          {
            "node": "Atualiza conversation_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Dify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza conversation_id": {
      "main": [
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify1": {
      "main": [
        [
          {
            "node": "Não tem conversation_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não tem conversation_id1": {
      "main": [
        [
          {
            "node": "Atualiza conversation_id1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza conversation_id1": {
      "main": [
        [
          {
            "node": "Envia resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender não é Melissa": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Sender não é Melissa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia resposta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dify": {
      "main": [
        [
          {
            "node": "Não tem conversation_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2ki7ciMDUfnhRMtj"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.robotriz.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "1196",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9292266f8f54",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "suporte_admiraves",
            "data": {
              "key": {
                "remoteJid": "553597638844@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB06A1924B128F1AADB92"
              },
              "pushName": "Acácio Araujo MG",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Agradeço, vou assistir a noite, mas perdi a última palavra, pipoca, vinho e a outra não consegui, e ontem não consegui revisar  as aulas no YouTube",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "X/lGvRQo33s7pg==",
                    "senderTimestamp": "1731772218",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "K+JdtY2mN7ERLA==",
                    "recipientTimestamp": "1731950110"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "6VlmEMAUuJ2m4e4Yp+EH/FU1u/WMZKpX4xkIGyMkFR0="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1731956489,
              "instanceId": "a9733ab5-5a01-4f1a-a108-56f220c7923d",
              "source": "web",
              "chatwootMessageId": 469,
              "chatwootInboxId": 2,
              "chatwootConversationId": 22
            },
            "destination": "https://webhook.robotriz.com.br/webhook/85a77fa9-e3c2-4185-af32-22632864dfd4",
            "date_time": "2024-11-18T16:01:30.132Z",
            "sender": "553599148941@s.whatsapp.net",
            "server_url": "https://evolution.robotriz.com.br",
            "apikey": "2670092489D3-45C2-A404-0E1A22B89C31"
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook/85a77fa9-e3c2-4185-af32-22632864dfd4",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "07998b58-b535-4699-8940-372c3bfa98eb",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-16T19:34:32.785Z",
      "updatedAt": "2024-07-16T19:34:32.785Z",
      "id": "OYw06Py1CLDhVhe0",
      "name": "Admiraves"
    }
  ]
}