[ADMIRAVES]/UeTwXXgFqOJBo9dg.json
{
  "createdAt": "2024-10-16T19:16:17.470Z",
  "updatedAt": "2024-11-14T23:32:55.486Z",
  "id": "UeTwXXgFqOJBo9dg",
  "name": "[ADMIRAVES]-[CAPTURA DE LEAD]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "34c23a1f-5b36-422b-a29b-b5583a96b874",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        980,
        360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gqjvAzQ2yoOC6JTy",
          "name": "[ADMIRAVES] - [Google Sheets]"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "866633e5-e246-424e-9e66-021f8d0d7529",
              "name": "Nome",
              "value": "={{ $json.body.Nome }}",
              "type": "string"
            },
            {
              "id": "c38531b3-340a-4147-b80d-02a77c441d42",
              "name": "Email",
              "value": "={{ $json.body.Email }}",
              "type": "string"
            },
            {
              "id": "888b49dc-3db9-4d27-a314-59c2ff2ed91c",
              "name": "Phone",
              "value": "={{ $json.body.Phone }}",
              "type": "string"
            },
            {
              "id": "ee40a602-3a6e-4e7d-aed9-42bff27f6c57",
              "name": "Date",
              "value": "={{ $json.body.Date }}",
              "type": "string"
            },
            {
              "id": "1a5857f0-49f5-477e-9e6d-d2ecc51c46e4",
              "name": "Time",
              "value": "={{ $json.body.Time }}",
              "type": "string"
            },
            {
              "id": "3f51293a-22db-45da-a476-627a29d37e8a",
              "name": "Page_URL",
              "value": "={{ $json.body['Page URL'] }}",
              "type": "string"
            },
            {
              "id": "97ba7a93-36e5-43cc-a468-6f4909de83cc",
              "name": "mensagem01",
              "value": "=Olá! O minicurso já começou, mas ainda dá tempo de você assistir tudo e aproveitar todos os bônus e certificado, ok?",
              "type": "string"
            },
            {
              "id": "efbdae2a-5efa-4251-9e2e-86ff1028d61e",
              "name": "mensagem02",
              "value": "A AULA1 aconteceu segunda dia 11/11/2024, mas você pode assistir agora mesmo acessando este link: https://admiraves.com.br/minicurso/ ",
              "type": "string"
            },
            {
              "id": "8aad29e0-f2f4-40e3-927e-7121e20dd3e0",
              "name": "mensagem03",
              "value": "A AULA2 aconteceu quarta dia 13/11/2024, mas você pode assistir agora mesmo acessando este link: https://youtube.com/live/KI2U6gVjARg?feature=share",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5cbf3cb3-a238-4c5d-82d2-3e9f5e44700d",
      "name": "Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4112a899-0643-4de3-9e99-304cceca137d",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "599eabd6-26ad-450d-b1d2-ed0d33bec49c",
      "name": "Novo lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1140,
        360
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Campos').item.json.Nome }}",
            "email": "={{ $('Campos').item.json.Email }}",
            "telefone": "={{ $('Campos').item.json.Phone }}",
            "data_inscricao": "={{ $('Campos').item.json.Date }}",
            "horario_inscricao": "={{ $('Campos').item.json.Time }}",
            "pagina": "={{ $('Campos').item.json.Page_URL }}",
            "status": "novo"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_inscricao",
              "displayName": "data_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_inscricao",
              "displayName": "horario_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pagina",
              "displayName": "pagina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "45921d57-4f2d-44e5-bb0a-15dd78fabad3",
      "name": "Cadastra lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1380,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gqjvAzQ2yoOC6JTy",
          "name": "[ADMIRAVES] - [Google Sheets]"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "866633e5-e246-424e-9e66-021f8d0d7529",
              "name": "Nome",
              "value": "={{ \n(()=>{\n  let nome_completo = $json.nome\n    const indiceEspaco = nome_completo.indexOf(' ');\n    if (indiceEspaco === -1) {\n        return nome_completo;\n    }\n    const nome = nome_completo.substring(0, indiceEspaco);\n    const sobrenome = nome_completo.substring(indiceEspaco + 1);\n    return nome;\n})()\n}}",
              "type": "string"
            },
            {
              "id": "c38531b3-340a-4147-b80d-02a77c441d42",
              "name": "Email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "888b49dc-3db9-4d27-a314-59c2ff2ed91c",
              "name": "Phone",
              "value": "={{ \n(()=>{\n  let phoneNumber = $json.telefone.toString()\n  // Verifica se tem 14 caracteres e começa com +\n  if (phoneNumber.length === 14 && phoneNumber[0] === '+') {\n      // Remove o + e continua o processamento com o resto do número\n      phoneNumber = phoneNumber.substring(1);\n  }\n\n  // Extrai o DDD (posições 2 e 3 do número)\n  const ddd = parseInt(phoneNumber.substring(2, 4));\n\n  // Verifica se o DDD está nos intervalos especificados\n  const isSpecialDDD = (ddd >= 11 && ddd <= 19) || \n                      (ddd >= 21 && ddd <= 24) || \n                      (ddd >= 27 && ddd <= 28);\n\n  if (isSpecialDDD) {\n      return phoneNumber;\n  } else {\n      // Remove o dígito 9 da 5ª posição (índice 4)\n      return phoneNumber.substring(0, 4) + phoneNumber.substring(5);\n  }\n})()\n}}",
              "type": "string"
            },
            {
              "id": "ee40a602-3a6e-4e7d-aed9-42bff27f6c57",
              "name": "Date",
              "value": "={{ $json.data_inscricao }}",
              "type": "string"
            },
            {
              "id": "1a5857f0-49f5-477e-9e6d-d2ecc51c46e4",
              "name": "Time",
              "value": "={{ $json.horario_inscricao }}",
              "type": "string"
            },
            {
              "id": "3f51293a-22db-45da-a476-627a29d37e8a",
              "name": "Page_URL",
              "value": "={{ $json.pagina }}",
              "type": "string"
            },
            {
              "id": "e41f14ba-1751-43fa-91f7-85c8f795e397",
              "name": "sobrenome",
              "value": "={{ \n(()=>{\n  let nome_completo = $json.nome\n    const indiceEspaco = nome_completo.indexOf(' ');\n    if (indiceEspaco === -1) {\n        return nome_completo;\n    }\n    const nome = nome_completo.substring(0, indiceEspaco);\n    const sobrenome = nome_completo.substring(indiceEspaco + 1);\n    return sobrenome;\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a9a63cbc-45ac-44ba-9831-cd78b18708e3",
      "name": "Campos Botconversa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/11325923/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "24cf724e-af9b-4074-b80f-696bc5b3a694"
            }
          ]
        },
        "options": {}
      },
      "id": "241a7921-f134-4de8-a1c4-40459a87842e",
      "name": "Botconversa - adicionar tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "24cf724e-af9b-4074-b80f-696bc5b3a694"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"phone\": \"{{ $json.Phone }}\", \"first_name\": \"{{ $json.Nome }}\", \"last_name\": \"{{ $json.sobrenome }}\"}",
        "options": {}
      },
      "id": "69a6f10f-4f7f-4c7b-bcf5-6d1e8130927c",
      "name": "Botconversa  - Cadastrar lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        260
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19BwDMbT5UlCcgYLIsTcO0YA55_5UFQzE3qIm8ynoQnA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Campos Botconversa').item.json.Email }}",
            "status": "PixelApp01"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_inscricao",
              "displayName": "data_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_inscricao",
              "displayName": "horario_inscricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pagina",
              "displayName": "pagina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0e58ae3a-b3ac-4439-8560-3c267a21f848",
      "name": "Atualizar planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2100,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gqjvAzQ2yoOC6JTy",
          "name": "[ADMIRAVES] - [Google Sheets]"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Botconversa  - Cadastrar lead').item.json.id }}/send_message/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "24cf724e-af9b-4074-b80f-696bc5b3a694"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"text\", \"value\": \"Oi, muito prazer {{ $('Botconversa  - Cadastrar lead').item.json.first_name}}\\n\\nSua participação está oficialmente confirmada e garantida.\\n\\nEu sou a LAURA assistente da sua professora Melissa Alves, que vai ministrar o Minicurso de Observação de aves.\\n\\nMinha missão é resolver todas as suas dúvidas relacionadas ao Minicurso como\\n\\nData\\nHora\\nQuantas aulas\\nLink das aulas\\nSorteio\\nCertificado\\nGravação\\nLivros digitais\\n\\nDúvidas técnicas você pode perguntar para a professora Melissa ou durante as LIVES todos os dias às 15h, ou nas AULAS AO VIVO ou nas redes sociais YouTube e Instagram durante o Minicurso, ok?\\n\\nSALVE meu número para não perder nada.\\n\\nAgora é a sua vez!\\n\\nMe faça uma pergunta agora 😉\"}",
        "options": {}
      },
      "id": "016fdb54-f3ff-4ecd-8f0e-c3c64907fe2a",
      "name": "Botconversa - Msg boas vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Botconversa  - Cadastrar lead').item.json.id }}/send_message/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "24cf724e-af9b-4074-b80f-696bc5b3a694"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"text\", \"value\": \"Oi, muito prazer {{ $('Botconversa  - Cadastrar lead').item.json.first_name}}\\n\\nSua participação está oficialmente confirmada e garantida.\\n\\nEu sou a LAURA assistente da sua professora Melissa Alves, que vai ministrar o Minicurso de Observação de aves.\\n\\nMinha missão é resolver todas as suas dúvidas relacionadas ao Minicurso como\\n\\nData\\nHora\\nQuantas aulas\\nLink das aulas\\nSorteio\\nCertificado\\nGravação\\nLivros digitais\\nDúvidas técnicas você pode perguntar para a professora Melissa durante as LIVES todos os dias às 15h, AULAS AO VIVO ou por e-mail (melissa.alves@admiraves.com.br) e nas redes sociais YouTube e Instagram durante o Minicurso, ok?\\n\\nSALVE meu número para garantir que você receberá tudo o que foi prometido.\\n\\nAgora é a sua vez!\\n\\nMe faça uma pergunta agora 😉\"}",
        "options": {}
      },
      "id": "54884375-c133-457e-b8a0-e354ec372764",
      "name": "Botconversa - Msg boas vindas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/suporte_admiraves",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=2670092489D3-45C2-A404-0E1A22B89C31"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ \n(()=>{\n  let phoneNumber = $('Campos').item.json.Phone.toString()\n  // Verifica se tem 14 caracteres e começa com +\n  if (phoneNumber.length === 14 && phoneNumber[0] === '+') {\n      // Remove o + e continua o processamento com o resto do número\n      phoneNumber = phoneNumber.substring(1);\n  }\n\n  // Extrai o DDD (posições 2 e 3 do número)\n  const ddd = parseInt(phoneNumber.substring(2, 4));\n\n  // Verifica se o DDD está nos intervalos especificados\n  const isSpecialDDD = (ddd >= 11 && ddd <= 19) || \n                      (ddd >= 21 && ddd <= 24) || \n                      (ddd >= 27 && ddd <= 28);\n\n  if (isSpecialDDD) {\n      return phoneNumber;\n  } else {\n      // Remove o dígito 9 da 5ª posição (índice 4)\n      return phoneNumber.substring(0, 4) + phoneNumber.substring(5);\n  }\n})()\n}}@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "={{ $('Campos').item.json.mensagem01 }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "ee9407db-a051-4f7c-a832-70ccb34b3845",
      "name": "Envia resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/suporte_admiraves",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=2670092489D3-45C2-A404-0E1A22B89C31"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ \n(()=>{\n  let phoneNumber = $('Campos').item.json.Phone.toString()\n  // Verifica se tem 14 caracteres e começa com +\n  if (phoneNumber.length === 14 && phoneNumber[0] === '+') {\n      // Remove o + e continua o processamento com o resto do número\n      phoneNumber = phoneNumber.substring(1);\n  }\n\n  // Extrai o DDD (posições 2 e 3 do número)\n  const ddd = parseInt(phoneNumber.substring(2, 4));\n\n  // Verifica se o DDD está nos intervalos especificados\n  const isSpecialDDD = (ddd >= 11 && ddd <= 19) || \n                      (ddd >= 21 && ddd <= 24) || \n                      (ddd >= 27 && ddd <= 28);\n\n  if (isSpecialDDD) {\n      return phoneNumber;\n  } else {\n      // Remove o dígito 9 da 5ª posição (índice 4)\n      return phoneNumber.substring(0, 4) + phoneNumber.substring(5);\n  }\n})()\n}}@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "={{ $('Campos').item.json.mensagem02}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "0d1ba5e1-2a69-457c-8e13-24cf21a48ec7",
      "name": "Envia resposta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.robotriz.com.br/message/sendText/suporte_admiraves",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=2670092489D3-45C2-A404-0E1A22B89C31"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ \n(()=>{\n  let phoneNumber = $('Campos').item.json.Phone.toString()\n  // Verifica se tem 14 caracteres e começa com +\n  if (phoneNumber.length === 14 && phoneNumber[0] === '+') {\n      // Remove o + e continua o processamento com o resto do número\n      phoneNumber = phoneNumber.substring(1);\n  }\n\n  // Extrai o DDD (posições 2 e 3 do número)\n  const ddd = parseInt(phoneNumber.substring(2, 4));\n\n  // Verifica se o DDD está nos intervalos especificados\n  const isSpecialDDD = (ddd >= 11 && ddd <= 19) || \n                      (ddd >= 21 && ddd <= 24) || \n                      (ddd >= 27 && ddd <= 28);\n\n  if (isSpecialDDD) {\n      return phoneNumber;\n  } else {\n      // Remove o dígito 9 da 5ª posição (índice 4)\n      return phoneNumber.substring(0, 4) + phoneNumber.substring(5);\n  }\n})()\n}}@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "={{ $('Campos').item.json.mensagem03 }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "c3096563-35b5-471e-8e5f-d7cb131713ad",
      "name": "Envia resposta2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        480
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "38008f02-0125-4ca6-bffc-a740a688388c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2600,
        480
      ],
      "webhookId": "a86a39f3-4b7d-4824-b16e-1b53e291477e"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "3ddbb2eb-eac9-45a3-a686-de0d06d483c1",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2960,
        480
      ],
      "webhookId": "605bd647-2b1d-466d-92f7-066a6e75b4b2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aae34e54-5c5c-4530-bd0a-9f0250bdb8c4",
        "options": {}
      },
      "id": "f313b195-1add-429a-90d1-eabea1eb8d69",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        660,
        360
      ],
      "webhookId": "aae34e54-5c5c-4530-bd0a-9f0250bdb8c4"
    }
  ],
  "connections": {
    "Campos": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Novo lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Novo lead?": {
      "main": [
        [
          {
            "node": "Cadastra lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos Botconversa": {
      "main": [
        [
          {
            "node": "Botconversa  - Cadastrar lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastra lead": {
      "main": [
        [
          {
            "node": "Campos Botconversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Botconversa - adicionar tag": {
      "main": [
        [
          {
            "node": "Atualizar planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Botconversa  - Cadastrar lead": {
      "main": [
        [
          {
            "node": "Botconversa - adicionar tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar planilha": {
      "main": [
        [
          {
            "node": "Envia resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia resposta": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia resposta1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Envia resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Envia resposta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.robotriz.com.br",
            "user-agent": "WordPress/6.6.2; https://admiraves.com.br",
            "content-length": "392",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "162.241.2.153",
            "x-forwarded-host": "n8n.robotriz.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9292266f8f54",
            "x-real-ip": "162.241.2.153"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Acacio Franca de Araujo",
            "Email": "acacio@gmail.com",
            "Phone": "+5535997638844",
            "Date": "03/11/2024",
            "Time": "12:00",
            "Page URL": "https://admiraves.com.br/inscrever/",
            "User Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36",
            "Remote IP": "186.233.178.103",
            "Powered by": "Elementor",
            "form_id": "5b0a7cd",
            "form_name": "Inscricao"
          },
          "webhookUrl": "https://webhook.robotriz.com.br/webhook-test/aae34e54-5c5c-4530-bd0a-9f0250bdb8c4",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "313b7486-a59a-4655-b573-883b6bb85ec9",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-16T19:34:32.785Z",
      "updatedAt": "2024-07-16T19:34:32.785Z",
      "id": "OYw06Py1CLDhVhe0",
      "name": "Admiraves"
    }
  ]
}