[MEDCOLAB]/AR78njeNWV5VM8iB.json
{
  "createdAt": "2025-01-02T15:07:19.490Z",
  "updatedAt": "2025-01-03T16:14:12.103Z",
  "id": "AR78njeNWV5VM8iB",
  "name": "[MEDCOLAB]-[TESTES PIPEDRIVE]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Integração Pipedrive",
        "height": 473.9534883720929,
        "width": 1114.0553154951822,
        "color": 3
      },
      "id": "1f5af9c5-0399-41cb-bb42-efe4eb050f90",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        900
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "limit": 1,
        "term": "={{ $('Campos Lead Formulario').item.json.email }}",
        "additionalFields": {
          "exactMatch": true
        }
      },
      "id": "f6187bbc-0e10-463b-8c7a-f8da9880f3eb",
      "name": "Consultar Pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1045,
        980
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efb180f8-43ac-4848-93cd-34c12b6da4af",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11a15f55-4e06-4de3-a6d9-a7c54abae163",
      "name": "Existe Pessoa",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1205,
        980
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Campos Lead Formulario').item.json.nome_completo }}",
        "additionalFields": {
          "email": [
            "={{ $('Campos Lead Formulario').item.json.email }}"
          ],
          "org_id": "={{ $('Dados Empresa').item.json.organization_id }}"
        }
      },
      "id": "b7e3fa70-5e92-4551-9de1-bf64102c3ede",
      "name": "Cadastrar Pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1405,
        1160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "M0LF99Z4bN1fNIRC",
          "name": "Pipedrive - AHM Solution"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 851274605,
          "mode": "list",
          "cachedResultName": "formulario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-D_t9j8wi_CRrnufoY_s82B5RwN746kjuwgPYeL1u44/edit#gid=851274605"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_formulario": "={{ $('Campos').item.json.body.id_formulario }}",
            "integracao_pipedrive": "true"
          },
          "matchingColumns": [
            "id_formulario"
          ],
          "schema": [
            {
              "id": "id_formulario",
              "displayName": "id_formulario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_lead",
              "displayName": "id_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "solucao",
              "displayName": "solucao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "finalizado",
              "displayName": "finalizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "integracao_z_api",
              "displayName": "integracao_z_api",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "integracao_rdstation",
              "displayName": "integracao_rdstation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "integracao_pipedrive",
              "displayName": "integracao_pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "0ee48723-ce5b-4c8c-afdc-62bfcb9a88b5",
      "name": "Pipedrive OK",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1765,
        1040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f6b25d6-221b-492f-a763-ce272482d9f9",
              "name": "organization_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "af848f8f-e175-4398-b5b8-e6e0589b56c9",
      "name": "Dados Empresa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        885,
        980
      ]
    },
    {
      "parameters": {
        "title": "={{ $('Campos Lead Formulario').item.json.nome_completo }} - {{ $('Campos Lead Formulario').item.json.razao_social }} - {{ $('Dados formulario').item.json.solucao }}",
        "org_id": "={{ $json.organization.id }}",
        "additionalFields": {
          "person_id": "={{ $('Consultar Pessoa').item.json.id }}",
          "stage_id": 125,
          "status": "open"
        }
      },
      "id": "41d45ef2-9d18-4c66-ae8e-598b102f860f",
      "name": "Criar Novo Negócio",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1405,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "M0LF99Z4bN1fNIRC",
          "name": "Pipedrive - AHM Solution"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "title": "={{ $('Campos Lead Formulario').item.json.nome_completo }} - {{ $('Campos Lead Formulario').item.json.razao_social }} - {{ $('Dados formulario').item.json.solucao }}",
        "org_id": "={{ $json.organization.id }}",
        "additionalFields": {
          "person_id": "={{ $json.id }}",
          "stage_id": 125,
          "status": "open"
        }
      },
      "id": "ef1c1939-f1f9-43e9-aaf0-04a1a74659ce",
      "name": "Criar Negócio",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1585,
        1160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "M0LF99Z4bN1fNIRC",
          "name": "Pipedrive - AHM Solution"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "dcd8e772-d918-4c53-b788-375e4da03606",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        520,
        480
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "term": "={{ $('Loop Over Items').item.json.Nome }}",
        "limit": 1,
        "additionalFields": {}
      },
      "id": "998f6db9-86af-40f8-841e-b3aac419be64",
      "name": "Pipedrive",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1320,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Qj0yKQVuDhWv-AobhB7M1VyCc1BAdbaWElTXpVuWNd0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 306816274,
          "mode": "list",
          "cachedResultName": "Dezembro 2024",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qj0yKQVuDhWv-AobhB7M1VyCc1BAdbaWElTXpVuWNd0/edit#gid=306816274"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Processamento",
              "lookupValue": "0"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "id": "b1abc439-9ce9-4e60-877b-20fbee2c5fc7",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        680,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dealId": 1142
      },
      "id": "e4361462-fb54-4731-8660-549ad57d9a2a",
      "name": "Pipedrive3",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        860,
        320
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "732179a0-6009-42fb-b4b5-571f474b2b6e",
              "leftValue": "={{ $json.stage_id }}",
              "rightValue": "11",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "10704376-de77-4f77-b88e-e6bea7cbcf6f",
      "name": "É Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2040,
        480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $json.deal_id }}",
        "updateFields": {
          "stage_id": 12
        }
      },
      "id": "499a6c98-5e1b-4bda-8702-25c4c4530116",
      "name": "Passa para Aluno",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2260,
        360
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f21016c-850b-476a-9624-cc3eacee7232",
              "name": "row_number",
              "value": "={{ $('Google Sheets').item.json.row_number }}",
              "type": "number"
            },
            {
              "id": "6cebbaa0-9bed-4699-aad8-bd71ff814381",
              "name": "deal_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "ff6304ae-3dd8-4d5a-aba3-6c80d8b9da34",
              "name": "stage_id",
              "value": "={{ $json.stage.id }}",
              "type": "number"
            },
            {
              "id": "c950b557-7640-4a0f-b3f7-b2f3dc5057ec",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "8318772b-2fef-465a-8b67-51cb2d3ab952",
              "name": "nome_produto",
              "value": "={{ $('Google Sheets').item.json['Nome do Produto'] }}",
              "type": "string"
            },
            {
              "id": "da066c2c-dddb-4e85-9bc5-9dd226868906",
              "name": "moeda",
              "value": "={{ $('Google Sheets').item.json.Moeda }}",
              "type": "string"
            },
            {
              "id": "5c697d57-239c-42cc-acb5-ab902261b982",
              "name": "preco_produto",
              "value": "={{\n\n(()=>{\n\n  const preco_produto = $('Google Sheets').item.json['Preço do Produto'];\n  const moeda = $('Google Sheets').item.json.Moeda;\n  const preco_original = $('Google Sheets').item.json['Preço Original'];\n\n  if(moeda == \"BRL\")\n    return preco_produto;\n  else\n  return preco_original;\n})()\n\n}}",
              "type": "number"
            },
            {
              "id": "96c05bbf-88d1-4132-9912-0d105b99bd2a",
              "name": "nome",
              "value": "={{ $('Google Sheets').item.json.Nome }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "28555bec-659d-4ab7-91fa-1c54f81d4e34",
      "name": "Campo do Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        440
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Qj0yKQVuDhWv-AobhB7M1VyCc1BAdbaWElTXpVuWNd0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 306816274,
          "mode": "list",
          "cachedResultName": "Dezembro 2024",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qj0yKQVuDhWv-AobhB7M1VyCc1BAdbaWElTXpVuWNd0/edit#gid=306816274"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Processamento": "1",
            "row_number": "={{ $('Campo do Lead').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nome do Produto",
              "displayName": "Nome do Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome do Produtor",
              "displayName": "Nome do Produtor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome do Afiliado",
              "displayName": "Nome do Afiliado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transação",
              "displayName": "Transação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Meio de Pagamento",
              "displayName": "Meio de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Moeda",
              "displayName": "Moeda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preço do Produto",
              "displayName": "Preço do Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preço Original",
              "displayName": "Preço Original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Número da Parcela",
              "displayName": "Número da Parcela",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recorrência",
              "displayName": "Recorrência",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de Venda",
              "displayName": "Data de Venda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de Confirmação",
              "displayName": "Data de Confirmação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Documento",
              "displayName": "Documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DDD",
              "displayName": "DDD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processamento",
              "displayName": "Processamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a1af3b16-b199-4bda-8877-52e3beeb2996",
      "name": "Registro processado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3140,
        640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    },
    {
      "parameters": {
        "resource": "dealProduct",
        "dealId": "={{ $('Campo do Lead').item.json.deal_id }}",
        "productId": 1,
        "item_price": "={{ $('Campo do Lead').item.json.preco_produto }}",
        "additionalFields": {}
      },
      "id": "0e275312-35bb-40d6-933e-de4e03085bad",
      "name": "Adiciona Ultraformer MPT",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2800,
        300
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      }
    },
    {
      "parameters": {
        "resource": "dealProduct",
        "dealId": "={{ $('Campo do Lead').item.json.deal_id }}",
        "productId": 2,
        "item_price": "={{ $('Campo do Lead').item.json.preco_produto }}",
        "additionalFields": {}
      },
      "id": "5d23d679-e2b5-4ad0-8acd-001e96095389",
      "name": "Adiciona Formação Secreta",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2800,
        580
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ \n\n(()=>{\nlet tempo = Math.floor(Math.random() * 3);\n\nif(tempo == 0)\n    return 1;\nelse\n  return tempo;\n\n})()\n\n}}"
      },
      "id": "b6b807bb-65d8-404d-a889-0ed8dd1b3852",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        500
      ],
      "webhookId": "bdb53069-9ce2-48ba-b7c1-dcfc06c99ae9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8cc63c51-fe7e-4664-8588-6d1eca784fe7",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "3c47325d-4a5a-49be-bde8-d27e54c71e15",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Campo do Lead').item.json.nome_produto }}",
                    "rightValue": "Ultraformer MPT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ultraformer MPT "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73069ab2-29fc-450a-afbb-53837c4532df",
                    "leftValue": "={{ $json.nome_produto.trim() }}",
                    "rightValue": "Formação Secreta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Formação Secreta"
            }
          ]
        },
        "options": {}
      },
      "id": "028b980d-10e0-46ff-9539-7fff6168a92b",
      "name": "Produto comprado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2460,
        500
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "da9513b3-0040-44fc-9edf-5e886ad9e646",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Qj0yKQVuDhWv-AobhB7M1VyCc1BAdbaWElTXpVuWNd0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 306816274,
          "mode": "list",
          "cachedResultName": "Dezembro 2024",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qj0yKQVuDhWv-AobhB7M1VyCc1BAdbaWElTXpVuWNd0/edit#gid=306816274"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Processamento": "2",
            "row_number": "={{ $('Google Sheets').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nome do Produto",
              "displayName": "Nome do Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome do Produtor",
              "displayName": "Nome do Produtor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome do Afiliado",
              "displayName": "Nome do Afiliado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transação",
              "displayName": "Transação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Meio de Pagamento",
              "displayName": "Meio de Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Moeda",
              "displayName": "Moeda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preço do Produto",
              "displayName": "Preço do Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preço Original",
              "displayName": "Preço Original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Número da Parcela",
              "displayName": "Número da Parcela",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recorrência",
              "displayName": "Recorrência",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de Venda",
              "displayName": "Data de Venda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de Confirmação",
              "displayName": "Data de Confirmação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Documento",
              "displayName": "Documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DDD",
              "displayName": "DDD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processamento",
              "displayName": "Processamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "b2c8eb4e-4d88-48f5-8c2f-146f33c02bc6",
      "name": "Registro não processado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        620
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QHPaQBvMXstzhtM3",
          "name": "[ROBOTRIZ] GOOGLE SHEETS"
        }
      }
    }
  ],
  "connections": {
    "Consultar Pessoa": {
      "main": [
        [
          {
            "node": "Existe Pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe Pessoa": {
      "main": [
        [
          {
            "node": "Criar Novo Negócio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar Pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar Pessoa": {
      "main": [
        [
          {
            "node": "Criar Negócio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Empresa": {
      "main": [
        [
          {
            "node": "Consultar Pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Novo Negócio": {
      "main": [
        [
          {
            "node": "Pipedrive OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Negócio": {
      "main": [
        [
          {
            "node": "Pipedrive OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Lead?": {
      "main": [
        [
          {
            "node": "Passa para Aluno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Produto comprado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campo do Lead": {
      "main": [
        [
          {
            "node": "É Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passa para Aluno": {
      "main": [
        [
          {
            "node": "Produto comprado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Ultraformer MPT": {
      "main": [
        [
          {
            "node": "Registro processado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Formação Secreta": {
      "main": [
        [
          {
            "node": "Registro processado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Pipedrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registro processado": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Campo do Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registro não processado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produto comprado": {
      "main": [
        [
          {
            "node": "Adiciona Ultraformer MPT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adiciona Formação Secreta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registro não processado": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3c0885ad-7dab-447c-894b-0660831d36d5",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-11-05T19:02:56.898Z",
      "updatedAt": "2024-11-05T19:02:56.898Z",
      "id": "a95SfBCeJma2foTm",
      "name": "MedColab"
    }
  ]
}