[MEDCOLAB]/oUXagyIfl5GkRs9v.json
{
  "createdAt": "2024-11-05T19:03:29.462Z",
  "updatedAt": "2024-11-09T18:51:00.273Z",
  "id": "oUXagyIfl5GkRs9v",
  "name": "[MEDCOLAB] - [IG][Integração Pipedrive]",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "content": "## Integracao Pipedrive",
        "height": 521.3757645691085,
        "width": 1170.458500878585,
        "color": 3
      },
      "id": "2fa34a4e-b5d2-4f6f-9e43-dcc3e36a5624",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1818,
        410
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "limit": 1,
        "term": "={{ $json.email }}",
        "additionalFields": {
          "exactMatch": true
        }
      },
      "id": "cddaaf0e-1e5d-4daa-ac54-6f933880f15e",
      "name": "Consultar Pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2260,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efb180f8-43ac-4848-93cd-34c12b6da4af",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d5969325-c06e-40d3-b207-24a23b898e97",
      "name": "Existe Pessoa",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        460
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Dados Lead').item.json.nome }}",
        "additionalFields": {
          "email": [
            "=-"
          ],
          "org_id": "={{ $('Dados Lead').item.json.organization_id }}",
          "phone": [
            "={{ $('Dados Lead').item.json.WhatsApp }}"
          ]
        }
      },
      "id": "182051b2-b78a-4de4-9fe5-2fc009f4b05a",
      "name": "Cadastrar Pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2620,
        600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f6b25d6-221b-492f-a763-ce272482d9f9",
              "name": "organization_id",
              "value": "=19",
              "type": "number"
            },
            {
              "id": "1b256a46-e64b-4a6d-98cb-c7ae5316caf6",
              "name": "nome",
              "value": "={{ $json.body.nome }}",
              "type": "string"
            },
            {
              "id": "c48e5459-54a7-42e4-bbb9-98a05a83865d",
              "name": "email",
              "value": "={{ $json.body.email}}",
              "type": "string"
            },
            {
              "id": "3bd48161-4c5d-4385-b988-87dc7eb0313f",
              "name": "profissao",
              "value": "={{ $json.body.profissao }}",
              "type": "string"
            },
            {
              "id": "3ea02367-9528-4579-8f03-361db49515c9",
              "name": "automacao",
              "value": "=IG_{{ $json.body.automacao }}",
              "type": "string"
            },
            {
              "id": "232deb96-ebed-4387-825c-c216c7d9046c",
              "name": "=titulo",
              "value": "={{ $json.body.nome }} - {{ $json.body.profissao }} - {{ $json.body.automacao }}",
              "type": "string"
            },
            {
              "id": "ef3ad2c0-f694-4db2-b89b-9ad1cc5e1763",
              "name": "WhatsApp",
              "value": "={{ $json.body.WhatsApp }}",
              "type": "string"
            },
            {
              "id": "ab47598e-4aea-4496-9d97-86f2ee82b3b2",
              "name": "acao",
              "value": "={{ $json.body.acao }}",
              "type": "string"
            },
            {
              "id": "fc9f2795-c7a3-44d9-a0c0-b8cdb39a616d",
              "name": "maior_dificuldade",
              "value": "={{ $json.body.maior_dificuldade }}",
              "type": "string"
            },
            {
              "id": "3ca640ac-f1d4-4eff-92eb-7db5f43e389a",
              "name": "lead_score",
              "value": "={{ $json.body.lead_score }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "64058e49-8f5d-4190-9d33-a730f28afc77",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        520
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "update",
        "personId": "={{ $json.id }}",
        "updateFields": {
          "customProperties": {
            "property": [
              {
                "name": "0d56cbfad5dd048bc357f2eaf7b316719e977c79",
                "value": "={{ $('Dados Lead').item.json.lead_score }}"
              }
            ]
          },
          "email": [
            "={{ $('Dados Lead').item.json.email }}"
          ]
        }
      },
      "id": "5e69cde5-5a38-456b-adec-53e9fa5afad9",
      "name": "Editar Pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2440,
        760
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "limit": 1,
        "term": "={{ $json.WhatsApp }}",
        "additionalFields": {
          "exactMatch": true
        }
      },
      "id": "ed2ade74-1614-4cc0-aea2-d500be973df5",
      "name": "Consultar Pessoa1",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2260,
        760
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.acao }}",
                    "rightValue": "criar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Criar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48149a1b-7dad-4ee4-86cf-df6ba05e8335",
                    "leftValue": "={{ $json.acao }}",
                    "rightValue": "editar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Editar"
            }
          ]
        },
        "options": {}
      },
      "id": "6493fb9d-e976-41f7-8e5c-5910cdf31b70",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2040,
        520
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "179e06de-722c-4506-8974-fd6009ccf0d1",
        "options": {}
      },
      "id": "42c87228-e171-47eb-b079-0020ce64a5eb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1640,
        520
      ],
      "webhookId": "179e06de-722c-4506-8974-fd6009ccf0d1"
    },
    {
      "parameters": {
        "title": "={{ $('Dados Lead').item.json.titulo }}",
        "org_id": "={{ $('Dados Lead').item.json.organization_id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "44bb9c7fa9f96ad3af11c8097f950770141c26ec",
                "value": "={{ $('Dados Lead').item.json.maior_dificuldade }}"
              }
            ]
          },
          "label": "={{ $('Dados Lead').item.json.automacao }}",
          "person_id": "={{ $json.id }}",
          "stage_id": 11,
          "status": "open"
        }
      },
      "id": "3e89e616-72b2-414c-a38b-35f054ea6e2e",
      "name": "Criar Negocio",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2780,
        600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "title": "={{ $('Dados Lead').item.json.titulo }}",
        "org_id": "={{ $('Dados Lead').item.json.organization_id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "44bb9c7fa9f96ad3af11c8097f950770141c26ec",
                "value": "={{ $('Dados Lead').item.json.maior_dificuldade }}"
              }
            ]
          },
          "label": "={{ $('Dados Lead').item.json.automacao}}",
          "person_id": "={{ $('Consultar Pessoa').item.json.id }}",
          "stage_id": 11,
          "status": "open"
        }
      },
      "id": "0d86f6da-d981-4d25-b4f0-a9bda0ab762c",
      "name": "Criar Novo Negocio",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2620,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "1zsyuy5qRFdVlrpi",
          "name": "Pipedrive Medicolab"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Consultar Pessoa": {
      "main": [
        [
          {
            "node": "Existe Pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe Pessoa": {
      "main": [
        [
          {
            "node": "Criar Novo Negocio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar Pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar Pessoa": {
      "main": [
        [
          {
            "node": "Criar Negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Pessoa1": {
      "main": [
        [
          {
            "node": "Editar Pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Consultar Pessoa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar Pessoa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "36e39dcd-0628-439b-b68b-ceed1764cb34",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-11-05T19:02:56.898Z",
      "updatedAt": "2024-11-05T19:02:56.898Z",
      "id": "a95SfBCeJma2foTm",
      "name": "MedColab"
    }
  ]
}